ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.05rem;
}
.mui-bar-nav ~ .mui-content {
  padding-top: 44px;
  padding-bottom: 1.2rem;
}
.mui-input-row .mui-icon.mui-icon-clear {
  color: #DDDDDD;
  font-size: 22px;
  z-index: 6;
}
input,
textarea {
  border: none;
  padding: 10px;
  margin-bottom: 0;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c3c3c3;
  font-size: 0.3rem;
}
.goods-title {
  padding: 0;
  margin-top: 0.2rem;
  margin-bottom: 1px;
  background-color: #ffffff;
  position: relative;
  padding-right: 30px;
}
.goods-title .mui-icon-clear {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -12px;
  color: #DDDDDD;
}
.goods-title textarea {
  text-align: justify;
  font-size: 0.3rem;
}
.goods-img-contianer {
  background-color: #ffffff;
  padding: 0.3rem 0.15rem;
  display: flex;
  align-items: center;
}
.goods-img-contianer .add-goods-img {
  position: relative;
  padding: 10px;
  width: 1.6rem;
  height: 1.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px dashed #DDDDDD;
  font-size: 0.3rem;
  color: #999999;
  line-height: 1.2;
}
.goods-img-contianer .picture_display_chear {
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  overflow: visible;
  margin-right: 0.2rem;
}
.goods-img-contianer .picture_display_chear .mui-close {
  position: absolute!important;
  top: -8px;
  right: -8px;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 18px;
  background-color: #F00;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  z-index: 9;
}
.goods-img-contianer .picture_display_chear::nth-of-type(4) {
  margin-right: 0;
}
.goods-img-contianer .picture_display_chear img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.goods-img-desc {
  height: 0.5rem;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  padding: 0.15rem;
  font-size: 0.24rem;
  color: #999999;
}
.option-container {
  margin-bottom: 0.2rem;
}
.option-container .mui-table-view:before,
.option-container .mui-table-view::after {
  height: 0;
}
.option-container .mui-table-view-cell {
  padding: 0.3rem 0.2rem;
  box-sizing: border-box;
  font-size: 0.3rem;
  color: #333333;
}
.option-container .mui-table-view-cell:after {
  background-color: #DDDDDD;
}
.option-container .mui-table-view-cell.mui-active {
  background-color: #ffffff;
}
.option-container .mui-switch.mui-active {
  border-color: #ffd626;
  background-color: #ffd626;
}
.option-container p {
  color: #999999;
  font-size: 0.24rem;
}
.cont-text {
  color: #999999;
  font-size: 0.3rem;
  margin-left: 0.32rem;
}
.sign {
  color: #E80D0D;
  font-size: 0.32rem;
  margin-left: 2px;
  margin-top: -2px;
}
.mui-input-row label {
  width: auto;
  padding-left: 0;
  flex-shrink: 0;
}
.option-container .option-group-list {
  padding: 0;
}
.option-container .option-group-list .mui-table-view-cell {
  padding: 0.15rem 0;
}
.option-container .option-group-list .mui-table-view-cell::after {
  left: 0;
  right: 15px;
}
.option-container .option-group-list .mui-input-row {
  display: flex;
  align-items: center;
  padding: 0.12rem 0;
  padding-right: 1.2rem;
  position: relative;
  max-width: 100%;
}
.option-container .option-group-list .mui-input-row .mui-icon.mui-icon-clear {
  position: absolute;
  right: 0.8rem;
}
.option-container .option-group-list .option-group {
  padding-left: 15px;
  width: 6.67rem;
  border: 1px solid #DDDDDD;
  border-left: none;
  margin: 0.3rem 0;
  position: relative;
  overflow: visible;
  background-color: #ffffff;
}
.option-container .option-group-list .mui-input-row label ~ input {
  flex-grow: 1;
}
.option-container .option-group-list label {
  flex-shrink: 0;
}
.option-container .option-group-list .del-container {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #ffffff;
  display: inline-flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 6;
  margin-top: -0.5rem;
  right: -0.3rem;
  border-radius: 50%;
}
.option-container .option-group-list .del-container::after {
  content: '';
  position: absolute;
  z-index: 2;
  width: 0.3rem;
  height: 0.6rem;
  background-color: #ffffff;
  border: 1px solid #DDDDDD;
  border-right: 0;
  border-radius: 0.8rem 0 0 0.8rem;
  left: 0;
}
.option-container .option-group-list .del-btn {
  z-index: 6;
  width: 0.44rem;
  height: 0.44rem;
  border-radius: 50%;
  background-color: #E80D0D;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.option-container .option-group-list .del-btn i {
  display: inline-block;
  width: 0.26rem;
  height: 0.03rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.option-container .option-group-list:after {
  height: 0;
}
.add-specification-title {
  height: 0.7rem;
  width: 100%;
  padding-left: 0.18rem;
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  font-size: 0.3rem;
  color: #333333;
}
.add-specification-title img {
  width: 0.38rem;
  height: auto;
  margin-right: 0.18rem;
}
.cont-text.mui-pull-right {
  padding-right: 0.5rem;
  color: #999999;
}
.mui-navigate-right:after {
  font-size: 0.36rem;
}
.mui-table-view-cell .mui-input-row {
  display: flex;
  align-items: center;
  padding: 0;
}
.mui-table-view-cell .mui-input-row label {
  padding: 0;
  padding-right: 15px;
}
.mui-table-view-cell .mui-input-row input[type=number],
.mui-table-view-cell .mui-input-row input[type=text] {
  padding: 0;
  height: 25px;
  box-sizing: border-box;
  flex-grow: 1;
}
.option-container {
  background-color: #ffffff;
}
.choice-team-title {
  position: relative;
  padding: 0.44rem 0.21rem;
}
.choice-team-title::after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
}
.choice-team-content {
  padding-left: 0.8rem;
}
.choice-team-content .team-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.3rem;
  position: relative;
  padding: 0.3rem 0.2rem;
}
.choice-team-content .team-list.active {
  color: #F5CA3A;
}
.choice-team-content .team-list.active::before {
  content: '';
  display: inline-block;
  width: 0.37rem;
  height: 0.31rem;
  position: absolute;
  background: url('../image/icon/draw-icono.png') center center no-repeat;
  background-size: contain;
  right: 15px;
  top: 50%;
  margin-top: -10px;
}
.btn-section {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 199;
  background-color: #F5CA3A;
  height: 1.09rem;
  bottom: 0;
  width: 100%;
}
.btn-section div {
  color: #FFFFFF;
  width: 50%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.btn-section .putaway-btn::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #FFFFFF;
  top: 50%;
  margin-top: -0.185rem;
  height: 0.37rem;
  right: 0;
  width: 1px;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
