html,
body {
	width: 100%;
	height: 100%;
}

[v-cloak] {
	display: none;
}

.mui-content {
	height: 100%;
	padding-bottom: 90px;
}

.mui-control-content {
	height: auto;
	background-color: #f1f2f3;
}

.mui-bar-tab.theme-change {
	height: 90px;
	top: 100vh;
	bottom: auto;
	margin-top: -90px;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .1);
	box-shadow: 0 0 1px rgba(0, 0, 0, .1);
}

.mui-bar-tab .mui-tab-item {
	height: 90px;
	position: relative;
	overflow: hidden;
	width: 25%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
}

.theme-change img {
	height: 80%;
	width: auto;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

.theme-change .mui-tab-item.mui-active {
	padding: 0;
}

.theme-change .mui-tab-item.mui-active img {
	height: 90%;
}

.save-edit {
	height: 44px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	z-index: 16;
	font-size: 14px;
	color: #2289FF;
	margin-right: -5px;
}

.mui-tab-item {
	touch-action: pan-y;
}

.qrimg {
	width: 125px;
	height: auto;
	margin-bottom: 5px;
}

/* 主题一 */
.theme1 {
	position: relative;
	overflow: hidden;
	min-height: 530px;
	background-color: #FFFFFF;
}

.theme1 .bgimg,
.theme2 .bgimg {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
}

.theme-body {
	position: absolute;
	width: 100%;
	height: auto;
	top: 10px;
	bottom: 0;
	z-index: 2;
}

.user-head-img {
	width: 72px;
	height: 72px;
	overflow: hidden;
	border-radius: 50%;
}

.theme-body1 {
	width: 6.5rem;
	left: 50%;
	margin-left: -3.25rem;
	background: url("../image/share/bg-img05.png")center top no-repeat;
	background-size: contain;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 50px;
}

.theme-body1 .qrimg {
	margin-top: 5px;
}

.theme-body1 h2 {
	font-size: 18px;
	font-weight: normal;
	padding: 20px 0;
	margin-bottom: 10px;
	position: relative;
}

.theme-body1 h2::after {
	content: '';
	width: 40px;
	height: 2px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: 0;
	background-color: #2289FF;
}

.input-section {
	width: 60%;
}

.theme-body1 .input-section p {
	color: #333333;
	font-size: 0.28rem;
	margin-bottom: 15px;
}

.theme-body1 .bottom-logo {
	width: 75px;
	margin-top: 0.2rem;
}

/* 第二个主题 */
.theme2 {
	height: auto;
	min-height: 500px;
	background-color: #ffffff;
}

.theme2 .qrimg {
	margin-top: 20px;
}


.head-img-cont {
	overflow: hidden;
	height: 6rem;
	position: relative;
	padding: 0;
	line-height: 0;
	z-index: 1;
	margin-bottom: 0;
	background-color: #FFFFFF;
}

.head-img-cont .bgimg {
	width: auto;
	height: 6rem;
}

.theme-body2 {
	margin-top: 10px;
	width: 90%;
	left: 5%;
	background-size: contain;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.theme-body2 h2 {
	font-size: 18px;
	font-weight: normal;
	padding: 10px 0;
	position: relative;
	color: #FFFFFF;
}

.theme-body2 .user-head-img {
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.6);
}

.theme-body2 .input-section {
	border: none;
	color: #FFFFFF;
	margin-bottom: 0;
}

.theme-body2 .input-section p {
	color: #FFFFFF;
	font-size: 0.3rem;
}

.theme-body2 textarea::-webkit-input-placeholder {
	color: #FFFFFF;
}

.theme-body2 .qrimg {
	border: 4px solid #FFFFFF;
	border-radius: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 5px;
	margin-top: 1.5rem;
}

.head-img-cont .circular-bead {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
	z-index: 3;
}

.theme-body2 .bottom-logo {
	margin-top: 20px;
	width: 75px;
}

/* 第三个主题 */
.theme3 {
	width: 100%;
	min-height: 520px;
	line-height: 0;
}

.theme3 .bgimg {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
	line-height: 0;
}

.theme-body3 {
	margin-top: 10px;
	width: 100%;
	background-size: contain;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
}

.theme-body3 h2 {
	font-size: 18px;
	font-weight: normal;
	padding: 10px 0;
	position: relative;
	color: #FFFFFF;
}

.theme-body3 .qr-cont {
	line-height: 1.4;
	margin-bottom: 1rem;
}

.theme-body3 .qr-cont p {
	text-align: center;
}

.theme-body3 .type_desc {
	color: #FFFFFF;
	margin-bottom: 0;
}

.theme-body3 .bottom-logo {
	width: 90px;
	height: auto;
	margin-top: 0.3rem;
}

.theme-body3 .input-section {
	margin: 20px 0;
	width: 6rem;
	border: none;
	color: #FFFFFF;
}

.theme-body3 .input-section p {
	text-align: center;
	color: #FFFFFF;
}

.theme-body3 textarea::-webkit-input-placeholder {
	color: #FFFFFF;
}

/* 第四个主题 */
.theme4 {
	background-color: #FFFFFF;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 10px;
}

.theme4 .bgimg {
	width: 100%;
	max-height: 250px;
	z-index: 1;
}

.theme4 .user-head-img {
	position: relative;
	margin-top: -36px;
	z-index: 2;
}

.theme4 h2 {
	font-size: 18px;
	font-weight: normal;
	padding: 10px 0;
	position: relative;
	color: #333333;
}

.theme4 .input-section {
	border: none;
}

.theme4 .bottom-logo {
	position: absolute;
	left: 0.3rem;
	top: 0.3rem;
	z-index: 3;
	width: 1.5rem;
}

.replace-img {
	position: absolute;
	right: 0.3rem;
	top: 0.3rem;
	z-index: 9;
	border: 1px dashed #FFFFFF;
	color: #FFFFFF;
	font-size: 0.28rem;
	padding: 0 4px;
	line-height: 1.4;
}
