* {
  touch-action: pan-y;
}
.chat-container {
  background-color: #ffffff;
  padding-top: 140px;
  height: 100vh;
}
.chat-container .mui-indexed-list-cont {
  position: relative;
  border: none;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
}
.chat-container .fixed-section {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  background-color: #ffffff;
  height: 140px;
  overflow: hidden;
}
.chat-container .segmentedControl {
  font-size: 15px;
  color: #333333;
}
.chat-container .search-bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #2289ff;
  height: 100px;
  padding: 0 20px;
}
.chat-container .search-bar img {
  height: 22px;
  margin: 0 15px;
}
.chat-container .mui-indexed-list-search {
  background-color: rgba(255, 255, 255, 0.5);
  width: 62%;
  color: #ffffff;
  border-radius: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: none;
  box-shadow: none;
}
.chat-container .operating-area {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  padding-left: 20px;
  margin-top: 10px;
}
.chat-container .operating-area #message,
.chat-container .operating-area .customer-edit {
  line-height: 0;
  height: 50px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.chat-container .switch-container {
  padding: 0 20px;
}
.chat-container .mui-scroll-wrapper {
  padding-top: 1px;
  padding-bottom: 0;
}
.chat-container .switch-inside {
  display: flex;
  align-items: center;
  box-shadow: 0 0 7px 0 #95bbfe;
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 60px;
  margin-top: -30px;
}
.chat-container .switch-inside .switch-cont {
  height: 60px;
  font-size: 15px;
  color: #333333;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.chat-container .switch-inside .switch-cont.active {
  color: #2289ff;
}
.chat-container .switch-inside .switch-cont:first-of-type::after,
.chat-container .switch-inside .switch-cont:last-of-type::before {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 50%;
  background-color: #eeeeee;
  right: 0;
  transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
}
.chat-container .switch-inside .switch-cont:last-of-type::before {
  left: 0;
}
.chat-container .switch-inside .iconfont {
  margin-right: 5px;
}
.chat-container .mui-indexed-list-inner {
  background-color: #ffffff;
  height: 100%;
  position: relative;
}
.chat-container .tips-cont {
  list-style-type: none;
  padding: 10px;
  display: flex;
  margin: 0;
  background-color: #ffffff;
}
.chat-container .tips-cont li {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #333333;
}
.chat-container .tips-cont li i {
  display: block;
  width: 30px;
  height: 15px;
  margin-right: 4px;
  border-radius: 5px;
  background-color: #68b0ff;
}
.chat-container .tips-cont li .followNum {
  background-color: #f9d05e;
}
.chat-container .tips-cont li .bargainNum {
  background-color: #fa5954;
}
.chat-container .trapezium,
.chat-container .trapezium1,
.chat-container .trapezium2 {
  width: 260px;
  border-bottom: 30px solid #68B0FF;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  transform: rotate(180deg);
  margin: 4px auto;
}
.chat-container .trapezium1 {
  width: 195px;
  border-bottom: 30px solid #F9D05E;
  margin: 4px auto;
}
.chat-container .trapezium2 {
  width: 130px;
  border-bottom: 30px solid #FA5954;
  margin: 4px auto;
}
.chat-container .trapezium-container {
  position: relative;
  padding-bottom: 10px;
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
}
.chat-container .trapezium-tips {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -150%);
  -webkit-transform: translate(-50%, -150%);
  font-size: 12px;
  color: #ffffff;
}
.chat-container .mui-segmented-control.mui-segmented-control-inverted {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
}
.chat-container .mui-segmented-control.mui-segmented-control-inverted::after {
  content: '';
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #dddddd;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
}
.chat-container .mui-segmented-control.mui-segmented-control-inverted a {
  width: 20%;
}
.chat-container .mui-control-content {
  background-color: #ffffff;
  position: relative;
}
.chat-container .mui-control-item.mui-active {
  position: relative;
  color: #2289ff;
}
.chat-container .mui-control-item.mui-active::before {
  content: '';
  width: 90%;
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 5%;
  background-color: #2289ff;
  z-index: 2;
}
.chat-container .customer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.chat-container .customer-list .user-head-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 10px;
  -webkit-box-shadow: 0 0 0 0.2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 0.2px rgba(0, 0, 0, 0.3);
}
.chat-container .customer-list .user-head-img img {
  width: 100%;
  height: 100%;
}
.chat-container .customer-list .customer-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 50px;
  justify-content: space-between;
  padding: 0;
  max-width: 80%;
}
.chat-container .customer-list .customer-left .left-top,
.chat-container .customer-list .customer-left .left-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #333333;
}
.chat-container .customer-list .customer-left .left-bottom {
  font-size: 12px;
}
.chat-container .customer-list .user-name {
  width: 70%;
}
.chat-container .customer-list .timer-tips {
  color: #999999;
  flex-shrink: 0;
}
.chat-container .customer-list .bottom-last {
  color: #2289ff;
}
.chat-container .mui-scroll-wrapper .mui-table-view-cell:after {
  left: 75px;
}
.chat-container .mui-scroll-wrapper .mui-table-view:after {
  height: 0;
}
.chat-container .mui-scroll-wrapper .mui-table-view-cell:last-child:after {
  height: 1px;
}
.chat-container .crm-scroll-cont .user-head-img,
.chat-container .friend-scroll-cont .user-head-img {
  border-radius: 50%;
}
.chat-container .crm-scroll-cont .mui-table-view-cell:after,
.chat-container .friend-scroll-cont .mui-table-view-cell:after {
  left: 75px;
}
.chat-container .crm-scroll-cont .customer-list,
.chat-container .friend-scroll-cont .customer-list {
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.chat-container .crm-scroll-cont .customer-left,
.chat-container .friend-scroll-cont .customer-left {
  justify-content: center;
}
.chat-container .crm-scroll-cont .customer-left .left-bottom,
.chat-container .friend-scroll-cont .customer-left .left-bottom {
  justify-content: flex-start;
}
.chat-container .crm-scroll-cont .customer-left .tags,
.chat-container .friend-scroll-cont .customer-left .tags {
  background-color: #68b0ff;
  color: #ffffff;
  border-radius: 10px;
  padding: 3px 5px 2px;
  margin-right: 5px;
  font-size: 10px;
  line-height: 1;
  max-width: 80px;
}
.chat-container .crm-scroll-cont .customer-left .tags-p,
.chat-container .friend-scroll-cont .customer-left .tags-p {
  background-color: #f9d05e;
}
.chat-container .crm-scroll-cont .status,
.chat-container .friend-scroll-cont .status {
  font-size: 12px;
  color: #999999;
}
.chat-container .crm-scroll-cont .left-bottom,
.chat-container .friend-scroll-cont .left-bottom {
  margin-top: 10px;
}
.chat-container .crm-scroll-cont .letter-serial.mui-table-view-cell:after,
.chat-container .friend-scroll-cont .letter-serial.mui-table-view-cell:after {
  left: 0;
}
.chat-container .friend-scroll-cont .customer-left {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.chat-container .friend-scroll-cont .check-business-card {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #999999;
  margin: 0;
}
.chat-container .friend-scroll-cont .user-name {
  font-size: 14px;
}
.chat-container .mui-indexed-list-bar {
  position: fixed;
  z-index: 16;
}
.chat-container .mui-indexed-list-bar a {
  height: 3.8% !important;
}
.chat-container .top-badge,
.chat-container .friend-tip {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 10px;
  padding: 3px 6px 1px;
}
.chat-container .friend-tip {
  top: 12px;
  right: 3px;
}
.chat-container .mui-badge-danger {
  font-size: 10px;
  padding: 3px 6px 1px;
  background-color: #ff0000;
}
.chat-container .list-container .mui-table-view-divider:before,
.chat-container .crm-scroll-cont .mui-table-view-divider:before,
.chat-container .friend-scroll-cont .mui-table-view-divider:before,
.chat-container .list-container .mui-table-view-divider:after,
.chat-container .crm-scroll-cont .mui-table-view-divider:after,
.chat-container .friend-scroll-cont .mui-table-view-divider:after {
  height: 1px;
  background-color: #dddddd;
}
.chat-container .crm-scroll-cont:before,
.chat-container .friend-scroll-cont:before {
  height: 0;
}
.chat-container .mui-table-view:before {
  height: 0;
  background-color: #FA5954;
}
.chat-container .crm-scroll-cont .mui-table-view-cell:after,
.chat-container .friend-scroll-cont .mui-table-view-cell:after {
  background-color: #dddddd;
}
.chat-container .list-container .mui-table-view-cell:after {
  background-color: #dddddd;
}
.chat-container .void-data-tips {
  font-size: 16px;
  color: #d6d6d6;
  padding-top: 30px;
  text-align: center;
}
.chat-container .void-data-tips img {
  max-width: 200px;
  margin: 0 auto;
}
.chat-container .void-data-tips p {
  font-size: 14px;
  color: #d6d6d6;
}
