.user-part1{
	display: flex;
	padding: 0 0.2rem;
	box-sizing: border-box;
}
.user-head-cont{
	width: 2.14rem;
	height: 2.14rem;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-top: -1.2rem;
	flex-shrink: 0;
	// background-color: aliceblue;
	z-index: 3;
	.user-head-img{
		width: 1.6rem;
		height: 1.6rem;
		overflow: hidden;
		border-radius: 50%;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.rank{
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
	}
}