.user-part1 {
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
}
.discover-body {
  background-color: #ffffff;
}
.user-head-cont {
  width: 107px;
  height: 123px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  padding-bottom: 11px;
  z-index: 6;
  margin-top: -60px;
}
.user-head-cont .user-head-img {
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
}
.user-head-cont .user-head-img img {
  width: 100%;
  height: 100%;
}
.user-head-cont .rank {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
}
.user-info {
  max-width: 250px;
  overflow: hidden;
  padding-top: 15px;
}
.user-info .user-info-top {
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.user-info .user-info-top .user-name {
  display: inline-block;
  max-width: 180px;
}
.user-info .user-info-top .vip,
.user-info .user-info-top .vip1,
.user-info .user-info-top .vip2,
.user-info .user-info-top .vip3,
.user-info .user-info-top .vip4,
.user-info .user-info-top .vip5 {
  padding: 0 8px;
  height: 15px;
  overflow: hidden;
  display: inline-flex;
  line-height: 15px;
  font-size: 10px;
  color: #FFFFFF;
  margin-left: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(to right, #b7c4dc, #8a9bb9);
}
.user-info .user-info-top .vip1 {
  background: linear-gradient(to right, #f3e3b9, #e9cb7d);
}
.user-info .user-info-top .vip2 {
  background: linear-gradient(to right, #f4dec6, #e3a472);
}
.user-info .user-info-top .vip3,
.user-info .user-info-top .vip4,
.user-info .user-info-top .vip5 {
  background: linear-gradient(to right, #f4dec6, #e3a472);
}
.user-info p {
  margin: 0;
  font-size: 13px;
  color: #999999;
}
.screen-menu {
  padding: 15px 5px 15px;
  margin: 0;
  display: flex;
  list-style: none;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.screen-menu.fixed {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 10px 5px;
  background-color: #ffffff;
}
.screen-menu::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
}
.screen-menu li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  font-size: 12px;
  height: 25px;
  background-color: #F2F2F2;
  border-radius: 5px;
  margin: 0 5px;
  color: #333333;
  box-sizing: border-box;
}
.screen-menu li.active {
  background-color: #D7EAFF;
  color: #2289FF;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
}
.screen-menu li.active::after {
  content: '';
  display: block;
  position: absolute;
  width: 200%;
  height: 200%;
  border: 1px solid #2289FF;
  left: 0;
  top: 0;
  border-radius: 10px;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  box-sizing: border-box;
}
.discover-list-container {
  box-sizing: border-box;
  padding-bottom: 25px;
}
.discover-list-container ul {
  margin: 0;
  padding: 0;
}
.discover-list-container .mui-table-view-cell {
  padding: 20px 10px;
}
.discover-list-container .mui-table-view-cell.mui-active {
  background-color: #ffffff;
}
.discover-list-container .mui-table-view-cell::after {
  background-color: #DDDDDD;
  transform: scaleY(0.2);
  -webkit-transform: scaleY(0.2);
}
.discover-list-container .my-dynamic-list {
  position: relative;
}
.discover-list-container .my-dynamic-list .user-head-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 7.5px;
}
.discover-list-container .my-dynamic-list .user-names {
  margin-right: 7.5px;
}
.discover-list-container .my-dynamic-list .user-names,
.discover-list-container .my-dynamic-list .cretae-timer,
.discover-list-container .my-dynamic-list .click-heart {
  font-size: 14px;
  color: #333333;
  display: inline-block;
  max-width: 150px;
}
.discover-list-container .my-dynamic-list .cretae-timer {
  color: #999999;
}
.discover-list-container .my-dynamic-list .dynamic-list-head {
  margin-bottom: 10px;
}
.discover-list-container .my-dynamic-list .dynamic-list-head,
.discover-list-container .my-dynamic-list .dynamic-list-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discover-list-container .my-dynamic-list .click-heart {
  display: inline-flex;
  align-items: center;
}
.discover-list-container .my-dynamic-list .click-heart .heart-icon {
  display: inline-flex;
  width: 18.5px;
  height: 15px;
  background: url("../image/icon/friends_detail-icon-01.png") center center no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.discover-list-container .my-dynamic-list .click-heart .heart-icon.active {
  display: inline-flex;
  width: 18.5px;
  height: 15px;
  background: url("../image/icon/friends_detail-icon-02.png") center center no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.discover-list-container .my-dynamic-list .illustrating-picture {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin-top: 10px;
  padding-right: 20px;
}
.discover-list-container .my-dynamic-list .illustrating-picture li {
  display: inline-flex;
  width: 33.3333%;
  height: 90px;
  overflow: hidden;
  margin: 0;
  padding: 2px;
}
.discover-list-container .my-dynamic-list .illustrating-picture li:last-of-type {
  margin-right: 0;
}
.discover-list-container .my-dynamic-list .illustrating-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.discover-list-container .my-dynamic-list .dynamic-desc {
  text-align: justify;
  line-height: 1.4;
  font-size: 17px;
  color: #040404;
}
.discover-list-container .my-dynamic-list .delete-list {
  font-size: 14px;
  color: #2289FF;
  margin-left: 15px;
}
.discover-list-container .official-article {
  display: flex;
}
.discover-list-container .official-article .article-img {
  width: 114px;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 12px;
}
.discover-list-container .official-article .article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discover-list-container .official-article .article-right {
  width: 231.5px;
}
.discover-list-container .official-article .article-right p {
  text-align: justify;
  color: #084C9A;
  font-size: 14px;
  min-height: 41px;
}
.discover-list-container .official-article .stick-sign {
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.discover-list-container .official-article .stick-sign img {
  width: 25px;
  height: auto;
}
.discover-list-container .official-article .official-article-status {
  font-size: 12px;
  color: #999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discover-list-container .official-article .official-article-status img {
  height: 15.5px;
}
.discover-list-container .official-article .official-article-status span img {
  height: 11px;
  width: auto;
  margin: 0 5px 0 10px;
}
.discover-list-container .goods-list {
  display: flex;
}
.discover-list-container .goods-list .goods-img {
  width: 113.5px;
  height: 113.5px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 12px;
}
.discover-list-container .goods-list .goods-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discover-list-container .goods-list .goods-list-right {
  width: 4.63rem;
}
.discover-list-container .goods-list .goods-list-right p {
  text-align: justify;
  color: #333333;
  font-size: 14px;
}
.discover-list-container .goods-list .goods-list-right p.stick-sign {
  color: #084C9A;
}
.discover-list-container .goods-list .goods-nature {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #999999;
  padding: 30px 0 5px;
}
.discover-list-container .goods-list .goods-earnings {
  display: flex;
  justify-content: space-between;
}
.discover-list-container .goods-list .goods-earnings span {
  font-size: 12px;
  color: #F01B14;
}
.discover-list-container .goods-list .goods-earnings img {
  height: 0.31rem;
}
.discover-list-container .team-name {
  position: relative;
  font-size: 12px;
  color: #333333;
  display: inline-flex;
  padding: 3px;
  line-height: 1;
  max-width: 80px;
  overflow: visible;
  align-items: center;
}
.discover-list-container .team-name::after {
  content: '';
  display: block;
  position: absolute;
  width: 200%;
  height: 200%;
  border: 1px solid #333333;
  left: 0;
  top: 0;
  border-radius: 5px;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  box-sizing: border-box;
}
.discover-list-container .team-name img.team-icon {
  width: 12.5px;
  height: auto;
  margin-right: 2px;
  flex-shrink: 0;
}
.discover-list-container .team-name span.mui-ellipsis {
  color: #333333;
  margin-right: -2px;
}
.discover-list-container .curriculum-list {
  display: flex;
}
.discover-list-container .curriculum-list .curriculum-list-right {
  flex-grow: 1;
}
.discover-list-container .curriculum-list p {
  color: #333333;
}
.discover-list-container .curriculum-list .curriculum-img {
  width: 113.5px;
  height: 80.5px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 12px;
}
.discover-list-container .curriculum-list .curriculum-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discover-list-container .curriculum-list .status-cont {
  padding-top: 5px;
}
.discover-list-container .curriculum-list .cretae-timer {
  font-size: 12px;
  color: #999999;
  display: inline-block;
  max-width: 150px;
}
.discover-list-container .curriculum-list .train-ing,
.discover-list-container .curriculum-list .ting-ke {
  font-size: 12px;
  color: #999999;
}
.discover-list-container .curriculum-list .train-ing {
  display: inline-flex;
  align-items: center;
  color: #2289FF;
}
.mui-ellipsis-3 {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal!important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
