.swiper-container {
	min-height: 5.63rem;
}

.swiper-slide {
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5.63rem;
	width: 100%;
	background-color: #FFFFFF;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #FFFFFF;
	opacity: 0.8;
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.swiper-pagination-bullet {
	background-color: rgba(255, 255, 255, 1);
	opacity: 0.3;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.user-part1 {
  display: flex;
  padding: 0 0.2rem;
  box-sizing: border-box;
}
.discover-body {
  background-color: #ffffff;
}
.user-head-cont {
  width: 2.14rem;
  height: 2.44rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  padding-bottom: 0.12rem;
  z-index: 6;
  margin-top: -0.93rem;
}
.user-head-cont .user-head-img {
  width: 1.7rem;
  height: 1.7rem;
  overflow: hidden;
  border-radius: 50%;
}
.user-head-cont .user-head-img img {
  width: 100%;
  height: 100%;
}
.user-head-cont .rank {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
}
.user-info {
  max-width: 5rem;
  overflow: hidden;
  padding-top: 0.3rem;
}
.user-info .user-info-top {
  font-size: 0.35rem;
  color: #333333;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
}
.user-info .user-info-top .user-name {
  display: inline-block;
  max-width: 3.6rem;
}
.user-info .user-info-top .vip,
.user-info .user-info-top .vip1,
.user-info .user-info-top .vip2,
.user-info .user-info-top .vip3 {
  padding: 0 0.16rem;
  height: 0.3rem;
  overflow: hidden;
  display: inline-flex;
  line-height: 0.3rem;
  font-size: 0.2rem;
  color: #FFFFFF;
  margin-left: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  background: linear-gradient(to right, #b7c4dc, #8a9bb9);
}
.user-info .user-info-top .vip1 {
  background: linear-gradient(to right, #f3e3b9, #e9cb7d);
}
.user-info .user-info-top .vip2 {
  background: linear-gradient(to right, #f4dec6, #e3a472);
}
.user-info .user-info-top .vip3,
.user-info .user-info-top .vip4,
.user-info .user-info-top .vip5 {
  background: linear-gradient(to right, #f4dec6, #e3a472);
}
.user-info p {
  margin: 0;
  font-size: 0.26rem;
  color: #999999;
}