@font-face {
	font-family: 'aslkdfjlsdf';
	src: url('../fonts/iconfont.eot');
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iconfont.woff2') format('woff2'),
		url('../fonts/iconfont.woff') format('woff'),
		url('../fonts/iconfont.ttf') format('truetype'),
		url('../ifonts/confont.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "aslkdfjlsdf" !important;
	font-size: 24px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.swiper-container {
	min-height: 5.63rem;
}

.swiper-slide {
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5.63rem;
	width: 100%;
	background-color: #FFFFFF;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #FFFFFF;
	opacity: 0.8;
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.swiper-pagination-bullet {
	background-color: rgba(255, 255, 255, 1);
	opacity: 0.3;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.user-part1 {
	display: flex;
	padding: 0 0.2rem;
	box-sizing: border-box;
}

.discover-body {
	background-color: #ffffff;
}

.user-head-cont {
	width: 2.14rem;
	height: 2.44rem;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-shrink: 0;
	overflow: hidden;
	padding-bottom: 0.12rem;
	z-index: 6;
	margin-top: -1.2rem;
}

.user-head-cont .user-head-img {
	width: 1.7rem;
	height: 1.7rem;
	overflow: hidden;
	border-radius: 50%;
}

.user-head-cont .user-head-img img {
	width: 100%;
	height: 100%;
}

.user-head-cont .rank {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 3;
}

.user-info {
	max-width: 5rem;
	overflow: hidden;
	padding-top: 0.1rem;
}

.user-info .user-info-top {
	font-size: 0.35rem;
	color: #333333;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}

.user-info .user-info-top .user-name {
	display: inline-block;
	max-width: 3.6rem;
	font-size: 16px;
	font-weight: 700;
}

.user-info .user-info-top .vip,
.user-info .user-info-top .vip1,
.user-info .user-info-top .vip2,
.user-info .user-info-top .vip3 {
	padding: 0 0.16rem;
	height: 0.3rem;
	overflow: hidden;
	display: inline-flex;
	line-height: 0.3rem;
	font-size: 0.2rem;
	color: #FFFFFF;
	margin-left: 0.2rem;
	border-bottom-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
	background: linear-gradient(to right, #b7c4dc, #8a9bb9);
}

.user-info .user-info-top .vip1 {
	background: linear-gradient(to right, #f3e3b9, #e9cb7d);
}

.user-info .user-info-top .vip2 {
	background: linear-gradient(to right, #f4dec6, #e3a472);
}

.user-info .user-info-top .vip3,
.user-info .user-info-top .vip4,
.user-info .user-info-top .vip5 {
	background: linear-gradient(to right, #f4dec6, #e3a472);
}

.user-info p {
	margin: 0;
	font-size: 0.26rem;
	color: #999999;
}

.dynamic-container {
	position: relative;
	height: auto;
	background-color: #FFFFFF;
}

/* 评论 */
.mui-content {
	position: relative;
}
.mui-bar-footer{
	display: none;
}
.mui-bar {
	z-index: 1045;
	height: auto;
	box-shadow:none;
	padding: 0;
	/* display: none; */
}

.comment-container {
	min-height: 50px;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	width: 100%;
	height: 1rem;
	display: flex;
	align-items: center;
	background-color: #F2F2F2;
	padding: 0 0.1rem;
}

.comment-container::before {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.comment-container textarea {
	border: none;
	width: auto;
	flex-grow: 1;
	margin: 0;
	padding: 0.1rem;
	font-size: 0.3rem;
	line-height: 1.4;
	height: 80%;
	box-sizing: border-box;
}

.comment-container span {
	display: inline-flex;
	background-color: #2289ff;
	color: #FFFFFF;
	padding: 0 0.2rem;
	height: 80%;
	align-items: center;
	margin-left: 0.1rem;
	flex-shrink: 0;
	border-radius: 0.1rem;
	font-size: 0.28rem;
}

/* 发动态 */
.year-dom {
	padding: 0.6rem 0.2rem 0.2rem;
}

.issue-dynamics {
	display: flex;
	align-items: center;
	padding: 0 0.2rem;
}

.camera-cont {
	width: 1.3rem;
	height: 1.3rem;
	background-color: #999999;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 0.25rem;
	font-size: 0.35rem;
	color: #333333;
}

.camera-cont .camera-icon {
	color: #FFFFFF;
	font-size: 0.8rem;
}

.everyday-group {
	padding: 1rem 0.15rem 0;
	box-sizing: border-box;
	display: flex;
}

.issue-time {
	max-width: 1.6rem;
	flex-grow: 1;
	flex-shrink: 0;
	margin-right: 0.2rem;
}

.issue-time .day-time {
	font-size: 0.4rem;
	color: #333333;
}

.issue-time .month-time {
	font-size: 0.24rem;
	color: #333333;
}

.dynamic-lists {
	margin-bottom: 0.5rem;
}

.dynamic-lists-body {
	background-color: #f3f3f5;
	position: relative;
	border-radius: 0.1rem;
	width: auto;
	/* min-height: 2rem; */
	padding: 0.15rem;
	box-sizing: border-box;
	width: 5.3rem;
}

.dynamic-groups{
	width: auto;
	flex-grow: 1;
	max-width:5.3rem;
	margin: 0 0.2rem;
}
.dynamic-groups ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	box-sizing: border-box;
}

.lan-arrow {
	position: absolute;
	z-index: 9;
	top: 5px;
	left: -23px;
	overflow: hidden;
	width: 26px;
	height: 26px;
	display: none;
}

.dynamic-groups ul .dynamic-lists:first-of-type .lan-arrow {
	display: inline-block;
}

.lan-arrow::after {
	position: absolute;
	top: 0;
	right: -19px;
	width: 26px;
	height: 26px;
	content: ' ';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 3px;
	background: #f3f3f5;
}

.img-groups {
	display: flex;
	flex-wrap: wrap;
}

.img-cont {
	width: 1.56rem;
	height: 1.5rem;
	overflow: hidden;
	margin: 0.05rem;
	border-radius: 2px;
}

.img-cont img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.dynamic-character {
	font-size: 0.3rem;
	color: #333333;
	margin-top: 0.2rem;
	margin-bottom: 0;
}

/* 查看详情 */
.operation-menu {
	position: relative;
	height: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.operation-menu .check-detail {
	font-size: 0.28rem;
	color: #999999;
	position: absolute;
	left: 0;
}

/* 评论部分 */
.dynamic-lists-issue {
	background-color: #f3f3f5;
	position: relative;
	border-radius: 0.1rem;
	width: 5.3rem;
}


.dynamic-lists-issue .user-name {
	color: #435a88;
}

.dynamic-lists-issue .comment-inside {
	position: relative;
	padding-bottom: 0.2rem;
	padding-top: 0.1rem;
}
.dynamic-lists-issue  p{
	color: #435a88;
	position: relative;
	padding: 0.2rem;
	margin-bottom: 0;
	text-align: justify;
}
.dynamic-lists-issue .comment-inside p{
	padding: 0.1rem 0.2rem 0;
	margin-bottom: 0;
	color: #333333;
}
.dynamic-lists-issue .comment-inside::before {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.dynamic-lists-issue .icon-like {
	font-size: 0.26rem;
}

.lan-arrows,
.menu-arrow {
	position: absolute;
	overflow: hidden;
	width: 26px;
	height: 26px;
	z-index: 32;
}

.lan-arrows {
	top: -23px;
	right: 0.05rem;
}

.lan-arrows::after,
.menu-arrow::after {
	position: absolute;
	width: 26px;
	height: 26px;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 1px;
	background: #f3f3f5;
}

.lan-arrows::after {
	top: 19px;
	right: 0;
}

.menu-arrow {
	top: 50%;
	width: 16px;
	right: -12px;
	margin-top: -13px;
	background-color: transparent;
}

.menu-arrow::after {
	top: 0;
	left: -19px;
	background: #2e2e2e;
}

.menu-list {
	width: 100%;
	height: 1rem;
	position: relative;
	margin-top: 0.2rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0;
}

.menu-body {
	align-items: center;
	position: relative;
	justify-content: space-between;
	border-radius: 0.1rem;
	height: 1rem;
	width: 5.3rem;
	margin-right: 0.22rem;
	background-color: #2e2e2e;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: none;
	z-index: 32;
}
.menu-body.active{
	display: flex;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.menu-body .item {
	flex-grow: 1;
	height: 100%;
	display: inline-flex;
	align-items: center;
	font-size: 0.24rem;
	color: #FFFFFF;
	justify-content: center;
}

.menu-body .item .iconfont {
	font-size: 0.28rem;
	margin-right: 3px;
}

.menu-body .item .iconfont.icon-delete {
	font-size: 0.24rem;
}

.comment-icon-cont {
	height: 1rem;
	display: inline-flex;
	align-items: center;
	background-color: #FFFFFF;
	margin-right: -2px;
}
.comment-icon-cont.active{
	z-index: 99;
}
.comment-icon {
	font-size: 0.6rem;
	flex-shrink: 0;
	color: #9ba9cd;
}

.mui-backdrop {
	z-index: 18;
	background: transparent;
}
