<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css">
		<link href="icomoon/style.css" rel="stylesheet" />
		<style>
			body {
				padding-top: constant(safe-area-inset-top);
			}
			div{ 
				touch-action: pan-y;
			}
			.mui-tab-label{
				font-size: 0.22rem;
			}
			.mui-bar-tab .mui-tab-item{
				position: relative;
				line-height: 1.4;
				padding: 0;
				width: auto;
				flex-grow: 1;
				color: #535353;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
			}
			.mui-tab-item p{
				margin: 0;
				padding: 0;
			}
			 
			.mui-tab-item.mui-active span{
			  color: #929292;
			}
			.mui-tab-item.self-active span{
			  color: #2289ff;
			} 
			.mui-tab-item .mui-badge {
				position: absolute;
				width: auto;
				height: auto;
				top: 2px;
				right: 32%;
				padding: 2px 3px 1px;
				background-color: rgba(255, 0, 0, 0.8);
				color: #FFFFFF !important;
				font-size: 10px;
				z-index: 9999;
			}
			.mui-bar{
				box-shadow: none;
				-webkit-box-shadow: none;
			}
			.mui-bar.mui-bar-tab{
				z-index: 1045;
				background-color: #FFFFFF; 
				/* -webkit-box-shadow: 0 0 0 0.5px rgba(1,1,1,0.5) inset;
				box-shadow: 0 0 0 0.5px rgba(1,1,1,0.5) inset; */
				-webkit-box-shadow:none;
				box-shadow: none;
				display: flex;
				justify-content: space-between;
				overflow: hidden;
				touch-action: pan-x;
			}
			.mui-bar-tab:before{
				content: '';
				position:absolute;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #DDDDDD;
				transform: scaleY(0.5) translateY(-100%);
				-webkit-transform: scaleY(0.5) translateY(-100%);
				margin: 0;
				padding: 0; 
			}
			.mui-bar.mui-bar-nav {
			   top: constant(safe-area-inset-top);
			}
			[v-cloak] {
				display: none;
			}
		</style>
		<script type="text/javascript">
			//mui初始化
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
		</script>
	</head>

	<body>
		<div id="index" v-cloak>
			<nav class="mui-bar mui-bar-tab">
				<div :data-idx="index" :id="nav.ids" @tap="changeTab(index,nav.ids)" class="mui-tab-item" :class="nav.selectes?'self-active':''"
				 v-for="(nav,index) in subpages" :key="index">
					<p>
						<span :class="nav.selectes?nav.selected:nav.icon" style="font-size: 18px;margin-top: 2px;"></span>
						<span v-if="nav.ids=='chat'&&numbers!=0" class="mui-badge">{{numbers}}</span>
						<span v-if="nav.ids=='media'&&trends_cont!=0" class="mui-badge">{{trends_cont}}</span>
					</p>
					<span class="mui-tab-label">{{nav.title}}</span>
				</div>
			</nav>
		</div>
		<script src="js/mui.js"></script>
		<script src="js/util.js"></script>
		<script src="js/vue.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			//当前激活选项
			var current = '';
			var activeTab = 0;
			var activeName = 'home';

			var userInfo = getUserInfo();
			var app = new Vue({
				el: "#index",
				data: {
					numbers: 0,
					number: 0,
					trends_cont: 0,
					subpages: [{
							title: '首页',
							url: "html/home.html",
							ids: "home",
							icon: 'icon-home-page',
							selected: 'icon-home-page-s',
							selectes: true,
							statusBg: "#FFFFFF",
							style: "dark",
							styles: {
								top: "0px",
								bottom: "50px",
								scrollIndicator: "none",
								render: "always",
								statusbar: {
									background: "#FFFFFF"
								}
							}
						}, {
							title: '人脉',
							url: "html/chat.html",
							ids: "chat",
							statusBg: "#2289FF",
							icon: 'icon-chat',
							selected: 'icon-chat-s',
							selectes: false,
							style: "light",
							styles: {
								top: "0px",
								bottom: "50px",
								scrollIndicator: "none",
								render: "always",
								statusbar: {
									background: "#2289FF"
								}
							}
						}, {
							title: '商脉',
							url: "html/business_pulse.html",
							ids: "business_pulse",
							statusBg: "#FFFFFF",
							icon: 'icon-shangmai',
							selected: 'icon-shangmai-s',
							selectes: false,
							style: "dark",
							styles: {
								top: "0px",
								bottom: "50px",
								scrollIndicator: "none",
								render: "always",
								statusbar: {
									background: "#FFFFFF"
								}
							}
						}, {
							title: '发现',
							url: "html/self_media.html",
							ids: "media",
							statusBg: "#FFFFFF",
							icon: 'icon-discover',
							selected: 'icon-discover-s',
							selectes: false,
							style: "dark",
							styles: {
								top: "0px",
								bottom: "50px",
								render: "always",
								scrollIndicator: 'none',
								"titleNView": {
									backgroundColor: '#FFFFFF', //导航栏背景色
									titleText: '发现~身边的商业机会',
									titleColor: '#000000', //文字颜色
									type: 'transparent', //透明渐变样式
									// autoBackButton: true, 
									buttons: [{
										fontSrc: 'fonts/iconfont.ttf',
										text: '\ue60b',
										float: 'right',
										width: '60px',
										onclick: "javascript:plus.webview.currentWebview().evalJS('shareHref();')"
									}]
								}
							}
						}, {
							title: '我的',
							url: "html/my.html",
							ids: "user",
							statusBg: "#2289FF",
							icon: 'icon-my',
							selected: 'icon-my-s',
							selectes: false,
							style: "light",
							styles: {
								top: "0px",
								bottom: "50px",
								render: "always",
								scrollIndicator: "none",
								statusbar: {
									background: "#2289FF"
								}
							}
						}
					]
				},
				methods: {
					changeTab: function(idx, _nm) {
						if (idx == activeTab) {
							return false;
						}
						this.subpages[activeTab].selectes = false;
						this.subpages[idx].selectes = true;
						plus.webview.hide(activeName, 'none', 200);
						plus.webview.show(_nm, 'none', 200);
						activeTab = idx;
						activeName = _nm;
					}
				},
				mounted: function() {
					mui.init();
					//创建子页面，首个选项卡页面显示，其它均隐藏；
					mui.plusReady(function() {
						checkUpdate();
						// plus.navigator.closeSplashscreen();	//主动关闭启动页
						pushInit();
						eventInit();
						var lastLoginTime = localStorage.getItem('lastLoginTime');
						var currentTime = new Date().getTime();
						var loginTime = parseInt((currentTime - lastLoginTime) / 1000);
						var isExpire = loginTime > (60 * 60 * 24 * 5) ? true : false;
						if (lastLoginTime && isExpire) {
							message('账号登录过期,重新登录');
						}
						if (!userInfo || isExpire) {
							login();
						} else if (userInfo.mobile.length == 0) {
							bindMobile();
						} else {
							var timer = setInterval(function() {
								getUnreadMessage();
								getTrendsNum()
							}, 3000)
							// plus.nativeUI.showWaiting();
							showload(0);
							initIndexPage();
							bindClientId();
							setTimeout(function() {
								showload(1);
							}, 20000)
						}
						plus.navigator.setStatusBarStyle("dark");
						plus.navigator.setStatusBarBackground('#FFFFFF');
					});
				}
			})

			function initIndexPage() {
				for (var i = 0; i < app.subpages.length; i++) {
					plus.webview.create(app.subpages[i].url, app.subpages[i].ids, app.subpages[i].styles);
				}
				plus.webview.show('home', 'none', 200);
			}

			function eventInit() {
				//自定义事件，模拟点击“首页选项卡”
				// document.addEventListener('gohome', function() {
				// 	var defaultTab = document.getElementById("home");
				// 	//模拟首页点击
				// 	mui.trigger(defaultTab, 'tap');
				// 	//切换选项卡高亮 
				// 	current = document.querySelector(".mui-bar-tab>.mui-tab-item.self-active");
				// 	if (defaultTab !== current) {
				// 		current.classList.remove('self-active');
				// 		defaultTab.classList.add('self-active');
				// 	}
				// });

				//自定义事件监听-首页新增客户点击
				// window.addEventListener('newCustomer', function() {
				// 	mui.trigger(document.getElementById('chat'), 'tap');
				// 	document.getElementById('home').classList.remove('self-active');
				// 	document.getElementById('chat').classList.add('self-active');
				// })

				window.addEventListener('changeMy', function() {
					mui.trigger(document.getElementById('user.html'), 'tap');
				})

				document.addEventListener('netchange', onNetChange, false);

				//自定义事件-登录成功
				window.addEventListener('loginSuccess', function() {
					mui.trigger(document.getElementById('home'), 'tap')
					userInfo = getUserInfo();
					bindClientId();
					initIndexPage();
					getUnreadMessage();
					getTrendsNum();
					var timer = setInterval(function() {
						getUnreadMessage();
					}, 2000);
				})

				//自定义事件-绑定成功
				window.addEventListener('bindMobileSuccess', function() {
					userInfo = getUserInfo();
					// initIndexPage();
				})

				window.addEventListener('showChat', function() {
					mui.trigger(document.getElementById('chat'), 'tap');
				})

				window.addEventListener('refreshNotice', function() {
					getUnreadMessage();
				})

				var nt = plus.networkinfo.getCurrentType();
				if (nt == 1) {
					fnOpenWin('/html/network_outage.html', 'network_outage', {
						statusbar: {
							background: '#FFFFFF'
						}
					}, '', 'slide-in-bottom');
				}
				plus.screen.lockOrientation("portrait-primary");
			}

			function login() {
				if (plus.os.name == "iOS") {
					mui.get($ajaxUrl + 'member', {
						action: 'login_setting',
					}, function(res) {
						getAppInfo(function(e) {
							//审核时使线上的res.data.login_type和升级包中的不一致
							if (res.data.login_type == 3) {
								fnOpenWin('html/mobile_login.html', 'mobile_login', {
									statusbar: {
										background: '#2289FF'
									}
								}, '', 'slide-in-bottom');
							} else {
								fnOpenWin('html/login.html', 'login', {
									statusbar: {
										background: '#122c9a'
									}
								}, '', 'slide-in-bottom');
							}
						})
					}, 'json');
				} else {
					fnOpenWin('html/login.html', 'login', {
						statusbar: {
							background: '#122c9a'
						}
					}, '', 'slide-in-bottom');
				}
			}

			function bindMobile() {
				fnOpenWin('html/mobile_bind.html', 'mobile_bind', {
					statusbar: {
						background: '#2289ff'
					},
				}, '', 'slide-in-bottom');
			}

			//获取未读消息
			function getUnreadMessage() {
				if (!userInfo) return;
				mui.get($ajaxUrl + 'member', {
					action: 'unread_message',
					token: userInfo.token
				}, function(res) {
					// 获取所有页面
					var wvs = plus.webview.all();
					// logs(wvs);
					if (res.data > 0) {
						mui.fire(plus.webview.getWebviewById('chat'), 'messgeNumber', {
							number: res.data
						});
						mui.fire(plus.webview.getWebviewById('home'), 'messgeNumber', {
							number: res.data
						});
						mui.fire(plus.webview.getWebviewById('user'), 'messgeNumber', {
							number: res.data
						});
						app.number = res.data;
						getFriendApply();
					} else {
						mui.fire(plus.webview.getWebviewById('chat'), 'messgeNumber', {
							number: 0
						});
						mui.fire(plus.webview.getWebviewById('home'), 'messgeNumber', {
							number: 0
						});
						mui.fire(plus.webview.getWebviewById('user'), 'messgeNumber', {
							number: 0
						});
						app.number = 0;
						getFriendApply();
					}
				}, 'json');
			}

			//获取好友申请条目
			function getFriendApply() {
				if (!userInfo) return;
				mui.post($ajaxUrl + 'customer', {
					action: 'friend_apply_count',
					token: userInfo.token,
				}, function(res) {
					var total = parseInt(res.data) + parseInt(app.number);
					if (total > 0) {
						app.numbers = total;
						if ($noticeNumber != total) {
							$noticeNumber = total;
							setBadge(total);
							mui.fire(plus.webview.getWebviewById('chat'), 'friendApplyNumber', {
								number: res.data
							});
							mui.fire(plus.webview.getWebviewById('friend'), 'friendApplyNumber', {
								number: res.data
							});
						}
					} else {
						app.numbers = 0;
						if ($noticeNumber != 0) {
							$noticeNumber = 0
							clearBadge();
							mui.fire(plus.webview.getWebviewById('chat'), 'friendApplyNumber', {
								number: 0
							});
							mui.fire(plus.webview.getWebviewById('friend'), 'friendApplyNumber', {
								number: 0
							});
						}
					}
				}, 'json')
			}

			//检查APP更新
			function checkUpdate() {
				//获取系统设置
				mui.get($ajaxUrl + 'util', {
					action: 'system_setting',
				}, function(res) {
					var systemSetting = res.data;
					getAppInfo(function(e) {
						var currentVersion = parseInt(e.version.split('.').join(''));
						var newVersion = parseInt(systemSetting.app_version.split('.').join(''));
						if (currentVersion < newVersion && systemSetting.prompt_update == 1) {
							if (systemSetting.forced_updating == 1) {
								// plus.nativeUI.alert('APP有更新:版本号' + newVersion + ';更新内容:' + systemSetting.app_update_content +
								// '.此版本为有重要升级或向下不兼容,必须升级!',
								// function(e) {
								downWgt();
								// })
							} else {
								plus.nativeUI.confirm('APP有更新:版本号' + newVersion + ';更新内容:' + systemSetting.app_update_content + ',是否更新?',
									function(e) {
										if (e.index == 0) {
											downWgt();
										}
									})
							}
						}
					})
				}, 'json');
			}
			// 监听动态消息
			window.addEventListener('trendsContRefresh', function(event) {
				console.log('首页接收到通知！');
				// 获取消息
				getTrendsNum();
			})
			// 获取消息
			function getTrendsNum() {
				mui.post($ajaxUrl + "timeline&action=notice", {
					token: userInfo.token,
				}, function(res) {
					if (res.errno == 0) {
						app.trends_cont = res.data.total;
					}
				}, 'json');
			}
		</script>
	</body>
</html>
