<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>激活码领取</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<link href="../css/mui.css" rel="stylesheet" />
		<link href="../css/vip-page.css" rel="stylesheet" />
		<style type="text/css">
			.mui-popover {
				height: 7.56rem;
				border-radius: 0.1rem;
				width: 6.25rem;
				overflow: hidden;
				background: rgba(0, 0, 0, 0.0);
				box-shadow: none;
				top: 110% !important;
				left: 50% !important;
				transform: translate(-50%,-50%) !important;
				-webkit-transform: translate(-50%,-50%) !important;
			}

			.mui-popover .mui-popover-arrow {
				display: none;
			}

			.mui-popover {
				/* opacity: 1; */
				/* display: block; */
			}

			.pop-body {
				background-color: #FFFFFF;
				height: 6.3rem;
				width: 100%;
				border-radius: 0.1rem;
				overflow: hidden;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: column;
			}

			.pop-body img {
				width: 100%;
			}

			.pop-body p {
				font-size: 0.35rem;
				color: #2a2d38;
				margin: 0.8rem 0 0.9rem;
			}

			.pop-body span {
				font-size: 0.36rem;
				color: #FFFFFF;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				background-color: #2a2d38;
				width: 3.86rem;
				height: 0.88rem;
				border-radius: 0.44rem;
			}

			.close-btn {
				width: 0.72rem;
				height: 0.72rem;
				display: block;
				margin: 0.5rem auto 0;
			}

			.mui-backdrop {
				background-color: rgba(0, 0, 0, .6);
			}
			
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body style="position: relative;min-height: 100%;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">激活码兑换</h1>
		</header>
		<div id="collections" class="mui-content" v-cloak>
			<div class="activation-code-activation">
				<div class="pattern-of-payment">
					<form class="mui-input-group">
						<!-- <div class="mui-input-row mui-radio">
							<label><img src="../image/Alipay.png"><span>支付宝</span></label>
							<input class="choice-tag" name="radio1" type="radio" value="alipay">
						</div> -->
						<div class="mui-input-row mui-radio" v-if="fee<=3000">
							<label><img src="../image/WeChat.png"><span>微信</span></label>
							<input class="choice-tag" name="radio1" type="radio" checked="checked" value="wxpay">
						</div>
						<div class="mui-input-row mui-radio" v-if="fee>3000">
							<label><img src="../image/WeChat.png"><span>线下支付</span></label>
							<input class="choice-tag" name="radio1" type="radio" checked="checked" value="offline">
						</div>
						<!-- <div class="mui-input-row mui-radio">
							<label><img src="../image/balance.png"><span>余额</span><span class="balance">&yen;{{ balance }}</span></label>
							<input class="choice-tag" name="radio1" type="radio" value="balance">
						</div> -->
					</form>
				</div>
				<div class="pattern-of-payment">
					<ul class="mui-table-view">
						<template v-for="(item, key) in codeList" ;key="key">
							<li class="mui-table-view-cell" v-if="item.number>0">
								<div class="mui-clearfix">
									<span class="title mui-pull-left">{{ item.name }}</span>
									<span class="number mui-pull-right">X{{ item.number }}</span>
								</div>
								<p class="desc">{{ item.wang * item.number }}(旺旺)+{{ item.wang * item.number / 10 }}(元)</p>
							</li>
						</template>
						<!-- <li class="mui-table-view-cell">
							<div class="mui-clearfix">
								<span class="title mui-pull-left">创客激活码</span>
								<span class="number mui-pull-right">X10</span>
							</div>
							<p class="desc">10,000(旺旺)+1,000(元)</p>
						</li> -->
						<li class="mui-table-view-cell total">
							<div class="mui-clearfix">
								<span class="mui-pull-left">合计</span>
								<span class="number mui-pull-right">{{ totalWang }}(旺旺)</span>
							</div>
							<p class="mui-pull-right">{{ fee }}(元)</p>
							<a class="confirm-payment" id="openPopover">确认支付</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="popover" class="mui-popover">
			<div class="pop-body">
				<img src="../image/collections-bg-pop-img.jpg" alt="">
				<p class="pop-title">激活码兑换成功</p>
				<span class="immediate-use pop-button">立即使用</span>
			</div>
			<img class="close-btn" src="../image/Close.png" alt="">
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});
			// 初始化字体大小
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
			// 初始化字体大小结束


			var userInfo = getUserInfo();
			//支付相关变量
			var payType = 'wxpay';
			var wxChannel = null; // 微信支付
			var aliChannel = null; // 支付宝支付
			var channel = null; //支付通道
			var ALIPAYSERVER = $ajaxUrl + 'member&action=code_exchange';
			var WXPAYSERVER = $ajaxUrl + 'member&action=code_exchange';
			// vue实例初始化
			var app = new Vue({
				el: "#collections",
				data: {
					codeList: null,
					totalWang: 0,
					fee: 0,
					balance: 0
				},
				created: function() {
					getMemberInfo();
				},
				mounted: function() {
					mui.plusReady(function() {
						plus.payment.getChannels(function(channels) {
							for (var i in channels) {
								if (channels[i].id == "wxpay") {
									wxChannel = channels[i];
								} else {
									aliChannel = channels[i];
								}
							}
						}, function(e) {
							plus.nativeUI.alert("获取支付通道失败：" + e.message, null, '提示');
						});

						var self = plus.webview.currentWebview();
						app.codeList = self.codeList;
						app.totalWang = self.totalWang;
						app.fee = parseFloat(self.totalWang / 10);
						if (app.fee > 3000) {
							payType = 'offline';
						} else {
							payType = 'wxpay';
						}
						// 关闭窗口
						mui("#popover").on('tap', '.close-btn', function() {
							mui('.mui-popover').popover('hide', document.getElementById("openPopover"));
						})

						mui("#popover").on('tap', '.immediate-use', function() {
							plus.webview.close('activate_code', 'none');
							plus.webview.close('activation_code_collection', 'none');
							plus.webview.close('activation_code_activation', 'none');
							openPage('activate_code.html', 'activate_code', '#f7f7f7', '');
						})

						mui('.mui-content').on('tap', '.confirm-payment', function() {
							payType = mui('input[name=radio1]:checked')[0].value;
							console.log(payType);
							pay(payType);
							// mui('.mui-popover').popover('show',document.getElementById("openPopover"));
						})
					});
				}
			});

			//获取用户信息
			function getMemberInfo() {
				mui.post($ajaxUrl + 'member', {
					action: 'detail',
					token: userInfo.token
				}, function(res) {
					// app.groupId = res.data.group_id;
					app.blance = res.data.balance;
				}, 'json');
			}

			// 2. 发起支付请求  
			function pay(id) {
				// 从服务器请求支付订单
				var PAYSERVER = '';
				if (id == 'alipay') {
					message("暂不支持支付宝支付!", 'center');
					return;
					PAYSERVER = ALIPAYSERVER;
					channel = aliChannel;
				} else if (id == 'wxpay') {
					PAYSERVER = WXPAYSERVER;
					channel = wxChannel;
				} else if (id == 'offline') {
					var waiting = plus.nativeUI.showWaiting();
					logs(payType);
					logs(app.codeList);
					logs(app.fee);
					mui.post(WXPAYSERVER, {
						code_list: app.codeList,
						total_wang: app.totalWang,
						fee: app.fee,
						pay_type: payType,
						token: userInfo.token
					}, function(res) {
						logs(res);
						if (res.errno == 0) {
							// message('申请成功');
							document.querySelector('.pop-title').innerHTML = '申请成功, 等待打款确认!';
							document.querySelector('.pop-button').innerHTML = '返回!';
							mui('.mui-popover').popover('show', document.getElementById("openPopover"));
						}
						waiting.close();
					}, 'json')
					return;
				} else {
					message("不支持此支付通道!", 'center');
					return;
				}

				var waiting = plus.nativeUI.showWaiting();
				mui.post(PAYSERVER, {
					code_list: app.codeList,
					total_wang: app.totalWang,
					fee: app.fee,
					pay_type: payType,
					token: userInfo.token
				}, function(res) {
					console.log(JSON.stringify(res));
					waiting.close();
					if (res.errno == 0) {
						var data = res.data;
						var param = {
							appid: data.appid,
							noncestr: data.nonce_str,
							package: 'Sign=WXPay',
							partnerid: data.mch_id,
							prepayid: data.prepay_id,
							timestamp: data.timeStamp,
							sign: data.paySign
						};

						plus.payment.request(channel, param, function(result) {
							updateUserInfo();
							mui.fire(plus.webview.getWebviewById('activation_code_collection'), 'activateSuccess');
							mui.fire(plus.webview.getWebviewById('maker'), 'activateSuccess');
							mui.fire(plus.webview.getWebviewById('agent'), 'activateSuccess');
							mui('.mui-popover').popover('show', document.getElementById("openPopover"));
							// plus.nativeUI.alert("兑换成功！", function() {
							// 	plus.navigator.setStatusBarStyle('dark');
							// 	mui.back();
							// });
						}, function(error) {
							console.log(JSON.stringify(error));
							plus.nativeUI.alert("支付失败：" + error.code);
						});
					} else {
						plus.nativeUI.alert(res.message, null, '提示');
					}
				}, 'json')
			}
		</script>
	</body>
</html>
