<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>激活码兑换</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<link href="../css/mui.css" rel="stylesheet" />
		<link href="../css/vip-page.css" rel="stylesheet" />
		<style type="text/css">
			.mui-content {
				height: 100vh;
			}
		</style>
	</head>

	<body style="position: relative;min-height: 100%;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">激活码兑换</h1>
		</header>
		<div id="collections" class="mui-content">
			<div class="collection-code-container">
				<h3>旺旺</h3>
				<h2>{{ wang }}</h2>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell" v-if="groupId>4">
						<span>服务中心（个）</span><input type="number" placeholder="0" v-model="codeList[4].number">
					</li>
					<li class="mui-table-view-cell" v-if="groupId>3">
						<span>服务站（个）</span><input type="number" placeholder="0" v-model="codeList[3].number">
					</li>
					<li class="mui-table-view-cell" v-if="groupId>2">
						<span>创客（个）</span><input type="number" placeholder="0" v-model="codeList[2].number">
					</li>
					<li class="mui-table-view-cell" v-if="groupId>1">
						<span>VIP（个）</span><input type="number" placeholder="0" v-model="codeList[1].number">
					</li>
				</ul>
				<span class="next">下一步</span>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});
			// 初始化字体大小
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
			// 初始化字体大小结束

			// vue实例初始化
			var userInfo = getUserInfo();
			var app = new Vue({
				el: "#collections",
				data: {
					wang: 0,
					groupId: '',
					codeList: {
						"1": {
							id: 1,
							number: '',
							wang: 0,
							name: ''
						},
						"2": {
							id: 2,
							number: '',
							wang: 0,
							name: ''
						},
						"3": {
							id: 3,
							number: '',
							wang: 0,
							name: ''
						},
						"4": {
							id: 4,
							number: '',
							wang: 0,
							name: '',
						}
					},
					group: []
				},
				created: function() {
					getMemberInfo();
					getGroupList();
				},
				mounted: function() {
					mui.plusReady(function() {
						getMemberInfo();
						mui(".mui-content").on('tap', '.next', function() {
							document.activeElement.blur();
							var flag = false;
							mui.each(app.codeList, function(index, item) {
								if (item.number > 0) {
									flag = true;
								}
							})
							if (!flag) {
								message('无效兑换', 'center');
								return;
							}
							if (app.wang < app.totalWang) {
								message('旺旺不足', 'center');
								return;
							}
							openPage('activation_code_activation.html', 'activation_code_activation', '#f7f7f7', {
								codeList: app.codeList,
								totalWang: app.totalWang
							});
						})

						window.addEventListener('activateSuccess', function() {
							getMemberInfo();
						})
					});
				},
				computed: {
					totalWang: function() {
						return parseInt(this.codeList["1"]["wang"] * this.codeList["1"]["number"]) + parseInt(this.codeList["2"][
								"wang"
							] * this.codeList["2"]["number"]) + parseInt(this.codeList["3"]["wang"] * this.codeList["3"]["number"]) +
							parseInt(this.codeList["4"]["wang"] * this.codeList["4"]["number"]);
					}
				}
			});

			//获取用户信息
			function getMemberInfo() {
				mui.post($ajaxUrl + 'member', {
					action: 'detail',
					token: userInfo.token
				}, function(res) {
					app.groupId = res.data.group_id;
					app.wang = res.data.wang;
				}, 'json');
			}

			//获取会员等级列表
			function getGroupList() {
				mui.post($ajaxUrl + 'member', {
					action: 'group_info',
					token: userInfo.token
				}, function(res) {
					// logs(res);
					app.groupList = res.data
					mui.each(app.groupList, function(index, item) {
						if (item.id < 5) {
							app.codeList[item.id]["wang"] = item.activation_fee;
							app.codeList[item.id]["name"] = item.name;
						}
					})
				}, 'json');
			}

			// mui.post($ajaxUrl + 'member&action=get_code', {
			// 	token: userInfo.token,
			// 	code: lists
			// }, function(res) {
			// 	logs(res);
			// 	if (res.errno) {
			// 		message(res.message);
			// 	} else {
			// 		message('领取成功！');
			// 		mui.back();
			// 	}
			// }, 'json');
		</script>
	</body>
</html>
