<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>代理</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/vip-page.css" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<style>
			.close-button {
				position: absolute;
				top: 60px;
				left: 15px;
				width: 50px;
				height: 25px;
				line-height: 25px;
				background-color: #343434;
				color: #F7F7F7;
				border-radius: 3px;
				text-align: center;
				font-size: 14px;
				z-index: 8888;
			}
		</style>
	</head>
	<body>
		<div class="close-button">关闭</div>
		<div id="vip-container" class="mui-content vip-container">
			<a class="activation-link" href="activation_code.html">激活码激活</a>
			<div class="mui-card" id="form">
				<form class="mui-input-group">
					<div class="radio-list active" v-for="(item, index) in group" :key="index" v-if="item.id < 3">
						<div class="mui-radio mui-left">
							<label>{{ item.name }}</label>
							<label>{{ item.rights }}</label>
							<input name="group" type="radio">
						</div>
						<div class="mui-right">
							<span>&yen;{{ item.activation_fee }}</span>
							<span>续费{{ item.annual_fee }}</span> 
						</div>
					</div>
					<!-- <div class="radio-list">
						<div class="mui-radio mui-left">
							<label>创客</label>
							<label>推广收益/送50个会员/送9999旺旺</label>
							<input name="radio1" type="radio">
						</div>
						<div class="mui-right">
							<span>&yen;9999</span>
							<span>续费69</span>
						</div>
					</div> -->
					<!-- <div class="radio-list active">
						<div class="mui-radio mui-left">
							<label>VIP</label>
							<label>推广收益</label>
							<input name="radio1" type="radio" checked>
						</div>
						<div class="mui-right">
							<span>&yen;199</span>
							<span>续费69</span>
						</div>
					</div>
					<div class="radio-list">
						<div class="mui-radio mui-left">
							<label>创客</label>
							<label>推广收益/送50个会员/送9999旺旺</label>
							<input name="radio1" type="radio">
						</div>
						<div class="mui-right">
							<span>&yen;9999</span>
							<span>续费69</span>
						</div>
					</div> -->
				</form>
				<div class="radio-list last">
					<span>代理</span>
					<a href="agent_apply.html">立即预约&nbsp;&gt;</span>
				</div>
				<ul class="mui-table-view border-top">
					<li class="mui-table-view-cell"><span>应付金额</span><span class="price">&yen;198</span></li>
					<li class="mui-table-view-cell"><span>支付方式</span><span>···</span></li>
				</ul>
			</div>
			<div class="mui-content-padded">
				<button type="button" class="mui-btn mui-btn-blue mui-btn-block ">立即支付</button>
				<p>开通即视为同意<a href="agreement.html">《旺客-用户协议》</a></p>
			</div>
			<!-- 创客弹窗开始 -->
			<div class="maker-model-container mui-hidden">
				<div class="maker-cont">
					<h2 class="title">尊贵</h2>
					<h2 class="title">创客</h2>
					<h5>恭喜您升级为创客会员</h5>
					<div class="privilege-container">
						<div class="privilege-items">
							<img src="image/icon/chuagnke-icon-1.png">
							<span>全功能使用</span>
						</div>
						<div class="privilege-items">
							<img src="image/icon/chuagnke-icon-2.png">
							<span>10个商品位</span>
						</div>
						<div class="privilege-items">
							<img src="image/icon/chuagnke-icon-3.png">
							<span>推荐奖</span>
						</div>
						<div class="privilege-items">
							<img src="image/icon/chuagnke-icon-4.png">
							<span>推荐奖</span>
						</div>
					</div>
					<div class="open-btn-container">
						<a class="open-chuangke">开启创客之旅</a>
					</div>
				</div>
			</div>
			<!-- 创客弹窗结束 -->
			<!-- vip弹窗开始 -->
			<div class="vip-model-container mui-hidden">
				<div class="maker-cont vip">
					<h2 class="title">尊贵</h2>
					<h2 class="title">VIP</h2>
					<h5>恭喜您升级为创客会员</h5>
					<div class="privilege-container">
						<div class="privilege-items">
							<img src="image/icon/vip-ac-icon-01.png">
							<span>全功能使用</span>
						</div>
						<div class="privilege-items">
							<img src="image/icon/vip-ac-icon-02.png">
							<span>10个商品位</span>
						</div>
						<div class="privilege-items">
							<img src="image/icon/vip-ac-icon-03.png">
							<span>推荐奖</span>
						</div>
					</div>
					<div class="open-btn-container">
						<a class="open-chuangke vip">开启VIP之旅</a>
					</div>
				</div>
			</div>
			<!-- vip弹窗结束 -->
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/vue.min.js"></script>
		<!-- <script type="text/javascript" src="../js/Zepto.min.js"></script> -->
		<!-- <script type="text/javascript" src="../js/vip-page.js"></script> -->
		<script type="text/javascript">
			mui.init({
				swipeBack: false,
// 				beforeback: function() {
// 					return false;
// 				}
			});
			// 初始化字体大小
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
			// 初始化字体大小结束
			
			//vue初始化
			var vm = new Vue({
				el: "#form",
				data: {
					group: []
				} 
			});
			
			mui.plusReady(function() {
				eventInit();
				getGroupInfo();
			});
			
			//事件初始化
			function eventInit() {
				mui('body').on('tap', '.close-button', function() {
					var statusBarStyle = plus.webview.currentWebview().statusBarStyle;
					setStatusBar('', statusBarStyle);
					mui.back();
				})
			}
			
			//获取会员等级信息
			function getGroupInfo() {
				mui.post($ajaxUrl + 'member', {
						action: 'group_info'
					}, function(res){
						var data = res.data;
						mui.each(data, function(index, item) {
							var rights = item.rights;
							rights = JSON.parse(rights);
							var temp = '';
							for (var i in rights) {
								if (i > 0) {
									temp += '/' + rights[i];
								} else {
									temp += rights[i];
								}
							}
							item.rights = temp;
							console.log(temp);
						})
						// logs(data);
						vm.group = res.data;
						logs(res);
						var right = JSON.parse(res.data[1].rights);
						logs(right);
					}, 'json'
				);
			}
			
			//主列表点击事件
			mui('#vip-container').on('tap', 'a', function() {
				var href = this.getAttribute('href');
				//非plus环境，直接走href跳转
				if (!mui.os.plus) {
					location.href = href;
					return;
				}

				if (href && ~href.indexOf('.html')) {
					//打开窗口的相关参数
					var options = {
						styles: {
							popGesture: "close"
						},
						extras: {}
					};
					var titleType = this.getAttribute("data-title-type");
					if (titleType && titleType.indexOf("native") > -1) { //原生导航
						options.styles.titleNView = {
							autoBackButton: true,
							backgroundColor: '#f7f7f7',
							titleText: this.innerHTML.trim(),
							splitLine: {
								color: '#cccccc'
							}
						};

						options.show = {
							event: 'loaded'
						}
						//有原生标题的情况下，就不需要waiting框了
						options.waiting = {
							autoShow: false
						}
					} else {
						//非原生导航，需要设置顶部状态栏占位
						options.styles.statusbar = {
							background: "#f7f7f7"
						}
					}
					//打开新窗口
					var id = '12313';
					mui.openWindow(href, id, options);
				}
			});
		</script>
	</body>
</html>
