<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>代理预约</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<link href="../css/mui.css" rel="stylesheet" />
		<link href="../css/mui.picker.min.css" rel="stylesheet" />
		<link href="../css/mui.poppicker.css" rel="stylesheet" />
		<link href="../css/vip-page.css" rel="stylesheet" />
		<style>
			.area-desc{
				font-size: 0.24rem;
				padding-right: 15px;
			}
			.area-desc:after{
				font-size: 0.32rem;
				right: 0.15rem;
			}
			.recommend-person{
				position: relative;
			}
			.recommend-person input{
				border: none;
				border-bottom: 1px solid #F2F2F2;
				font-weight: normal;
				padding-bottom: 0;
				padding-left: 0;
				color: #333333;
				border-radius: 0;
				width: 100%;
			}
			.recommend-person input::-webkit-input-placeholder {
				color: #999999;
				font-size: 0.3rem;
			}
			.recommend-person .mui-input-row:after{
				height: 0;
			}
			.recommend-person.mui-active{
				background-color: #FFFFFF;
			}
			.mui-icon.mui-icon-clear{
				color: #DDDDDD;
				position: absolute;
				right:10px;
				top: 55%;
			}
			.mui-content-padded span{
				color:#2289ff;
			}
			.mui-content-padded p{
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.mui-checkbox input[type=checkbox]{
				position: relative;
				top: 0;
				right: auto;
				left: auto;
				transform: scale(0.8);
				-webkit-transform: scale(0.8);
			}
			[v-cloak] {
				display: none;
			}
		</style>
		<script type="text/javascript">
			// 初始化字体大小
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
			// 初始化字体大小结束
			
		</script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav target-detail-header">
			<div class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></div>
			<h1 class="mui-title">代理预约</h1>
		</header>
		<div class="mui-content oreder-container">
			<form class="items-container mui-input-group" id="form" v-cloak>
				<template v-for="(item, key, index) in group">
					<div class="mui-card">
						<div class="mui-card-header">
							<div class="mui-radio mui-left" :data-id="item.id">
								<label>{{ item.name }}</label>
								<input name="radio1" type="radio">
							</div>
							<div class="mui-right">
								<span>&yen;{{ item.activation_fee }}</span>
							</div>
						</div>
						<div class="mui-card-content">
							<div class="mui-card-content-inner">
								<ul>
									<li v-for="right in item.rights">{{ right }}</li>
								</ul>
							</div>
						</div>
					</div>
				</template>
				<!-- <div class="mui-card">
					<div class="mui-card-header">
						<div class="mui-radio mui-left">
							<label>服务中心（市/州代理）</label>
							<input name="radio1" type="radio">
						</div>
						<div class="mui-right">
							<span>&yen;1,000,000</span>
						</div>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<ul>
								<li>送1000个创客(会员与创客自由组合)</li>
								<li>送1000万旺旺</li>
								<li>区域保护（该区域下的所有会员续费获得20元）</li>
								<li>知识付费产品奖励25%</li>
								<li>持有公司%0.5股份</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="mui-card">
					<div class="mui-card-header">
						<div class="mui-radio mui-left">
							<label>分公司（省代理）</label>
							<input name="radio1" type="radio">
						</div>
						<div class="mui-right">
							<span>&yen;500,000</span>
						</div>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<ul>
								<li>送3个服务中心</li>
								<li>送50万旺旺</li>
								<li>持有总部1%股份(限前10名)</li>
							</ul>
						</div>
					</div>
				</div> -->
				<div class="mui-card" style="margin-top: 0;" v-if="recommendId==0">
					<ul class="mui-table-view border-top">
						<li id="area-select" class="mui-table-view-cell recommend-person">
							<span>推荐人手机号码</span>
							<span style="font-weight: normal;" id="area-desc" class="area-desc">
									<input type="number" v-model="recommendPhone" class="mui-input-clear">
									<i v-show="recommendPhone" class="mui-icon mui-icon-clear" @tap="recommendPhone=''"></i>
							</span>
						</li>
					</ul>
				</div>
			</form>
			<div class="mui-content-padded" style="padding-bottom: 25px;">
				<button type="button" class="mui-btn mui-btn-blue mui-btn-block" id="submit">确定</button>
				<p style="text-align: center;" class="mui-input-row mui-checkbox"><input id="agree" name="checkbox" value="" type="checkbox">开通即视为同意<span id="agreement">《旺客-用户协议》</span></p>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/mui.picker.min.js"></script>
		<script src="../js/mui.poppicker.js"></script>
		<script src="../js/city.data-3.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true,
				beforeback: function() {
					plus.navigator.setStatusBarStyle('light');
				}
			});

			var userInfo = getUserInfo();
			//vue初始化
			var vm = new Vue({
				el: '#form',
				data:{
						recommendId: 0,
						recommendPhone: '',
						group: []
				},
				created:function(){
					getRecommendUser();
				}
			})

			var provinceId = 0;
			var cityId = 0;
			var areaId = 0;
			var self = null;
			var groupData = null;
			var groupId = 0;
			mui.plusReady(function() {
				var _getParam = function(obj, param) {
					return obj[param] || '';
				};
				// var showCityPickerButton = document.getElementById('area-select');
				// var cityResult = document.getElementById('area-desc');
				// showCityPickerButton.addEventListener('tap', function(event) {
				// 	var cityPicker = new mui.PopPicker({
				// 		layer: 3
				// 	});
				// 	cityPicker.setData(cityData3);
				// 	cityPicker.show(function(items) {
				// 		provinceId = _getParam(items[0], 'value');
				// 		cityId = _getParam(items[1], 'value');
				// 		areaId = _getParam(items[2], 'value');
				// 		cityResult.innerText = _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(
				// 			items[2], 'text');
				// 	});
				// }, false);

				self = plus.webview.currentWebview();
				groupData = self.groupData;
				vm.group = [groupData[2], groupData[3], groupData[4]];

				//选择代理级别
				mui('.mui-content').on('tap', '.mui-radio', function() {
					groupId = this.dataset.id;
				})

				mui('.mui-content').on('tap', '#submit', function() {
					var cheackd=document.getElementById('agree').checked;
					document.activeElement.blur();
					if (groupId == 0) {
						message('请选择要申请的代理!', 'center');
						return;
					}

					if (vm.recommendId == 0) {
						if (vm.recommendPhone.length == 0) {
							message('请输入推荐人手机号码!');
							return;
						}
						if (!/1[\d]{10}/.test(vm.recommendPhone)) {
							message('推荐人手机号码输入有误!');
							return;
						}
					}
					if (!cheackd) {
						message('需要同意旺客用户协议');
						return;
					}

					// if (provinceId == 0 || cityId == 0) {
					// 	message('请选择地区!', 'center');
					// 	return;
					// }
					// showload(0, 0, '数据处理中...', "rgba(0,0,0,0.5)");
					showload(0, 0, '数据处理中...', "rgba(0,0,0,0.5)");
					mui.post($ajaxUrl + 'member', {
						action: 'agent_apply',
						token: userInfo.token,
						group_id: groupId,//2345
						type: 1,
						province_id: provinceId,//0
						city_id: cityId, //0
						area_id: areaId, //0
						recommend_phone: vm.recommendPhone //推荐人手机号
					}, function(res) {
						logs(res);
						if (res.errno == 0) {
							plus.nativeUI.alert('申请成功, 等待审核!', function() {
								plus.webview.close('agent_apply');
								plus.webview.close('activation');
							})
						} else {
							plus.nativeUI.alert(res.message, function() {
								window.location.reload();
							})
						}
						showload(1);
					}, 'json');
				})
				mui('.mui-content').on('tap', '#agreement', function() {
					openPage('user_agreement.html','user_agreement','#ffffff','');
				})
			})

			//获取上级推荐id
			function getRecommendUser() {
				mui.get($ajaxUrl + 'member', {
					action: 'recommend_id',
					token: userInfo.token
				}, function(res) {
					logs(res);
					vm.recommendId = res.data;
				}, 'json');
			}
		</script>
	</body>

</html>
