<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>代理预约</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link href="../css/mui.picker.min.css" rel="stylesheet" />
		<link href="../css/mui.poppicker.css" rel="stylesheet" />
		<link href="../css/vip-page.css" rel="stylesheet" />
		<style>
			.area-desc{
				font-size: 0.24rem;
				padding-right: 15px;
			}
			.area-desc:after{
				font-size: 0.32rem;
				right: 0.15rem;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav target-detail-header">
			<div class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></div>
			<h1 class="mui-title">代理预约</h1>
		</header>
		<div class="mui-content oreder-container">
			<form class="items-container mui-input-group" id="form">
				<template v-for="(item, key, index) in group">
					<div class="mui-card">
						<div class="mui-card-header">
							<div class="mui-radio mui-left" :data-id="item.id">
								<label>{{ item.alias }}（{{ item.name }}）</label>
								<input name="radio1" type="radio">
							</div>
							<div class="mui-right">
								<span>&yen;{{ item.activation_fee }}</span>
							</div>
						</div>
						<div class="mui-card-content">
							<div class="mui-card-content-inner">
								<ul>
									<li v-for="right in item.rights">{{ right }}</li>
								</ul>
							</div>
						</div>
					</div>
				</template>
				<!-- <div class="mui-card">
					<div class="mui-card-header">
						<div class="mui-radio mui-left">
							<label>服务中心（市/州代理）</label>
							<input name="radio1" type="radio">
						</div>
						<div class="mui-right">
							<span>&yen;1,000,000</span>
						</div>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<ul>
								<li>送1000个创客(会员与创客自由组合)</li>
								<li>送1000万旺旺</li>
								<li>区域保护（该区域下的所有会员续费获得20元）</li>
								<li>知识付费产品奖励25%</li>
								<li>持有公司%0.5股份</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="mui-card">
					<div class="mui-card-header">
						<div class="mui-radio mui-left">
							<label>分公司（省代理）</label>
							<input name="radio1" type="radio">
						</div>
						<div class="mui-right">
							<span>&yen;500,000</span>
						</div>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<ul>
								<li>送3个服务中心</li>
								<li>送50万旺旺</li>
								<li>持有总部1%股份(限前10名)</li>
							</ul>
						</div>
					</div>
				</div> -->
				<div class="mui-card" style="margin-top: 0;">
					<ul class="mui-table-view border-top">
						<li id="area-select" class="mui-table-view-cell"><span>区域选择</span><span style="font-weight: normal;" id="area-desc"
							 class="area-desc mui-navigate-right mui-pull-right">点击选择</span></li>
					</ul>
				</div>
			</form>
			<div class="mui-content-padded">
				<button type="button" class="mui-btn mui-btn-blue mui-btn-block" id="submit">确定</button>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/mui.picker.min.js"></script>
		<script src="../js/mui.poppicker.js"></script>
		<script src="../js/city.data-3.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true,
				beforeback: function() {
					plus.navigator.setStatusBarStyle('light');
				}
			});
			
			// 初始化字体大小
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
			// 初始化字体大小结束
			
			//vue初始化
			var vm = new Vue({
				el: '#form',
				data: {
					group: []
				}
			})
			
			var provinceId = 0;
			var cityId = 0;
			var areaId = 0;
			var self = null;
			var groupData = null;
			var groupId = 0;
			var userInfo = getUserInfo();
			mui.plusReady(function () {
				var _getParam = function(obj, param) {
					return obj[param] || '';
				};
				var showCityPickerButton = document.getElementById('area-select');
				var cityResult = document.getElementById('area-desc');
				showCityPickerButton.addEventListener('tap', function(event) {
					var cityPicker = new mui.PopPicker({
						layer: 3
					});
					cityPicker.setData(cityData3);
					cityPicker.show(function(items) {
						provinceId = _getParam(items[0], 'value');
						cityId = _getParam(items[1], 'value');
						areaId = _getParam(items[2], 'value');
						cityResult.innerText = _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(
							items[2], 'text');
					});
				}, false);
				
			    self = plus.webview.currentWebview();
				groupData = self.groupData;
				vm.group = [groupData[2], groupData[3], groupData[4]];
				
				//选择代理级别
				mui('.mui-content').on('tap', '.mui-radio', function() {
					groupId = this.dataset.id;
				})
				
				mui('.mui-content').on('tap', '#submit', function() {
					if (groupId == 0) {
						message('请选择要申请的代理!', 'center');
						return;
					}
					if (provinceId == 0 || cityId == 0) {
						message('请选择地区!', 'center');
						return;
					}
					plus.nativeUI.showWaiting('数据处理中...');
					mui.post($ajaxUrl + 'member', {
							action: 'agent_apply',
							token: userInfo.token,
							group_id: groupId,
							province_id: provinceId,
							city_id: cityId,
							area_id: areaId,
						}, function(res){
							logs(res);
							if (res.errno == 0) {
								plus.nativeUI.alert('申请成功, 等待审核!', function() {
									plus.webview.close('agent_apply');
									plus.webview.close('activation');
								})
							} else {
								plus.nativeUI.alert(res.message, function() {
									window.location.reload();
								})
							}
							plus.nativeUI.closeWaiting();
						}, 'json'
					);
				})
			})
		</script>
	</body>

</html>
