<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<link href="../css/mui.css" type="text/css" rel="stylesheet" />
		<link href="../css/mui.picker.min.css" rel="stylesheet" />
		<link href="../icomoon/style.css" type="text/css" rel="stylesheet" />
		<link href="../css/vip-page.css" type="text/css" rel="stylesheet" />
		<style>
			.mui-bar.mui-bar-nav {
				background-color: #2289ff;
				box-shadow: none;
			}

			.mui-bar.mui-bar-nav h1,
			.mui-icon-back:before,
			.mui-icon-left-nav:before {
				color: #FFFFFF;
			}

			#recharge,
			#cash {
				border: 1px solid rgba(255, 255, 255, .6);
			}
			[v-cloak] {
				display: none;
			}
		</style>
		<script type="text/javascript">
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
		</script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">资产管理</h1>
		</header>

		<div id="mui-content" class="mui-content bill-container" v-cloak>
			<div class="banner enterplorer-banner">
				<div class="am-container">
					<img src="../image/assets.png" style="width: 100%;margin-top: -40px;">
				</div>
				<!-- 背景square -->
				<ul class="bg-bubbles">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<div class="income-content">
					<!-- <p>余额(元)</p> -->
					<p>余额</p>
					<h2>{{balance}}</h2>
					<div class="function_button mui-clearfix">
						<!-- <button class="" id="recharge">服务购买</button> -->
						<!-- <div class="recharge"></div> -->
						<button class="" id="cash">销售款提现</button>
					</div>
				</div>
			</div>
			<div class="bill-list" id="pull-refresh">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell timer">
						<div>
							<h4>{{currentTime}}</h4>
							<div>
								<span>收入&nbsp;&nbsp;</span><span>{{balanceData.income||'0.00'}}</span>
								<span class="title">支出&nbsp;&nbsp;</span><span>{{balanceData.expend||'0.00'}}</span>
							</div>
						</div>
						<div class="more">
							<span>更多</span><span class="mui-icon mui-icon-arrowright"></span>
						</div>
					</li>
					<template v-if="balanceData.list">
						<li class="mui-table-view-cell" v-for="(list,index) in balanceData.list" :key="index">
							<img :src="'../image/assert/assert'+list.type+'.png'">
							<div class="right-cont">
								<div class="top mui-clearfix">
									<div class="mui-ellipsis bill-title mui-pull-left">{{list.title}}</div>
									<span class="mui-pull-right earning">{{list.number}}</span>
								</div>
								<div class="bottom mui-clearfix">
									<span>{{list.create_time}}</span>
									<span class="mui-pull-right">{{list.desc}}</span>
								</div>
							</div>
						</li>
					</template>
					<div v-else class="void">
						<img style="width: 60%;display: block;margin: 0 auto; margin-top: 80px;" class="no-friends" src="../image/icon/void-data.png">
						<!-- <p style="text-align: center;">暂无明细~</p> -->
					</div>
				</ul>
			</div>
		</div>
	</body>
	<script src="../js/mui.js"></script>
	<script src="../js/util.js"></script>
	<script src="../js/mui.picker.min.js"></script>
	<script src="../js/vue.min.js"></script>
	<script>
		mui.init({
			swipeBack: true,
			beforeback: function() {
				mui.fire(plus.webview.getWebviewById('redpacket_setting'), 'changecolor');
			}
		})
		var userInfo = getUserInfo(),
			refresh = '',
			skip = 1;
		var vm = new Vue({
			el: '#mui-content',
			data: {
				balance: '0.00',
				balanceData: {},
				currentTime: formatDate('y-m', ''),
				type: 0,
				profit: 0,
			},
			mounted: function() {
				mui.init({
					swipeBack: false,
					pullRefresh: {
						container: "#pull-refresh",
						up: {
							height: 50,
							auto: false,
							contentrefresh: "正在加载...",
							contentnomore: '没有更多数据了',
							callback: function() {
								refresh = 'up';
								skip += 1;
								getUserBalanceLog();
							}
						},
						down: {
							style: 'circle',
							color: '#2289FF',
							callback: function() {
								refresh = 'down';
								skip = 1;
								getUserBalanceLog();
							}
						}
					}
				});
				mui.plusReady(function() {
					window.addEventListener('rechargeSuccess', function() {
						setTimeout(function() {
							location.reload();
						}, 1000);
					})

					window.addEventListener('withdrawDepositSuccess', function() {
						getMemberInfo();
						getUserBalanceLog();
					})
					getMemberInfo();
					getUserBalanceLog();
				})

				mui('.mui-content').on('tap', '#recharge', function() {
					openPage('recharge.html', 'recharge', '#f7f7f7', '')
					setStatusBar('', 'dark');
				})

				mui('.mui-content').on('tap', '#cash', function() {
					openPage('cash_withdrawal.html', 'cash_withdrawal', '#fff', '');
					setStatusBar('', 'dark');
				})
				// 账单
				mui('.mui-content').on('tap', '.more', function() {
					openPage('bills_list.html', 'bills_list', '#f7f7f7', '')
				})
			}
		})

		//获取用户余额日志
		function getUserBalanceLog() {
			mui.get($ajaxUrl + 'member', {
				action: 'balance_log',
				token: userInfo.token,
				type: vm.type,
				date: vm.currentTime,
				skip: skip,
				limit: 6
			}, function(res) {
				// logs(res);
				if (res.errno == 0) {
					if (refresh == 'up') {
						vm.balanceData.list = vm.balanceData.list.concat(res.data.list);
						mui('#pull-refresh').pullRefresh().endPullupToRefresh();
					} else if (refresh == 'down') {
						vm.balanceData = res.data;
						mui('#pull-refresh').pullRefresh().endPulldownToRefresh();
					} else {
						vm.balanceData = res.data;
					}
				} else {
					if (refresh == 'up') {
						mui('#pull-refresh').pullRefresh().endPulldownToRefresh();
						mui('#pull-refresh').pullRefresh().endPullupToRefresh(true);
					} else if (refresh == 'down') {
						mui('#pull-refresh').pullRefresh().endPulldownToRefresh();
					}
				}
			}, 'json');
		}

		//获取用户信息
		function getMemberInfo() {
			mui.post($ajaxUrl + 'member', {
				action: 'detail',
				token: userInfo.token
			}, function(res) {
				var memberInfo = res.data;
				vm.balance = memberInfo.balance;
			}, 'json');
		}
	</script>
</html>
