<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>雷达</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/vip-page.css" rel="stylesheet" />
		<link href="../css/mui.picker.min.css" rel="stylesheet" />
		<style type="text/css">
			.mui-table-view .mui-table-view-cell.mui-active{
				background-color: #FFFFFF;
			}
			[v-cloak] {
				display: none;
			}
		</style>
		<script type="text/javascript">
			// 初始化字体大小
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
			// 初始化字体大小结束
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav data-statistics-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">雷达</h1>
		</header>
		<div class="mui-content data-statistics-container">
			<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
				<a class="mui-control-item mui-active" href="#item1">时间</a>
				<a class="mui-control-item" href="#item2">行为</a>
			</div>
			<div class="segmentedControl-cont">
				<!-- 第一个选项卡 -->
				<div id="item1" class="mui-control-content mui-active" v-cloak>
					<ul id="refresh-container" v-if="contstatus" class="time-line-cont">
						<li v-for="(item,key,index) in dataGroup" :key="index">
							<div class="time-line-items-title">
								<h5>{{key}}</h5>
							</div>
							<ul>
								<li class="time-line-items" v-for="(items,cindex) in item" :key="cindex">
									<div class="time-line-items-top">
										<div class="top-left">
											<div class="head-img-cont"><img :src="items.avatarUrl" alt=""></div>
											<span class="user-name">{{items.nickName}}</span>
											<span class="create-time">{{items.create_time}}</span>
										</div>
										<div class="top-right" @tap="goChat(items.user_id, items.nickName, items.avatarUrl)">
											<img class="chat-icon" src="../image/icon/data-statistics-icon-01.png">
										</div>
									</div>
									<div class="time-line-items-bottom" v-if="items.sign=='praise'">
										<div v-if="items.type==1">
											<p>TA给你的<span>录音</span>点赞了, 看来TA对你的介绍<span>非常感兴趣</span></p>
										</div>
										<div v-else-if="items.type==2">
											<p v-if="items.count==1"><span>首次查看</span>你的<span>名片</span>,TA正在了解你</p>
											<p v-else-if="items.count>1||items.count<5"><span>第{{items.count}}次查看</span>你的<span>名片</span>,你成功的吸引了TA</p>
											<p v-else><span>第{{items.count}}次查看</span>你的<span>名片</span>,高意向客户,立即主动沟通</p>
										</div>
										<div v-else-if="items.type==3">
											<p>TA给你点赞了, 看来TA觉得你<span>非常靠谱</span></p>
										</div>
										<div v-else-if="items.type==4">
											<p v-if="items.count==1"><span>首次分享</span>了你的<span>名片</span></p>
											<p v-else><span>第{{items.count}}次分享</span>了你的<span>名片</span></p>
										</div>
									</div>
									<div class="time-line-items-bottom" v-else-if="items.sign=='copy'">
										<div v-if="items.type==1">
											<p v-if="items.count==1">TA<span>首次</span>保存了你的电话, 请随时保持电话畅通</p>
											<p v-else><span>第{{items.count}}次</span>保存了你的电话, 请随时保持电话畅通</p>
										</div>
										<div v-else-if="items.type==2">
											<p v-if="items.count==1"><span>首次拨打</span>你的<span>手机号</span></p>
											<p v-else><span>第{{items.count}}次拨打</span>你的<span>手机号</span></p>
										</div>
										<div v-else-if="items.type==3">
											<p v-if="items.count==1"><span>首次拨打</span>你的<span>座机号</span></p>
											<p v-else><span>第{{items.count}}次拨打</span>你的<span>座机号</span></p>
										</div>
										<div v-else-if="items.type==4">
											<p v-if="items.count==1">TA<span>首次</span>复制了你的微信, 请随时查看微信通讯录</p>
											<p v-else><span>第{{items.count}}次</span>复制了你的微信, 请随时查看微信通讯录</p>
										</div>
										<div v-else-if="items.type==5">
											<p v-if="items.count==1">TA<span>首次</span>复制了你的邮箱, 可随时发邮件给你</p>
											<p v-else><span>第{{items.count}}次</span>复制了你的邮箱, 可随时发邮件给你录</p>
										</div>
										<div v-else-if="items.type==6">
											<p v-if="items.count==1"><span>首次复制</span>你公司的<span>名称</span></p>
											<p v-else><span>第{{items.count}}次复制</span>你公司的<span>名称</span></p>
										</div>
										<div v-else-if="items.type==7">
											<p v-if="items.count==1"><span>首次查看</span>你公司的<span>定位</span></p>
											<p v-else><span>第{{items.count}}次查看</span>你公司的<span>定位</span></p>
										</div>
										<div v-else-if="items.type==8">
											<p v-if="items.count==1"><span>首次咨询</span>你的<span>产品</span></p>
											<p v-else><span>第{{items.count}}次咨询</span>你的<span>产品</span></p>
										</div>
										<div v-else-if="items.type==9">
											<p v-if="items.count==1"><span>首次播放</span>你的<span>语音</span></p>
											<p v-else><span>第{{items.count}}次播放</span>你的<span>语音</span></p>
										</div>
									</div>
									<div class="time-line-items-bottom" v-else-if="items.sign=='view'">
										<div v-if="items.type==1">
											<p v-if="items.count==1"><span>首次查看</span>你的<span>商城</span>,尽快把握商机</p>
											<p v-else-if="items.count==2"><span>第{{items.count}}次查看</span>你的<span>商城</span>,潜在购买客户</p>
											<p v-else-if="items.count==3"><span>第{{items.count}}次查看</span>你的<span>商城</span>,高意向客户成交在望</p>
											<p v-else><span>第{{items.count}}次查看</span>你的<span>商城</span>,购买欲望强烈</p>
										</div>
										<div v-else-if="items.type==2">
											<p v-if="items.count==1"><span>首次查看</span>你的<span>商品({{items.target_name}})详情</span>,尽快把握商机</p>
											<p v-else><span>第{{items.count}}次查看</span>你的<span>商品({{items.target_name}})详情</span>,尽快把握商机</p>
										</div>
										<div v-else-if="items.type==3">
											<p v-if="items.count==1"><span>首次查看</span>你的<span>动态</span></p>
											<p v-else-if="items.count==2"><span>第{{items.count}}次查看</span>你的<span>动态</span>,赶快主动沟通</p>
											<p v-else><span>第{{items.count}}次查看</span>你的<span>动态</span>,高意向客户成交在望</p>
										</div>
										<div v-else-if="items.type==4">
											<p v-if="items.count==1"><span>首次点赞</span>了你的<span>动态</span></p>
											<p v-else><span>第{{items.count}}次点赞</span>了你的<span>动态</span></p>
										</div>
										<div v-else-if="items.type==5">
											<p v-if="items.count==1"><span>首次评论</span>了你的<span>动态</span></p>
											<p v-else><span>第{{items.count}}次评论</span>了你的<span>动态</span></p>
										</div>
										<div v-else-if="items.type==6">
											<p v-if="items.count==1"><span>首次查看了你的团队</span>,看来他对你的团队感兴趣</p>
											<p v-else-if="items.count==2"><span>第{{items.count}}次查看你的团队</span>,赶快主动沟通</p>
											<p v-else><span>第{{items.count}}次查看你的团队</span>,高意向客户成交在望</p>
										</div>
										<div v-else-if="items.type==7">
											<p v-if="items.count==1"><span>首次浏览</span>你的<span>动态({{items.target_name}})详情</span></p>
											<p v-else><span>第{{items.count}}次浏览</span>你的<span>动态({{items.target_name}})详情</span></p>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
					<div v-else style="margin-top: 2rem;">
						<img style="width: 60%;display: block;margin: 0 auto;" class="no-friends" src="../image/icon/void-data.png">
						<p style="text-align: center;">暂无数据</p>
					</div>
				</div>
				<!-- 第二个选项卡 -->
				<div id="item2" class="mui-control-content">
					<div id="showUserPicker" class="select-time">
						<p class="select-title"><span id="selectTitle">近7天</span>被查看的行为统计</p>
						<i class="mui-icon mui-icon-arrowdown"></i>
					</div>
					<div class="statistics-section mui-clearfix">
						<div class="statistics-list mui-pull-left">
							<img src="../image/icon/data-statistics-icon-05.png">
							<div class="desc">
								<p id="view_goods"></p>
								<span>查看商品</span>
							</div>
						</div>
						<div class="statistics-list mui-pull-left">
							<img src="../image/icon/data-statistics-icon-04.png">
							<div class="desc">
								<p id="view_web"></p>
								<span>查看官网</span>
							</div>
						</div>
						<div class="statistics-list mui-pull-left">
							<img src="../image/icon/data-statistics-icon-03.png">
							<div class="desc">
								<p id="copy_wechat"></p>
								<span>复制微信</span>
							</div>
						</div>
						<div class="statistics-list mui-pull-left">
							<img src="../image/icon/data-statistics-icon-02.png">
							<div class="desc">
								<p id="share_card"></p>
								<span>转发名片</span>
							</div>
						</div>
					</div>
					<!-- 列表部分 -->
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<div class="left-title">
								<img src="../image/icon/data-statistics-icon-06.png">
								<span>查看名片</span>
							</div>
							<span id="view_card"></span>
						</li>
						<li class="mui-table-view-cell">
							<div class="left-title">
								<img src="../image/icon/data-statistics-icon-07.png">
								<span>查看动态</span>
							</div>
							<span id="view_timeline"></span>
						</li>
						<li class="mui-table-view-cell">
							<div class="left-title">
								<img src="../image/icon/data-statistics-icon-08.png">
								<span>授权手机号</span>
							</div>
							<span id="authorization_phone"></span>
						</li>
						<li class="mui-table-view-cell">
							<div class="left-title">
								<img src="../image/icon/data-statistics-icon-09.png">
								<span>咨询商品</span>
							</div>
							<span id="consult_goods"></span>
						</li>
						<li class="mui-table-view-cell">
							<div class="left-title">
								<img src="../image/icon/data-statistics-icon-10.png">
								<span>保存电话</span>
							</div>
							<span id="save_phone"></span>
						</li>
						<li class="mui-table-view-cell">
							<div class="left-title">
								<img src="../image/icon/data-statistics-icon-11.png">
								<span>觉得靠谱</span>
							</div>
							<span id="like"></span>
						</li>
						<li class="mui-table-view-cell">
							<div class="left-title">
								<img src="../image/icon/data-statistics-icon-12.png">
								<span>拨打电话</span>
							</div>
							<span id="dial_phone"></span>
						</li>
						<li class="mui-table-view-cell">
							<div class="left-title">
								<img src="../image/icon/data-statistics-icon-13.png">
								<span>播放语音</span>
							</div>
							<span id="play_voice"></span>
						</li>
						<li class="mui-table-view-cell">
							<div class="left-title">
								<img src="../image/icon/data-statistics-icon-14.png">
								<span>复制邮箱</span>
							</div>
							<span id="copy_email"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/vue.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/util.js"></script>
		<script type="text/javascript" src="../js/mui.picker.min.js"></script>
		<!-- <script type="text/javascript" src="../js/data-statistice.js"></script> -->
		<script type="text/javascript">
			var postType = 1;
			var pgNum = 1;
			var userInfo = getUserInfo();
			// 实例化vue对象
			var itemCont = new Vue({
				el: '#item1',
				data: {
					dataGroup: {},
					contstatus: false
				},
				mounted: function() {
					mui.init({
						pullRefresh: {
							container: '#item1',
							up: {
								height: 50,
								auto: false,
								contentrefresh: "正在加载...",
								contentnomore: '没有更多数据了',
								callback: function() {
									pgNum += 1;
									businessCardBrowsingStatistics(true);
								}
							},
							down: {
								style: 'circle',
								color: '#2899FF',
								height: '50px',
								range: '120px',
								offset: mui.os.ios ? '0px' : '-50px',
								auto: false,
								callback: function() {
									pgNum = 1;
									businessCardBrowsingStatistics(true);
									behaviorStatistics();
								}
							}
						}
					});

					behaviorStatistics();
					businessCardBrowsingStatistics();
					// 选择天数
					var userPicker = new mui.PopPicker();
					userPicker.setData([{
						value: 1,
						text: '近7天'
					}, {
						value: 2,
						text: '近30天'
					}]);
					var showUserPickerButton = document.getElementById('showUserPicker');
					var selectTitle = document.getElementById('selectTitle');
					showUserPickerButton.addEventListener('tap', function(event) {
						userPicker.show(function(items) {
							selectTitle.innerText = items[0].text;
							postType = items[0].value;
							behaviorStatistics();
						});
					}, false);
				}
			});
			// 获取行为数据
			function behaviorStatistics() {
				mui.post($ajaxUrl + 'staff&action=card_view_statistics', {
					type: postType,
					token: userInfo.token
				}, function(res) {
					if (res.errno == 0) {
						var data = res.data;
						for (items in data) {
							document.getElementById(items).innerHTML = data[items].number;
						}
					} else {

					}
				}, 'json')
			}
			// 获取名片浏览记录
			function businessCardBrowsingStatistics(refresh) {
				mui.post($ajaxUrl + 'staff&action=card_view_record', {
					token: userInfo.token,
					skip: pgNum,
					limit: 10
				}, function(res) {
					var data = res.data;
					if (res.errno == 0 && pgNum == 1) {
						itemCont.dataGroup = data;
						itemCont.contstatus = true;
						if (refresh) {
							mui.later(function() {
								mui('#item1').pullRefresh().endPulldown();
								mui('#item1').pullRefresh().refresh(true);
							}, 1000)
						}
					} else if (res.errno == 0 && pgNum > 1) {
						for (list in data) {
							for (items in itemCont.dataGroup) {
								if (list == items) {
									itemCont.dataGroup[items] = itemCont.dataGroup[items].concat(data[list]);
								} else {
									Vue.set(itemCont.dataGroup, list, data[list]);
								}
							}
						}
						// 深度合并
						// mui.extend(true, itemCont.dataGroup, data);
						if (refresh) {
							mui.later(function() {
								mui('#item1').pullRefresh().endPullupToRefresh();
							}, 1000)
						}
					} else {
						// 数据为空禁用上拉加载
						if (refresh) {
							mui.later(function() {
								mui('#item1').pullRefresh().endPullupToRefresh(true);
							}, 1000)
						}
					}
				}, 'json')
			}
			
			function goChat(cid, chatName, avatar) {
				openPage('dialog.html', 'dialog', '#F7F7F7', {cid: cid, chatName: chatName, barStyle: 'dark', avatar: avatar}, '', '');
			}
		</script>
	</body>

</html>
