<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>动态详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<link href="../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/dynamic.css">
		<link rel="stylesheet" href="../css/animate.min.css">
		<link href="../css/vip-page.css" rel="stylesheet" />
		<style type="text/css">
			[v-cloak] {
				display: none;
			}

			.menu-list,
			.dynamic-lists-issue,
			.menu-list.active {
				width: 100%;
			}
		</style>
		<script type="text/javascript">
			// 初始化字体大小
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";

			// 初始化字体大小结束
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">动态详情</h1>
		</header>
		<footer class="footer mui-bar mui-bar-footer">
			<!-- 评论 -->
			<div class="comment-container">
				<textarea id="comment_matter" rows="" cols="" maxlength="200"></textarea>
				<span class="send-comment">发送</span>
			</div>
		</footer>
		<div id="mui-content" class="mui-content dynamics-detail-container" v-cloak>
			<div class="dynamics-title-cont">
				<div class="dynamics-title-left">
					<h2>{{title}}</h2>
					<p><span class="user-name">{{author}}</span><span class="release-time">{{create_time.substring(0,10)}}</span></p>
				</div>
			</div>
			<div class="dynamics-content">
				<p>{{content}}</p>
				<ul class="dynamics-img-group" :class="[cover.length==2||cover.length==5||cover.length==9?'active':'']" v-if="cover.length>0&&cover[0]!=''">
					<li v-for="(img,idx) in cover" :key="idx"><img :data-idx="idx" :src="img"></li>
				</ul>
			</div>
			<div class="comment-cont" v-if="comment.length>0||likes.length>0">
				<!-- <div class="thumbs-cont">
					<img src="../image/icon/give-the-thumbs-up.png">
					<span v-for="lists in likes">{{lists.nickName}}</span>
				</div>
				<div v-if="comment.length>0" class="comment-list">
					<ul>
						<li v-for="lists in comment">
							<p><span>{{lists.nickName}}：</span>{{lists.content}}</p>
						</li>
					</ul>
				</div> -->
				<div class="operation-menu">
					<div class="menu-list" :class="menuStatus?'active':''">
						<div class="menu-body">
							<!-- 箭头 -->
							<div class="menu-arrow"></div>
							<div class="item"><span class="iconfont icon-share">&#xe604;</span>分享</div>
							<div class="item" @tap="likeThis('10')" :class="like==true?'heartBeat':'tada'"><span class="iconfont icon-like">&#xe601;</span>{{likeDesc}}</div>
							<div class="item" @tap="commentDynamic('10')"><span class="iconfont icon-comment">&#xe602;</span>评论</div>
						</div>
						<span v-show="!menuStatus">&nbsp;</span>
						<div class="comment-icon-cont" @tap="showMenu">
							<span class="iconfont comment-icon">&#xe504;</span>
						</div>
					</div>
				</div>
				<div class="dynamic-lists-issue">
					<!-- 箭头 -->
					<div class="lan-arrows"></div>
					<p>
						<span class="iconfont icon-like">&#xe601;</span>
						<span v-for="(lists,i) in likes" :key="i">{{lists.nickName}}<template v-if="i<likes.length-1">、</template></span>
					</p>
					<p class="comment-inside" v-for="(com,index) in comment"><span class="user-name">{{com.nickName}}：</span>{{com.content}}</p>
				</div>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script src="../js/mui.previewimage.js"></script>
		<script type="text/javascript">
			var nativeWebview, imm, InputMethodManager;
			var mask = mui.createMask(function() {
				muiCont.menuStatus = false;
				// muiCont.isComment = false;
				mui('.mui-bar-footer')[0].style.display = "none";
				// plus.key.hideSoftKeybord();
			});
			var tid = 0;
			var muiCont = new Vue({
				el: '#mui-content',
				data: {
					title: "",
					create_time: '',
					menuStatus: false,
					like: false,
					likeDesc: '点赞',
					likes: [ //点赞用户列表
						{
							//点赞id
							"id": "124",
							//点赞用户id
							"user_id": "5987",
							//点赞用户昵称
							"nickName": "胡尚",
							//点赞用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							//点赞id
							"id": "124",
							//点赞用户id
							"user_id": "5987",
							//点赞用户昵称
							"nickName": "王花花",
							//点赞用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							//点赞id
							"id": "124",
							//点赞用户id
							"user_id": "5987",
							//点赞用户昵称
							"nickName": "刘备备",
							//点赞用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							//点赞id
							"id": "124",
							//点赞用户id
							"user_id": "5987",
							//点赞用户昵称
							"nickName": "刘备备",
							//点赞用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							//点赞id
							"id": "124",
							//点赞用户id
							"user_id": "5987",
							//点赞用户昵称
							"nickName": "刘备备",
							//点赞用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							//点赞id
							"id": "124",
							//点赞用户id
							"user_id": "5987",
							//点赞用户昵称
							"nickName": "刘备备",
							//点赞用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							//点赞id
							"id": "124",
							//点赞用户id
							"user_id": "5987",
							//点赞用户昵称
							"nickName": "刘备备",
							//点赞用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							//点赞id
							"id": "124",
							//点赞用户id
							"user_id": "5987",
							//点赞用户昵称
							"nickName": "刘备备",
							//点赞用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							//点赞id
							"id": "124",
							//点赞用户id
							"user_id": "5987",
							//点赞用户昵称
							"nickName": "刘备备",
							//点赞用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							//点赞id
							"id": "124",
							//点赞用户id
							"user_id": "5987",
							//点赞用户昵称
							"nickName": "刘备备",
							//点赞用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							//点赞id
							"id": "124",
							//点赞用户id
							"user_id": "5987",
							//点赞用户昵称
							"nickName": "刘备备",
							//点赞用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							//点赞id
							"id": "124",
							//点赞用户id
							"user_id": "5987",
							//点赞用户昵称
							"nickName": "刘备备",
							//点赞用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}
					],
					content: '',
					cover: [],
					author: '',
					comment: [ //评论用户列表
						{
							"id": "1", //评论id
							"user_id": "7088", //评论
							"content": "下路没闪，记得来抓", //评论内容
							"create_time": "2038-01-19 11:14:07", //评论时间
							"nickName": "德玛西亚之翼", //评论用户昵称
							//评论用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							"id": "1", //评论id
							"user_id": "7088", //评论
							"content": "写的非常好，如果三分", //评论内容
							"create_time": "2038-01-19 11:14:07", //评论时间
							"nickName": "王花花", //评论用户昵称
							//评论用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}, {
							"id": "1", //评论id
							"user_id": "7088", //评论
							"content": "我们总不愿意在别人面前落泪，因为怕输了风度；也总不愿意在别人面前认输，因为怕输了颜面。我们再三告诉自己，一定要坚强！", //评论内容
							"create_time": "2038-01-19 11:14:07", //评论时间
							"nickName": "刘备备", //评论用户昵称
							//评论用户头像
							"avatarUrl": "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIiaIOs60WlHpFnMHj3TsIDvl9eQGkaK1dFbTIF16Y5WyrJ35yia1hTa0sZP4y4aC36XQb2v5ibG643g/132"
						}
					]
				},
				created: function() {
					userInfo = getUserInfo();
				},
				methods: {
					// 显示菜单
					showMenu: function() {
						// this.menuStatus = !this.menuStatus;
						if (this.menuStatus) {
							mask.close();
							this.menuStatus = false;
						} else {
							this.menuStatus = true;
							mask.show();
						}
						// console.log(this.menuStatus);
					},
					// 点赞
					likeThis: function() {
						this.like = !this.like;
						if (this.like) {
							this.likeDesc = '取消';
						} else {
							this.likeDesc = '点赞';
						}
						setTimeout(function() {
							muiCont.menuStatus = false;
							mask.close();
						}, 500)
					},
					// 评论
					commentDynamic: function() {
						this.menuStatus = false;
						// this.isComment = true;
						mui('.mui-bar-footer')[0].style.display = "block";
						this.initNativeObjects();
						this.showSoftInput();
					},
					// 弹出键盘
					initNativeObjects: function() {
						if (mui.os.android) {
							var main = plus.android.runtimeMainActivity();
							var Context = plus.android.importClass("android.content.Context");
							InputMethodManager = plus.android.importClass("android.view.inputmethod.InputMethodManager");
							imm = main.getSystemService(Context.INPUT_METHOD_SERVICE);
						} else {
							nativeWebview = plus.webview.currentWebview().nativeInstanceObject();
						}
					},
					showSoftInput: function() {
						if (mui.os.android) {
							imm.toggleSoftInput(0, InputMethodManager.SHOW_FORCED);
						} else {
							nativeWebview.plusCallMethod({
								"setKeyboardDisplayRequiresUserAction": false
							});
						}
						setTimeout(function() {
							var inputElem = document.getElementById("comment_matter"); //需要获得焦点的input  
							inputElem.focus();
						}, 200);
					}
				},
				mounted: function() {
					mui.plusReady(function() {
						var self = plus.webview.currentWebview();
						if (mui.os.ios) {
							self.setStyle({
								softinputMode: "adjustResize"
							});
						}
						tid = self.aid;
						getDynamicsDetail();
					});
				}
			});
			// mui.previewImage();
			mui.init();

			function getDynamicsDetail() {
				mui.post($ajaxUrl + 'timeline&action=detail', {
					token: userInfo.token,
					tid: tid
				}, function(res) {
					logs(res);
					if (res.errno == 0) {
						var data = res.data;
						muiCont.title = data.title;
						muiCont.cover = data.cover;
						muiCont.content = data.content;
						muiCont.create_time = data.create_time;
						// muiCont.comment = data.comment.data;
						// muiCont.likes = data.like.data;
						muiCont.author = data.author;
						var urls = data.cover;
						mui('.mui-content').on('tap', 'img', function() {
							var index = this.dataset.idx;
							plus.nativeUI.previewImage(urls, {
								current: index,
								loop: true,
								indicator: 'number'
							});
						});
					} else {
						message(res.message)
					}
				}, 'json')
			}
		</script>
	</body>

</html>
