<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/swiper.min.css">
		<link rel="stylesheet" href="../css/animate.min.css">
		<link rel="stylesheet" href="../css/dynamic.css">
		<style type="text/css">
			[v-cloak] {
				display: none;
			}

			.vip0 {
				padding: 0 0.16rem;
				height: 0.3rem;
				overflow: hidden;
				display: inline-flex;
				line-height: 0.3rem;
				font-size: 0.2rem;
				color: #FFFFFF;
				margin-left: 0.2rem;
				border-bottom-left-radius: 0.2rem;
				border-top-right-radius: 0.2rem;
				background: linear-gradient(to right, #c4c4c4, #6f6f6f);
			}
		</style>
		<script type="text/javascript">
			// 初始化字体大小
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
			// 初始化字体大小结束
		</script>
	</head>

	<body>
		<footer class="footer mui-bar mui-bar-footer">
			<!-- 评论 -->
			<div class="comment-container">
				<textarea id="comment_matter" rows="" cols="" maxlength="200"></textarea>
				<span class="send-comment">评论</span>
			</div>
		</footer>
		<div id="mui-content" class="mui-content" v-cloak>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" v-for="(banner,index) in slider" :key="index">
						<img :src="banner.image">
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div id="dynamic-container" class="dynamic-container">
				<div class="user-part1">
					<div class="user-head-cont">
						<div class="user-head-img">
							<img class="head-img" :src="discover_info.avatar">
						</div>
						<img v-if="discover_info.group_id!=0" class="rank" :src="'../image/discover/rank_icon_'+discover_info.group_id+'.png'">
					</div>
					<div class="user-info">
						<div class="user-info-top">
							<div class="user-name mui-ellipsis">{{discover_info.name}}</div>
							<span :class="'vip'+discover_info.group_id">{{discover_info.group_name}}</span>
						</div>
						<p class="signature mui-ellipsis-2">{{discover_info.personalized_signature||'暂无签名'}}</p>
					</div>
				</div>
				<h3 class="year-dom">{{current_year}}年</h3>
				<div v-if="is_self" class="issue-dynamics">
					<span>发动态</span>
					<div @tap="issueDynamics" class="camera-cont"><span class="iconfont camera-icon">&#xe60b;</span></div>
				</div>
				<!-- 每天的组 -->
				<div class="everyday-group mui-clearfix" v-for="(u,l) in spaceList" :key="l">
					<div class="issue-time">
						<span class="day-time">{{u.day}}日</span>
						<span class="month-time">{{u.month}}月</span>
						<p>{{u.time}}</p>
					</div>
					<div class="dynamic-groups">
						<ul>
							<li class="dynamic-lists" v-for="(d,i) in u.list" :key="i">
								<div class="dynamic-lists-body" @tap="dynamicDetail(d.id)">
									<div class="lan-arrow"></div>
									<ul class="img-groups">
										<li v-for="(img,m) in d.cover" class="img-cont"><img :src="img"></li>
									</ul>
									<p class="mui-ellipsis-2 dynamic-character">
										{{d.title}}
									</p>
								</div>
								<div class="operation-menu">
									<span class="check-detail" :class="'check-detail'+d.id" @tap="dynamicDetail(d.id)">查看详情</span>
									<div class="menu-list" :class="'menu-list'+d.id">
										<div class="menu-body">
											<div class="menu-arrow"></div>
											<div v-if="is_self" class="item"><span class="iconfont icon-delete">&#xe603;</span>删除</div>
											<div class="item"><span class="iconfont icon-share">&#xe604;</span>分享</div>
											<div class="item" @tap="likeThis(d.id)" :class="like==true?'heartBeat':'tada'"><span class="iconfont icon-like">&#xe601;</span>{{likeDesc}}</div>
											<div class="item" @tap="commentDynamic(d.id,i,l)"><span class="iconfont icon-comment">&#xe602;</span>评论</div>
										</div>
										<span v-show="menuStatus">&nbsp;</span>
										<div class="comment-icon-cont" @tap="showMenu(d.id)">
											<span class="iconfont comment-icon">&#xe504;</span>
										</div>
									</div>
								</div>
								<div class="dynamic-lists-issue" v-if="d.thumbs_user.length>0||d.comment.length>0">
									<div class="lan-arrows"></div>
									<p v-if="d.thumbs_user.length>0">
										<span class="iconfont icon-like">&#xe601;</span>
										<template v-for="(user,i) in d.thumbs_user" :key="i">
											{{user.nickName}}<template v-if="i<d.thumbs_user.length-1">、</template>
										</template>
									</p>
									<p v-if="d.comment.length>0" v-for="(_com,idx) in d.comment" class="comment-inside">
										<span class="user-name">{{_com.nickName}}：</span>{{_com.content}}
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/swiper.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript">
			var nativeWebview, imm, InputMethodManager;
			var userInfo = getUserInfo(),
				user_id = '',
				skip = 1,
				timeline_id = '',
				// 列表的isindex
				list_idx = '',
				// 评论项的index
				_idx = null,
				_com_id = null,
				limit = 20;
			var mask = mui.createMask(function() {
				app.menuStatus = false;
				app.isComment = false;
				document.querySelector(".menu-list" + _com_id).classList.remove("active");
				document.querySelector(".check-detail" +_com_id).style.display = "block";
				mui('.mui-bar-footer')[0].style.display = "none";
				plus.key.hideSoftKeybord();
			});
			var app = new Vue({
				el: "#mui-content",
				data: {
					slider: [{
						type: 'article',
						id: '2',
						image: "../image/share/bg-img02.jpg"
					}, {
						type: 'goods',
						id: '36',
						image: "../image/share/bg-img03.jpg"
					}, {
						type: 'goods',
						id: '69',
						image: "../image/bj.jpg"
					}],
					likeDesc: '点赞',
					menuStatus: false,
					like: false,
					isComment: false,
					// 个人消息
					discover_info: {
						id: "",
						name: "",
						avatar: "",
						personalized_signature: "",
						group_id: "",
						group_name: "",
						timeline_cover: ""
					},
					// 动态列表
					spaceList: [],
					current_year: '',
					// 是否自己
					is_self: false
				},
				methods: {
					// 显示菜单
					showMenu: function(_idd) {
						_com_id = _idd;
						document.querySelector(".menu-list" + _idd).classList.add("active");
						if (this.menuStatus) {
							mask.close();
							app.menuStatus = false;
							document.querySelector(".check-detail" + _idd).style.display = "block";
						} else {
							app.menuStatus = true;
							mask.show();
							document.querySelector(".check-detail" + _idd).style.display = "none";
						}
					},
					// 点赞
					likeThis: function() {
						this.like = !this.like;
						if (this.like) {
							this.likeDesc = '取消';
						} else {
							this.likeDesc = '点赞';
						}
						setTimeout(function() {
							app.menuStatus = false;
							mask.close();
						}, 500)
					},
					// 动态详情
					dynamicDetail: function(id) {
						openPage('dynamics_detail.html', 'dynamics_detail.html', '#f7f7f7', {
							aid: id
						});
					},
					// 评论
					commentDynamic: function(t_id, i_idx, l_idx) {
						this.menuStatus = false;
						this.isComment = true;
						document.querySelector(".menu-list" + _com_id).classList.remove("active");
						mui('.mui-bar-footer')[0].style.display = "block";
						var _self = this;
						setTimeout(function() {
							_self.initNativeObjects();
							_self.showSoftInput();
						}, 100);
						timeline_id = t_id;
						_idx = i_idx;
						list_idx = l_idx;
					},
					// 弹出键盘
					initNativeObjects: function() {
						if (mui.os.android) {
							var main = plus.android.runtimeMainActivity();
							var Context = plus.android.importClass("android.content.Context");
							InputMethodManager = plus.android.importClass("android.view.inputmethod.InputMethodManager");
							imm = main.getSystemService(Context.INPUT_METHOD_SERVICE);
						} else {
							nativeWebview = plus.webview.currentWebview().nativeInstanceObject();
						}
					},
					showSoftInput: function() {
						if (mui.os.android) {
							imm.toggleSoftInput(0, InputMethodManager.SHOW_FORCED);
						} else {
							nativeWebview.plusCallMethod({
								"setKeyboardDisplayRequiresUserAction": false
							});
						}
						setTimeout(function() {
							var inputElem = document.getElementById("comment_matter"); //需要获得焦点的input  
							inputElem.focus();
							// inputElem.parentNode.classList.add('mui-active'); //第一个是search，加上激活样式  
						}, 200);
					}
				},
				mounted: function() {
					mui.init({
						beforeback: function() {
							// plus.navigator.setStatusBarStyle("dark");
						}
					})
					initSlider();
					mui.plusReady(function() {
						var ws = plus.webview.currentWebview();
						// 获取传参
						user_id = ws.user_id;
						if (user_id == userInfo.id) {
							app.is_self = true;
						} else {
							app.is_self = false;
						}
						discoverInfo();
						getSpaceList();
						if (mui.os.ios) {
							ws.setStyle({
								softinputMode: "adjustResize"
							});
						}
						// 设置渐变导航栏
						ws.setStyle({
							scrollIndicator: 'none',
							"titleNView": {
								backgroundColor: '#FFFFFF',
								titleText: '',
								titleColor: '#000000',
								type: 'transparent', //透明渐变样式
								autoBackButton: true
							}
						})
						// 滚动的时候动态修改状态栏颜色
						var conts = document.getElementById("dynamic-container");
						window.addEventListener('scroll', function() {
							if (conts.getBoundingClientRect().top < 280) {
								plus.navigator.setStatusBarStyle("dark");
							} else {
								plus.navigator.setStatusBarStyle("light");
							}
						});
						// 评论
						mui(".mui-bar-footer").on("tap", ".send-comment", function() {
							var conts = document.getElementById("comment_matter").value;
							if (conts == " " || conts.length < 1) {
								message("评论内容不能为空!");
								return;
							}
							mui.post($ajaxUrl + 'timeline&action=comment', {
								token: userInfo.token,
								timeline_id: timeline_id,
								content: conts
							}, function(res) {
								if (res.errno == 0) {
									var self_comment = {
										user_id: userInfo.id,
										content: conts,
										nickName: userInfo.nickName
									}
									app.spaceList[list_idx].list[_idx].comment.unshift(self_comment);
									document.getElementById("comment_matter").value = "";
									document.activeElement.blur();
									mui('.mui-bar-footer')[0].style.display = "none";
								} else {}
							}, 'json');
						})
					})
					// 初始化两次防止页面乱
					// 初始化字体大小
					var viewport = document.documentElement.clientWidth;
					if (viewport > 750) {
						viewport = 750
					}
					document.documentElement.style.fontSize = viewport / 7.5 + "px";
					// 初始化字体大小结束
				}
			})

			// 初始化轮播
			function initSlider() {
				var mySwiper = new Swiper('.swiper-container', {
					//可选选项，自动滑动
					autoplay: {
						delay: 3000,
						// 用户操作之后不会停止轮播
						disableOnInteraction: false,
					},
					loop: true,
					// 分页器
					pagination: {
						el: '.swiper-pagination',
					},
				})
			}

			// 发布动态
			function issueDynamics() {
				openPage('issue_dynamics.html', 'issue_dynamics', '#f7f7f7');
			}
			// 获取用户信息
			function discoverInfo() {
				mui.post($ajaxUrl + 'discover&action=user_info', {
					token: userInfo.token,
					user_id: user_id
				}, function(res) {
					if (res.errno == 0) {
						app.discover_info = res.data;
					} else {}
				}, 'json');
				// 获取当前年份
				var current_time = new Date();
				app.current_year = current_time.getFullYear();
			}
			// 获取数据列表
			function getSpaceList() {
				mui.post($ajaxUrl + 'timeline&action=list', {
					token: userInfo.token,
					user_id: user_id,
					skip: skip,
					limit: limit
				}, function(res) {
					logs(res);
					if (res.errno == 0) {
						app.spaceList = res.data;
					} else {}
				}, 'json');
			}
		</script>
	</body>

</html>
