<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/mui.picker.css">
		<link rel="stylesheet" href="../css/mui.poppicker.css" />
		<link rel="stylesheet" href="../css/add_distribution_goods.css">
		<style type="text/css">
			.btn-section {
				color: #FFFDEF;
				justify-content: center;
			}
			input[disabled='disabled']{
				color: #999999;
			}
			.cause-conts{
				color: #FF0000;
				background-color: #FFFFFF;
				margin: 0;
				padding: 10px 15px;
				text-align: justify;
			}
			.cause-conts span{
				font-size:14px;
			}
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></span>
			<h1 class="mui-title">编辑分销商品</h1>
		</header>
		<div id="mui-content" class="mui-content " v-cloak>
			<p v-if="remark" class="cause-conts">
				<span style="font-weight: 700;">未通过原因：</span>
				<span>{{remark}}</span>
			</p>
			<div class="goods-title">
				<textarea maxlength="120" v-model="name" placeholder="输入商品名称"></textarea>
				<span class="mui-icon mui-icon-clear" v-show="name" @tap="name=''"></span>
			</div>
			<div class="goods-img-contianer">
				<div v-show="images" class="picture_display_chear" v-for="(img,i) in images" :key="i">
					<img class="goods-img" @tap="previewImage(i)" :src="img" />
					<span class="mui-close" @tap="delImg(i)">
						<span class="mui-icon mui-icon-closeempty" style="font-size: 20px;"></span>
					</span>
				</div>
				<div v-show="images.length<4" class="add-goods-img">
					<span>添加</span>
					<span>主图</span>
				</div>
			</div>
			<div class="goods-img-desc">
				精美的商品图片让商品脱颖而出
			</div>
			<div class="option-container">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<div class="flex-center">
							<span>设为团队首页推荐</span>
							<div class="set_recommend" :class="team_recommend==1?'mui-switch mui-active':'mui-switch'">
								<div class="mui-switch-handle"></div>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="flex-center">
							<span>设为爆品推荐</span>
							<div class="set-hot" :class="team_hot==1?'mui-switch mui-active':'mui-switch'">
								<div class="mui-switch-handle"></div>
							</div>
						</div>
						<p>
							设为爆品则在商城首页下方推荐（每个团队最多可设置3个）
						</p>
					</li>
					<li class="mui-table-view-cell goods-type">
						<span>商品类型<span class="sign">*</span></span>
						<span class="mui-navigate-right cont-text mui-pull-right">
							{{goods_type_text}}
						</span>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>排序值</label>
							<input type="number" v-model="top" placeholder="倒序，值越大排名越靠前">
							<span class="mui-icon mui-icon-clear" v-show="top" @tap="top=''"></span>
						</div>
					</li>
				</ul>
			</div>
			<!-- 第二组 -->
			<div class="option-container">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>供货价<span class="sign">*</span></label>
							<input type="number" disabled="disabled" v-model="settlement_price" placeholder="给商品定个好价格">
							<!-- <span class="mui-icon mui-icon-clear" v-show="settlement_price" @tap="settlement_price=''"></span> -->
						</div>
						<p>结算价格是给分销商的供货价，分销商可以在此价格灵活设置活动 价格</p>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>零售价格<span class="sign">*</span></label>
							<input type="number" v-model="price" placeholder="设置合理零售价">
							<span class="mui-icon mui-icon-clear" v-show="price" @tap="price=''"></span>
						</div>
						<p>市场参考零售价格</p>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>保护价格</label>
							<input type="number" v-model="protect_price" placeholder="设置保护价避免滥价">
							<span class="mui-icon mui-icon-clear" v-show="protect_price" @tap="protect_price=''"></span>
						</div>
						<p>分销商不能低于此价格销售，不填则与结算价统一</p>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>库存<span class="sign">*</span></label>
							<input type="number" v-model="stock" placeholder="设置合理的库存避免超货">
							<span class="mui-icon mui-icon-clear" v-show="stock" @tap="stock=''"></span>
						</div>
					</li>
					<li class="mui-table-view-cell option-group-list" v-for="(ls,index) in spec" :key="index">
						<div class="option-group">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell">
									<div class="mui-input-row">
										<label>规格<span class="sign">*</span></label>
										<input type="text" v-model="ls.name" placeholder="尺寸、大小、颜色等">
										<span class="mui-icon mui-icon-clear" v-show="ls.name" @tap="ls.name=''"></span>
									</div>
								</li>
								<li class="mui-table-view-cell">
									<div class="mui-input-row">
										<label>供货价格<span class="sign">*</span></label>
										<input type="number" disabled="disabled" v-model="ls.settlement_price" placeholder="给商品定个好价格">
										<!-- <span class="mui-icon mui-icon-clear" v-show="ls.settlement_price" @tap="ls.settlement_price=''"></span> -->
									</div>
								</li>
								<li class="mui-table-view-cell">
									<div class="mui-input-row">
										<label>零售价格<span class="sign">*</span></label>
										<input type="number" v-model="ls.price" placeholder="设置合理零售价">
										<span class="mui-icon mui-icon-clear" v-show="ls.price" @tap="ls.price=''"></span>
									</div>
								</li>
								<li class="mui-table-view-cell">
									<div class="mui-input-row">
										<label>保护价格</label>
										<input type="number" v-model="ls.protect_price" placeholder="设置保护价避免滥价">
										<span class="mui-icon mui-icon-clear" v-show="ls.protect_price" @tap="ls.protect_price=''"></span>
									</div>
								</li>
								<li class="mui-table-view-cell">
									<div class="mui-input-row">
										<label>库存<span class="sign">*</span></label>
										<input type="number" v-model="ls.stock" placeholder="设置合理的库存避免超货">
										<span class="mui-icon mui-icon-clear" v-show="ls.stock" @tap="ls.stock=''"></span>
									</div>
								</li>
							</ul>
							<div class="del-container" @tap="del_spec(index)">
								<div class="del-btn">
									<i></i>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="add-specification-title">
							<img src="../image/add_vew.png">
							<span>添加商品规格</span>
						</div>
					</li>
					<li class="mui-table-view-cell choice-express">
						<span>快递<span class="sign">*</span></span>
						<span class="mui-navigate-right cont-text mui-pull-right">
							{{express_text}}
						</span>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>邮费</label>
							<input type="number" v-model="freight" placeholder="0.00">
							<span class="mui-icon mui-icon-clear" v-show="freight!=0" @tap="freight=''"></span>
						</div>
					</li>
				</ul>
			</div>
			<div class="option-container">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell edit-goods-detail">
						<span>图文描述</span>
						<span class="mui-navigate-right cont-text mui-pull-right">{{edit_status}}</span>
					</li>
				</ul>
			</div>
			<!-- 选择可售团队 -->
			<div class="option-container">
				<div class="choice-team-title">
					选择可售团队
				</div>
				<ul class="mui-table-view choice-team-content">
					<!-- active -->
					<li class="mui-table-view-cell team-list" :class="comparison(t.id)?'active':''" :data-ids="t.id" v-for="(t,i) in team_list">
						<span>{{t.name}}</span>
					</li>
				</ul>
			</div>
			<div class="btn-section">
				保存
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/mui.picker.min.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/Zepto.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript">
			var userInfo = getUserInfo();
			var goodsId = '';
			var app = new Vue({
				el: "#mui-content",
				data: {
					name: '',
					// 主图
					images: [],
					// 设为推荐
					team_recommend: 0,
					// 设为爆品
					team_hot: 0,
					// 产品类型名称
					goods_type_text: '请选择',
					goods_type_group: [],
					// 产品类型
					type_p: '',
					// 快递类型名称
					express_text: '请选择',
					// 快递类型
					default_express: '',
					express_group: [],
					// 邮费
					freight: '',
					// 排序值
					top: '',
					// 供货价格
					settlement_price: '',
					// 零售价
					price: '',
					// 保护价格
					protect_price: '',
					// 库存
					stock: '',
					// 新增规格
					spec: [],
					// 团队id
					team_ids: [],
					team_list: [],
					description: '',
					edit_status: '未添加',
					status: '',
					remark:''
				},
				created: function() {
					// 初始化字体大小
					var viewport = document.documentElement.clientWidth;
					// console.log("created页面宽度：" + viewport);
					if (viewport > 750) {
						viewport = 750
					}
					document.documentElement.style.fontSize = viewport / 7.5 + "px";
					// 初始化字体大小结束	
				},
				methods: {
					delImg: function(idx) {
						this.images.splice(idx, 1);
						// logs(this.images);
					}
				},
				mounted: function() {
					mui.init({
						beforeback: function() {
							//plus.navigator.setStatusBarStyle("light");
						}
					});
					mui.plusReady(function() {
						var self = plus.webview.currentWebview();
						goodsId = self.goods_id;
						// 获取团队列表
						getTeamList();
						// 商品类型
						getGoodsType();
						// 获取快递列表
						getExpressList();
						//获取商品规格
						getGoodSpec();
						// 获取商品信息
						getGoodInfo();
						var ratio = 1 / 1;
						//plus.navigator.setStatusBarStyle("dark");
						// 添加主图
						mui(".mui-content").on("tap", ".add-goods-img", function() {
							document.activeElement.blur();
							var editButtons = new Array();
							editButtons.push({
								title: "拍照上传",
								style: "default"
							});
							editButtons.push({
								title: "从相册选择",
								style: "default"
							});
							plus.nativeUI.actionSheet({
								cancel: "取消",
								buttons: editButtons
							}, function(e) {
								var index = e.index;
								switch (index) {
									case 1:
										getImage(ratio); //拍照
										break;
									case 2:
										galleryImage(ratio); //相册选择
										break;
								}
							});
						})
						// 拍照获取图片
						function getImage() {
							var camera = plus.camera.getCamera();
							camera.captureImage(function(e) {
								plus.io.resolveLocalFileSystemURL(e, function(entry) {
									cropperImg(entry.toLocalURL(), 'edit_distribution_goods', ratio);
									// imageResize(entry.toLocalURL());
									// 其他操作,比如预览展示
								}, function(e) {
									console.log("读取拍照文件错误：" + e.message);
								});
							}, function(s) {
								console.log("error" + s);
							}, {
								filename: "_doc/camera/"
							})
						}
						// 从相册中选择图片 
						function galleryImage(cb) {
							// 从相册中选择图片
							plus.gallery.pick(function(e) {
								cropperImg(e, 'edit_distribution_goods', ratio);
							}, function(e) {
								console.log("取消选择图片");
							}, {
								filter: "image",
								multiple: false,
								maximum: 5,
								system: false,
								onmaxed: function() {
									plus.nativeUI.alert('最多只能选择1张图片');
								}
							});
						}
						window.addEventListener('cropperSuccess', function(event) {
							app.images.push(event.detail.image);
						})
						// 团队
						function getTeamList() {
							mui.post($ajaxUrl + 'team&action=my_team_list', {
								token: userInfo.token
							}, function(res) {
								if (res.errno == 0) {
									app.team_list = res.data;
								} else {
									plus.nativeUI.alert("添加商品前，请创建正式团队！", function() {
										mui.back();
									})
								}
							}, 'json');
						}
						// 初始化两次防止页面乱
						var viewport = document.documentElement.clientWidth;
						if (viewport > 750) {
							viewport = 750
						}
						document.documentElement.style.fontSize = viewport / 7.5 + "px";
						// 初始化字体大小结束
						//软键盘弹起与隐藏  都会引起窗口的高度发生变化
						var originalHeight = document.documentElement.clientHeight || document.body.clientHeight;
						window.onresize = function() {
							var resizeHeight = document.documentElement.clientHeight || document.body.clientHeight;
							var paddeds = document.querySelector(".btn-section");
							if (resizeHeight * 1 < originalHeight * 1) {
								//resizeHeight<originalHeight证明窗口被挤压了
								paddeds.style.zIndex = '-1';
								paddeds.style.display = 'none';
							} else {
								paddeds.style.zIndex = '199';
								paddeds.style.display = 'flex';
							}
						}
					})
				}
			})

			// 预览主图
			function previewImage(idx) {
				var urls = app.images;
				plus.nativeUI.previewImage(urls, {
					current: idx,
					loop: true,
					indicator: 'number',
					onLongPress: function(event) {
						plus.nativeUI.confirm("保存图片到系统相册", function(e) {
							if (e.index == 0) {
								showload('', '', '保存中···', 'rgba(0,0,0,0.5)');
								plus.gallery.save(event.url, function() {
									showload(1);
									plus.nativeUI.toast("保存成功!");
								}, function() {
									showload(1);
									plus.nativeUI.toast("保存失败!");
								});
							} else {
								// plus.nativeUI.toast("取消");
							}
						});
					}
				});
			}
			// 保存
			mui(".mui-content").on("tap", ".btn-section", function() {
				document.activeElement.blur();
				editDone();
			})
			// 选择团队
			mui(".mui-content").on("tap", ".team-list", function() {
				document.activeElement.blur();
				var ids = this.dataset.ids;
				var index = app.team_ids.indexOf(ids)
				if (index > -1) {
					app.team_ids.splice(index, 1);
					this.classList.remove("active");
				} else {
					this.classList.add("active");
					app.team_ids.push(ids);
				}
				// console.log(app.team_ids);
			})
			// 监听是否设为推荐
			mui(".set_recommend")[0].addEventListener('toggle', function(event) {
				if (event.detail.isActive) {
					app.team_recommend = 1;
				} else {
					app.team_recommend = 0;
				}
			});
			// 监听是否设为爆品
			mui(".set-hot")[0].addEventListener('toggle', function(event) {
				if (event.detail.isActive) {
					app.team_hot = 1;
				} else {
					app.team_hot = 0;
				}
			});
			// 商品类型选择
			mui(".mui-content").on("tap", ".goods-type", function() {
				document.activeElement.blur();
				var goods_type = new mui.PopPicker();
				goods_type.setData(app.goods_type_group);
				if (app.type_p != 0) {
					goods_type.pickers[0].setSelectedValue(app.type_p, 1000);
				}
				goods_type.show(function(items) {
					app.type_p = items[0].value;
					app.goods_type_text = items[0].text;
					// console.log(app.type_p);
				});
			})
			// 规格 供货价格 零售价格 保护价格 库存
			function creatSpec() {
				var _spec = new Object();
				_spec.name = '';
				_spec.price = '';
				_spec.protect_price = '';
				_spec.settlement_price = '';
				_spec.stock = '';
				return _spec;
			}
			// 添加商品规格
			mui(".mui-content").on("tap", ".add-specification-title", function() {
				document.activeElement.blur();
				app.spec.push(creatSpec());
			})
			// 删除商品规格
			function del_spec(idx) {
				app.spec.splice(idx, 1);
			}
			// 选择快递
			mui(".mui-content").on("tap", ".choice-express", function() {
				document.activeElement.blur();
				var express = new mui.PopPicker();
				express.setData(app.express_group);
				if (app.default_express != 0) {
					express.pickers[0].setSelectedValue(app.default_express, 1000);
				}
				express.show(function(items) {
					app.default_express = items[0].value;
					app.express_text = items[0].text;
					cacheData("courier", {
						text: items[0].text,
						value: items[0].value
					})
				});
			})
			// 图文描述
			mui(".mui-content").on("tap", ".edit-goods-detail", function() {
				fnOpenWin('goods_detail.html', 'goods_detail', {
					statusbar: {
						background: '#f7f7f7'
					}
				}, {
					content: app.description
				}, 'slide-in-right');
			})
			// 获取
			// 商品类型
			function getGoodsType() {
				mui.post($ajaxUrl + 'goods', {
					action: 'goods_category',
					token: userInfo.token
				}, function(res) {
					if (res.errno == 0) {
						app.goods_type_group = res.data;
						// app.goods_type_text = app.goods_type_group[0].text;
						// app.type_p = app.goods_type_group[0].value;
					}
				}, 'json');
			}
			// 快递
			function getExpressList() {
				mui.post($ajaxUrl + 'util', {
					action: 'express_list'
				}, function(res) {
					if (res.errno == 0) {
						data = res.data;
						data.forEach(function(item) {
							item.value = item.id;
							item.text = item.e_name;
							delete item.id;
							delete item.e_name;
						})
						app.express_group = data;
					} else {

					}
				}, 'json');
			}
			//详情添加完毕监听
			window.addEventListener('detailAdd', function(event) {
				app.description = event.detail.content;
				// logs(app.description);
				if (app.description.length != 0) {
					app.edit_status = '点击编辑';
				} else {
					app.edit_status = '未添加';
				}
			})
			// 提交编辑
			function editDone() {
				if (app.name.length < 1) {
					message("商品名称不能为空！");
					return false;
				}
				if (app.images.length < 1) {
					message("商品主图不能为空！");
					return false;
				}
				if (app.settlement_price <= 0) {
					message("供货价需大于0");
					return false;
				}
				if (app.price <= 0) {
					message("零售价格需大于0");
					return false;
				}
				if (app.stock < 1) {
					message("请添加库存");
					return false;
				}
				if (app.protect_price <= 0) {
					app.protect_price = app.settlement_price;
				}
				if (app.spec.length > 0) {
					for (var i = 0; i < app.spec.length; i++) {
						if (app.spec[i].name.length < 1) {
							message("商品规格不能为空");
							return false;
						}
						if (app.spec[i].settlement_price <= 0) {
							message("供货价格需大于0");
							return false;
						}
						if (app.spec[i].price <= 0) {
							message("零售价格需大于0");
							return false;
						}

						if (app.spec[i].stock < 1) {
							message("商品库存需大于0");
							return false;
						}
						if (app.spec[i].protect_price <= 0) {
							app.spec[i].protect_price = app.spec[i].settlement_price;
							return false;
						}
					}
				}
				if (app.default_express < 1) {
					message("请选择快递");
					return false;
				}
				if (app.freight.length <= 0) {
					app.freight = 0;
					return false;
				}

				if (app.team_ids.length < 1) {
					message("请选择可售团队");
					return false;
				}
				var datas = {
					name: app.name,
					images: app.images,
					team_recommend: app.team_recommend,
					team_hot: app.team_hot,
					type_p: app.type_p,
					top: app.top,
					settlement_price: app.settlement_price,
					price: app.price,
					protect_price: app.protect_price,
					stock: app.stock,
					spec: app.spec,
					default_express: app.default_express,
					freight: app.freight,
					content: app.description,
					team_ids: app.team_ids.join(','),
				}
				// logs(datas);
				mui.post($ajaxUrl + 'goods', {
					action: 'edit_team_goods',
					token: userInfo.token,
					data: datas,
					goods_id: goodsId
				}, function(res) {
					// logs(res);
					if (res.errno == 0) {
						message('修改成功！');
						mui.fire(plus.webview.getWebviewById('warehouse_management'), 'reloadYourself');
						setTimeout(function() {
							mui.back();
						}, 500);
					} else {
						message(res.message);
					}
				}, 'json');
			}
			// 编辑------
			/**
			 * 获取商品规格
			 */
			function getGoodSpec() {
				var ajax_url = $ajaxUrl + 'goods';
				mui.ajax(ajax_url, {
					data: {
						goods_id: goodsId,
						action: 'get_good_spec_by_id',
						token: userInfo.token
					},
					dataType: 'json',
					type: 'post',
					timeout: 10000,
					success: function(ret) {
						// console.log(JSON.stringify(ret));
						if (ret.errno == 0) {
							app.spec = ret.data;
						}
					},
					error: function(xhr, type, errorThrown) {
						console.log(JSON.stringify('失败'));
						console.log(JSON.stringify(errorThrown));
					}
				});
			}

			//获取商品的信息
			function getGoodInfo() {
				// logs(goodsId);
				var ajax_url = $ajaxUrl + 'goods';
				mui.ajax(ajax_url, {
					data: {
						goods_id: goodsId,
						action: 'get_goods_by_id',
						token: userInfo.token
					},
					dataType: 'json',
					type: 'post',
					timeout: 10000,
					success: function(res) {
						// logs(res);
						var datas = res.data;
						app.remark=datas.remark;
						app.images = datas.images;
						app.name = datas.name;
						app.description = datas.content;
						if (app.description) {
							app.edit_status = '点击编辑';
						}
						app.team_recommend = datas.team_recommend;
						app.team_recommend = datas.team_recommend;
						app.team_hot = datas.team_hot;
						app.top = datas.top;
						// 为了拿到上次选择的商品类型
						app.type_p = datas.type_p;
						app.goods_type_text = datas.type_name;
						app.settlement_price = datas.settlement_price;
						app.price = datas.price;
						app.protect_price = datas.protect_price;
						app.stock = datas.stock;
						app.freight = datas.freight;
						app.default_express = datas.default_express;
						app.express_text = datas.express_name;
						app.team_ids = datas.team_ids.split(","); //上次选的团队
					},
					error: function(xhr, type, errorThrown) {
						console.log(JSON.stringify('失败'));
						console.log(JSON.stringify(errorThrown));
					}
				});
			}

			function comparison(id) {
				var flag = false;
				if (app.team_ids.indexOf(id) > -1) {
					flag = true;
				}
				return flag;
			}
		</script>
	</body>

</html>
