<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>好友详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/vip-page.css" rel="stylesheet" />
		<link href="../css/mui.picker.min.css" rel="stylesheet" />
	</head>
	<body class="mui-hidden">
		<header class="mui-bar mui-bar-nav friends-detail-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title"></h1>
			<span class="mui-pull-right mui-icon mui-icon-more" style="display: none;"></span>
		</header>
		<div id="mui-content" class="mui-content friends-detail-container">
			<!-- 名片样式一 -->
			<div v-if="cardType=='cardType2'" class="first-card-container">
				<div class="card">
					<img class="user-head-img" :src="friendData.avatar||'../image/user_default.jpg'">
					<div class="user-qr-code mui-pull-right">
						<img src="../image/Marketing-code-01.png">
					</div>
					<div class="card-left-cont">
						<ul>
							<li v-if="friendData.company" id="first-row">{{friendData.company}}</li>
							<li v-if="friendData.name" id="second-row">{{friendData.name}}</li>
							<li v-if="friendData.job" id="third-row">{{friendData.job}}</li>
							<li v-if="friendData.phone" id="fourth-row">{{friendData.phone}}</li>
							<li v-if="friendData.email" id="fifth-row">{{friendData.email}}</li>
							<li v-if="friendData.company_address" id="sixth-row">{{friendData.company_address}}</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 名片样式一结束 -->
			<!-- 名片样式二 -->
			<div class="second-card-container" v-else>
				<div class="card">
					<img class="user-head-img" :src="friendData.avatar||'../image/user_default.jpg'">
					<div class="user-qr-code mui-pull-right">
						<img src="../image/Marketing-code-01.png">
					</div>
					<div class="user-info">
						<h4>{{friendData.name}}</h4>
						<p>{{friendData.job==''?'还未填写':friendData.job}}</p>
						<p>{{friendData.company_address==''?'还未填写':friendData.company_address}}</p>
					</div>
				</div>
			</div>
			<!-- 名片样式二结束 -->
			<!-- 名片信息 -->
			<!-- mui-icon-arrowdown -->
			<div class="show-card-info" id="showInfo"><span id="descText">展开全部名片信息</span><i class="mui-icon mui-icon-arrowup"></i></div>
			<div class="card-info-container">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell"><i>手机</i><span>{{friendData.phone==""?"暂无":friendData.phone}}</span><a v-if="friendData.phone"
						 :href="'tel:'+friendData.phone">拨打</a></li>
					<li class="mui-table-view-cell" v-if="cardType=='cardType1'"><i>座机</i><span>{{friendData.telephone==""?"暂无":friendData.telephone}}</span><a
						 v-if="friendData.telephone" href="tel:13700696591">拨打</a></li>
					<li class="mui-table-view-cell"><i>微信</i><span>{{friendData.wechat==""?"暂无":friendData.wechat}}</span><a v-if="friendData.wechat"
						 href="javascript:void(0)" @tap="copy_fun(friendData.wechat)">复制</a></li>
					<li class="mui-table-view-cell" v-if="cardType=='cardType1'"><i>邮箱</i><span>{{friendData.email==""?"暂无":friendData.email}}</span><a
						 v-if="friendData.email" href="javascript:void(0)" @tap="copy_fun(friendData.email)">复制</a></li>
					<li class="mui-table-view-cell"><i>公司</i><span>{{friendData.company==""?"暂无":friendData.company}}</span><a v-if="friendData.company"
						 href="javascript:void(0)" @tap="copy_fun(friendData.company)">复制</a></li>
					<li class="mui-table-view-cell"><i>地址</i><span>{{friendData.company_address==""?"暂无":friendData.company_address}}</span></li>
				</ul>
			</div>
			<div class="operation-btn-cont">
				<button type="button">分享名片</button>
				<button type="button" @tap="addAddressList">同步到通讯录</button>
			</div>
			<!-- 浏览记录 -->
			<div class="browse-record">
				<div class="browse-record-left">
					<ul class="browse-record-img-cont">
						<li class="browse-record-img" v-for="(items,index) in friendData.card_view" v-if="index<7" :key="index">
							<img :src="items">
						</li>
						<span v-if="view_total>6">...</span>  
					</ul>
					<p>最近{{friendData.card_count}}人次浏览</p>
				</div>
				<div :class="[is_reliable?'browse-record-right active':'browse-record-right']">
					<span class="click-heart"></span>
					<span>靠谱:{{friendData.like_count}}</span>
				</div>
			</div>
			<h5 class="personality-desc">个性签名</h5>
			<div class="personality-cont">
				<template>
					<p v-if="friendData.desc" v-html="friendData.desc"></p>
					<p v-else>暂无个性签名</p>
					<div class="user-info" v-if="friendData.voice_time!=0">
						<div class="user-head-img"><img :src="friendData.avatar"></div>
						<!-- 添加 play是播放状态的图标-->
						<div id="audio-control" class="play-control">
							<div class="left-arrow"></div>
							<i class="play-status"></i>
							<div class="right-info mui-pull-right">
								<i></i>
								<span id="timer-num">{{friendData.voice_time}}</span>
							</div>
						</div>
						<div :class="[is_voice_like?'click-agree active':'click-agree']" id="clickAgree">
							<span class="agree-icon"></span>
							<span>点赞</span>
						</div>
					</div>
				</template>

			</div>
			<h5 class="personality-desc">主推商品</h5>
			<div class="goods-window">
				<ul class="goods-lists" v-if="friendData.goods !== undefined && friendData.goods.length >0 ">
					<li class="goods-item" v-for="(goods,index) in friendData.goods" :key="index">
						<div class="goods-img">
							<img :src="goods.cover">
						</div>
						<div class="goods-desc">
							<p class="goods-title mui-ellipsis-2">{{goods.name}}</p>
							<p class="price">&yen;<span id="goods-price">{{goods.price}}</span></p>
						</div>
					</li>
				</ul>
				<p v-else style="margin: 10px 0;">暂无数据</p>
			</div>
			<h5 class="personality-desc">图片展示</h5>
			<div class="img-show" id="img-show">
				<ul v-if="friendData.images">
					<li v-for="img in friendData.images"><img :src="img"></li>
				</ul>
				<p v-else style="margin: 10px 0;text-align: left;">暂无图片</p>
			</div>
			<div class="add-friend-btn" v-if="addshow" v-on:click.stop="addFriend">
				<img src="../image/icon/add_friends_icon.png" class="constrain-img">
				<span>添加好友</span>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/Zepto.min.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script src="../js/mui.previewimage.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});
			// 初始化字体大小
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			var fid = "";
			var userInfo = getUserInfo();
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
			// 初始化字体大小结束
			// 实例化vue对象
			var muiCont = new Vue({
				el: '#mui-content',
				data: {
					cardType: 'cardType1',
					friendData: {},
					contName: '',
					phoneNum: '',
					is_friend: 1,
					is_reliable: 0,
					is_voice_like: 0,
					addshow: false,
					audioUrl: '',
					view_total: 0
				},
				mounted: function() {
					mui.plusReady(function() {
						var self = plus.webview.currentWebview();
						fid = self.fid;
						getFriendsInfo();
						// 音频播放
						var voice = null,
							playstatus = 0,
							pausing = false,
							downLoadurl = '_downloads/' + Date.parse(new Date()) + '.mp3',
							timer = setInterval(function() {
								if (muiCont.audioUrl) {
									logs(muiCont.audioUrl);
									downloader = plus.downloader.createDownload(muiCont.audioUrl, {
										filename: downLoadurl
									}, function(d, status) {
										logs(d);
										if (status == 200) {
											voice = plus.audio.createPlayer(downLoadurl);
										} else {
											message('音频初始化失败');
										}
									});
									clearInterval(timer);
									// 开始下载音频
									downloader.start();
									// 创建音频对象
								}
							}, 100);
						mui(".mui-content").on("tap", ".play-control", function() {
							// logs(voice);
							//监测暂停
							if (pausing) {
								voice.resume();
								$(".play-control").addClass("play");
								pausing = false;
								return;
							}
							if (playstatus) {
								pause();
								return;
							}
							$(".play-control").addClass("play");
							playler();
						})

						function playler() {
							voice.play(function() {
								voice.stop();
								$(".play-control").removeClass("play");
								pausing = false;
								playstatus = 0;
							}, function(e) {
								message("播放失败");
								$(".play-control").removeClass("play");
							});
							playstatus = 1;
						}

						function pause() {
							pausing = true;
							voice.pause();
							$(".play-control").removeClass("play");
						}
						//app切换到后台时暂停切换到前端时继续播放
						document.addEventListener('pause', function() {
							if (voice) {
								pause();
							}
						});
						document.addEventListener('resume', function() {
							if (voice) {
								playler();
							}
						});
						// 跳转到更多页面
						mui(".friends-detail-header").on("tap", "span", function() {
							if (muiCont.is_friend == 1) {
								openPage('friends_detail_more.html', 'friends_detail_more', '#f7f7f7', {
									token: userInfo.token,
									fid: fid
								});
							} else if (fid == userInfo.id) {
								message("不能修改自己备注!");
							} else {
								message("请先添加好友！");
							}
						})
						// 预览图片
						var self = plus.webview.currentWebview();
						tid = self.aid;
						setTimeout(function() {
							var images = [].slice.call(document.querySelectorAll('#img-show img'));
							var urls = [];
							images.forEach(function(item) {
								urls.push(item.src);
							});
							mui('.img-show').on('tap', 'img', function() {
								var index = images.indexOf(this);
								plus.navigator.setStatusBarBackground("#000000")
								plus.nativeUI.previewImage(urls, {
									current: index,
									loop: true,
									indicator: 'number',
								});
							});
						}, 200)
					})
					document.querySelector(".mui-hidden").classList.remove("mui-hidden");
				},
				methods: {
					addFriend: function() {
						openPage('friend_verification.html', 'friend_verification', '#f7f7f7', {
							fid: fid
						});
					}
				}
			});
			// 获取资料
			function getFriendsInfo() {
				mui.post($ajaxUrl + 'customer&action=detail&type=friend', {
					token: userInfo.token,
					user_id: fid
				}, function(res) {
					logs(res);
					var data = res.data;
					if (res.errno == 0) {
						muiCont.cardType = data.card_type;
						muiCont.contName = data.name;
						muiCont.phoneNum = data.phone;
						muiCont.friendData = data;
						muiCont.is_friend = data.is_friend;
						muiCont.is_reliable = data.is_reliable;
						muiCont.is_voice_like = data.is_voice_like;
						muiCont.audioUrl = data.voice;
						muiCont.view_total = data.card_view.length;
						
						mui(".mui-title")[0].innerText = data.name;
						var selfid = userInfo.id;
						if (fid != selfid && muiCont.is_friend != 1) {
							muiCont.addshow = true;
						}
						if (fid != selfid && muiCont.is_friend == 1) {
							document.querySelector('.mui-icon-more').style.display = 'block';
						}
					} else {
						message(res.errno.message) 
					}
				}, 'json')
			}
			$("#showInfo").click(function() {
				$(this).find("i").toggleClass("mui-icon-arrowdown");
				var descText = $("#descText").text();
				if (descText == "展开全部名片信息") {
					$("#descText").text("收起以下名片信息");
				} else {
					$("#descText").text("展开全部名片信息");
				}
				$(".card-info-container").slideToggle();
			})
			// 靠谱
			mui(".mui-content").on("tap", ".browse-record-right", function() {
				mui.post($ajaxUrl + 'customer&action=like', {
					token: userInfo.token,
					to_uid: fid,
					type: 3
				}, function(res) {
					getFriendsInfo();
				}, 'json')
			})

			// 点赞
			mui(".mui-content").on("tap", ".click-agree", function() {
				mui.post($ajaxUrl + 'customer&action=like', {
					token: userInfo.token,
					to_uid: fid,
					type: 1
				}, function(res) {
					getFriendsInfo();
				}, 'json')
			})
			//  复制方法
			function copy_fun(copy) {
				//判断是安卓还是ios
				if (mui.os.ios) {
					//ios
					var UIPasteboard = plus.ios.importClass("UIPasteboard");
					var generalPasteboard = UIPasteboard.generalPasteboard();
					//设置/获取文本内容:
					generalPasteboard.plusCallMethod({
						setValue: copy,
						forPasteboardType: "public.utf8-plain-text"
					});
					generalPasteboard.plusCallMethod({
						valueForPasteboardType: "public.utf8-plain-text"
					});
					message("已成功复制到剪贴板");
				} else {
					//安卓
					var context = plus.android.importClass("android.content.Context");
					var main = plus.android.runtimeMainActivity();
					var clip = main.getSystemService(context.CLIPBOARD_SERVICE);
					plus.android.invoke(clip, "setText", copy);
					message("已成功复制到剪贴板");
				}
			}

			// 添加到通讯录
			function addAddressList() {
				plus.contacts.getAddressBook(plus.contacts.ADDRESSBOOK_PHONE, function(addressbook) {
					plus.nativeUI.confirm('确认将' + muiCont.contName + '（' + muiCont.phoneNum + '）添加到通讯录吗？', function(e) {
						if (e.index == 0) {
							var contact = addressbook.create();
							contact.name = {
								givenName: muiCont.contName
							};
							contact.phoneNumbers = [{
								type: "手机",
								value: muiCont.phoneNum,
								preferred: true
							}];
							contact.save(function() {
								message("添加成功");
							}, function() {
								message("添加失败");
							});
						} else {}
					}, {
						"title": "",
						"buttons": ["添加", "取消"],
						"verticalAlign": "bottom"
					});
				}, function(e) {
					message("添加失败");
				});
			}
			// 跳转名片二维码页面
			mui(".mui-content").on("tap", ".user-qr-code", function() {
				openPage('business_card.html', 'business_card', '#f7f7f7', '');
			})
		</script>
	</body>
</html>
