<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/mui.imageviewer.css" rel="stylesheet" />
		<link href="../css/team_chat.css" rel="stylesheet" />
		<style>
			.msg-item .msg-content{
				margin-top: 16px;
				position: relative;
			}
			.msg-item{
				position: relative;
			}
			.self-name,.other-name{
				font-size: 12px;
				color: #999999;
				position: absolute;
				top: 5px;
			}
			.self-name{
				right: 54px;
			}
			.other-name{
				left:54px;
			}
			#msg-list{
				padding-bottom: 50px;
				position: relative;
			}
			.option-menu{
				width: 96px;
				position: fixed;
				right: 15px;
				bottom: 60px;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.menu{
				width: 35px;
				height: 35px;
				overflow: hidden;
				border-radius: 50%;
				opacity: 0.8;
			}
			.menu img{
				width: 100%;
				height: 100%;
			}
			.red-dot{
				position: absolute;
				top: 1px;
				right: 1px;
				display: inline-block;
				border-radius: 50%;
				background-color: #FF0000;
				width: 6px;
				height: 6px;
			}
			.msg-item-self .red-dot{
				left: 1px;
				right: auto;
			}
			.nav-right-btn{
				height: 44px;
				width: 44px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 16;
				font-size: 14px;
				color: #333333;
				margin-right:-5px;
			}
			.nav-right-btn img{
				width:20px;
				height: auto;
			}
		</style>
	</head>

	<body contextmenu="return false;">
		<header class="mui-bar mui-bar-nav">
			<div class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></div>
			<h1 class="mui-title"></h1>
			<div class="nav-right-btn mui-pull-right">
				<img src="../image/icon/team-list-opction01.png">
			</div>
		</header>
		<pre id="h"></pre>
		<div class="mui-content">
			<div id="msg-list">
				<template v-for="(item, index) in chatList" :key="index">
					<div class="data-time" style="padding: 5px 0;text-align: center;font-size: 14px;color: #999;">{{index}}</div>
					<template v-for="(list, key) in item" :key="key">
						<div class="msg-item" :class="uid==list.uid?'msg-item-self':''" :msg-type="list.message_type" :msg-content="list.content">
							<span :class="uid==list.uid ? 'self-name' : 'other-name'">{{list.user_name}}</span>
							<img :class="uid==list.uid ? 'msg-user' : 'msg-user-img'" :src="list.user_avatar" alt="" />
							<div class="msg-content">
								<i v-if="list.read_status==0&&list.message_type=='audio'" class="red-dot"></i>
								<div v-if="list.message_type=='text'" class="msg-content-inner" v-html="list.content">
									{{ list.content|| '&nbsp;&nbsp;' }}
								</div>
								<div v-else-if="list.message_type=='image'" class="msg-content-inner">
									<img class="msg-content-image" :src="list.content" style="max-width: 100px;" />
								</div>
								<div v-else class="msg-content-inner" @tap="readAudio(list.id,index,key,list.read_status,list.message_type,list.content)">
									<span class="mui-icon mui-icon-mic" style="font-size: 18px;font-weight: bold;"></span>
									<span class="play-state" :class="'play-state'+list.id">点击播放</span>
								</div>
								<div class="msg-content-arrow"></div>
							</div>
							<div class="mui-item-clear"></div>
						</div>
					</template>
				</template>
			</div>
			<div class="option-menu">
				<div class="menu banned-say">
					<img v-show="!say" src="../image/icon/live-streaming-03.png">
					<img v-show="say" src="../image/icon/live-streaming-04.png">
				</div>
				<div class="menu alone-teacher">
					<img v-show="checkType==1" src="../image/icon/live-streaming-01.png">
					<img v-show="checkType==2" src="../image/icon/live-streaming-02.png">
				</div>
			</div>
		</div>
		<footer>
			<div class="footer-left">
				<i id="msg-image" class="mui-icon mui-icon-camera" style="font-size: 28px;"></i>
			</div>
			<div class="footer-center">
				<textarea id="msg-text" type="text" class="input-text"></textarea>
				<button id="msg-sound" type="button" class="input-sound" style="display: none;">按住说话</button>
			</div>
			<label for="" class="footer-right">
				<i id="msg-type" class="mui-icon mui-icon-mic"></i>
			</label>
		</footer>
		<div class="option-menu">
			<div class="option-btn"></div>
			<div class="option-btn"></div>
		</div>
		<div id="sound-alert" class="rprogress">
			<div class="rschedule"></div>
			<div class="r-sigh">!</div>
			<div id="audio_tips" class="rsalert">手指上滑，取消发送</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.imageViewer.js"></script>
		<script src="../js/arttmpl.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/upload.js"></script>
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: false,
				gestureConfig: {
					tap: true, //默认为true
					doubletap: true, //默认为false
					longtap: true, //默认为false
					swipe: true, //默认为true
					drag: true, //默认为true
					hold: true, //默认为false，不监听
					release: true, //默认为false，不监听
				},
				beforeback: function() {
					mui.fire(plus.webview.getWebviewById('message'), 'refreshNotice');
				}
			})

			if (mui.os.ios) {
				// 解决在ios上fixed元素focusin时位置出现错误的问题 
				document.addEventListener('DOMContentLoaded', function() {
					var footerDom = document.querySelector('footer');
					document.addEventListener('focusin', function() {
						footerDom.style.position = 'absolute';
					});
					document.addEventListener('focusout', function() {
						footerDom.style.position = 'fixed';
					});
				});
			}

			var ws = null;
			var chatData = null;
			var userInfo = getUserInfo();
			var MIN_SOUND_TIME = 800;
			var skip = 1;
			var intervalTime = 0;
			var limit = 20;
			var player = null;
			var playStatus = false;

			var vm = new Vue({
				el: '.mui-content',
				data: {
					// 禁言
					say: false,
					// 只看讲师
					alone: false,
					chatList: {},
					uid: userInfo.id,
					tid: 0,
					courseId: 0,
					checkType: 1,
					// 讲师id
					teacher_id: 0
				},
				created: function() {

				},
				mounted: function() {
					mui.plusReady(function() {
						var wv = plus.webview.currentWebview();
						var tid = wv.tid;
						vm.tid = tid;
						vm.teacher_id = wv.teacherId;
						vm.courseId = wv.courseId;
						if (wv.isSilent == 1) {
							vm.say = true;
						} else {
							vm.say = false;
						}
						plus.navigator.setStatusBarStyle("dark");
						var courseTitle = wv.courseTitle;
						var title = function(value) {
							if (value && value.length > 8) {
								value = value.substring(0, 8) + '…';
							}
							return value;
						};
						document.querySelector('.mui-title').innerHTML = title(courseTitle);
						chatData = {
							team_id: tid,
							course_id: vm.courseId,
							user_id: userInfo.id,
							uniacid: userInfo.uniacid,
							type: 2,
							content: '',
							message_type: '',
						};
						plus.webview.currentWebview().setStyle({
							softinputMode: "adjustResize"
						});

						getChatList();
						readMessage();
						WebSocketInit();

						var showKeyboard = function() {
							if ($.os.ios) {
								var webView = plus.webview.currentWebview().nativeInstanceObject();
								webView.plusCallMethod({
									"setKeyboardDisplayRequiresUserAction": false
								});
							} else {
								var main = plus.android.runtimeMainActivity();
								var Context = plus.android.importClass("android.content.Context");
								InputMethodManager = plus.android.importClass("android.view.inputmethod.InputMethodManager");
								imm = main.getSystemService(Context.INPUT_METHOD_SERVICE);
								imm.toggleSoftInput(0, InputMethodManager.SHOW_FORCED);
								// imm.showSoftInput(main.getWindow().getDecorView(), InputMethodManager.SHOW_IMPLICIT);
								setTimeout(function() {
									var inputElem = document.getElementById("msg-text"); //需要获得焦点的input  
									inputElem.focus();
								}, 200);
							}
						};

						document.getElementById('msg-list').addEventListener('scroll', function(e) {
							var top = this.scrollTop;
							if (top < 100 && intervalTime > 2) {
								skip++;
								getChatList();
							}
						}, false);

						// showKeyboard();
						var ui = {
							body: document.querySelector('body'),
							footer: document.querySelector('footer'),
							footerRight: document.querySelector('.footer-right'),
							footerLeft: document.querySelector('.footer-left'),
							btnMsgType: document.querySelector('#msg-type'),
							boxMsgText: document.querySelector('#msg-text'),
							boxMsgSound: document.querySelector('#msg-sound'),
							btnMsgImage: document.querySelector('#msg-image'),
							areaMsgList: document.querySelector('#msg-list'),
							boxSoundAlert: document.querySelector('#sound-alert'),
							h: document.querySelector('#h'),
							content: document.querySelector('.mui-content')
						};

						ui.h.style.width = ui.boxMsgText.offsetWidth + 'px';
						//alert(ui.boxMsgText.offsetWidth );
						var footerPadding = ui.footer.offsetHeight - ui.boxMsgText.offsetHeight;
						var imageViewer = new mui.ImageViewer('.msg-content-image', {
							dbl: false
						});

						var bindMsgList = function() {
							var areaMsgList = document.querySelector('#msg-list');
							// var msgItems = areaMsgList.querySelectorAll('.msg-item');
							// [].forEach.call(msgItems, function(item, index) {
							// 	item.addEventListener('tap', function(event) {
							// 		msgItemTap(item, event);
							// 	}, false);
							// });
							imageViewer.findAllImage();
							// console.log(areaMsgList.scrollHeigh);
							// console.log(areaMsgList.offsetHeight);
							areaMsgList.scrollTop = areaMsgList.scrollHeight + areaMsgList.offsetHeight;
							// areaMsgList.scrollTop = areaMsgList.offsetHeight + 1000;
						};

						// bindMsgList();
						window.addEventListener('resize', function() {
							ui.areaMsgList.scrollTop = ui.areaMsgList.scrollHeight + ui.areaMsgList.offsetHeight;
						}, false);

						var send = function(msg) {
							if (vm.chatList[msg.time]) {
								vm.chatList[msg.time].push(msg);
							} else {
								var msgArray = new Array();
								msgArray.push(msg);
								vm.$set(vm.chatList, msg.time, msgArray);
							}
							setTimeout(function() {
								bindMsgList();
							}, 1000);
						};

						function msgTextFocus() {
							ui.boxMsgText.focus();
							setTimeout(function() {
								ui.boxMsgText.focus();
							}, 150);
						}

						//解决长按“发送”按钮，导致键盘关闭的问题；
						ui.footerRight.addEventListener('touchstart', function(event) {
							if (ui.btnMsgType.classList.contains('mui-icon-paperplane')) {
								msgTextFocus();
								event.preventDefault();
							}
						});

						//解决长按“发送”按钮，导致键盘关闭的问题；
						ui.footerRight.addEventListener('touchmove', function(event) {
							if (ui.btnMsgType.classList.contains('mui-icon-paperplane')) {
								msgTextFocus();
								event.preventDefault();
							}
						});

						// ui.footerRight.addEventListener('touchcancel', function(event) {
						// 	if (ui.btnMsgType.classList.contains('mui-icon-paperplane')) {
						// 		msgTextFocus();
						// 		event.preventDefault();
						// 	}
						// });
						// ui.footerRight.addEventListener('touchend', function(event) {
						// 	if (ui.btnMsgType.classList.contains('mui-icon-paperplane')) {
						// 		msgTextFocus();
						// 		event.preventDefault();
						// 	}
						// });

						ui.footerRight.addEventListener('release', function(event) {
							if (ui.btnMsgType.classList.contains('mui-icon-paperplane')) {
								//showKeyboard();
								ui.boxMsgText.focus();
								setTimeout(function() {
									ui.boxMsgText.focus();
								}, 150);
								//event.detail.gesture.preventDefault();
								// send({
								// 	sender: 'self',
								// 	type: 'text',
								// 	content: ui.boxMsgText.value.replace(new RegExp('\n', 'gm'), '<br/>')
								// });
								chatData['message_type'] = 'text';
								chatData['content'] = ui.boxMsgText.value.replace(new RegExp('\n', 'gm'), '<br/>');
								// logs(chatData);
								ws.send(JSON.stringify(chatData)); //向服务器发送消息
								ui.boxMsgText.value = '';
								mui.trigger(ui.boxMsgText, 'input', null);
							} else if (ui.btnMsgType.classList.contains('mui-icon-mic')) {
								ui.btnMsgType.classList.add('mui-icon-compose');
								ui.btnMsgType.classList.remove('mui-icon-mic');
								ui.boxMsgText.style.display = 'none';
								ui.boxMsgSound.style.display = 'block';
								ui.boxMsgText.blur();
								document.body.focus();
							} else if (ui.btnMsgType.classList.contains('mui-icon-compose')) {
								ui.btnMsgType.classList.add('mui-icon-mic');
								ui.btnMsgType.classList.remove('mui-icon-compose');
								ui.boxMsgSound.style.display = 'none';
								ui.boxMsgText.style.display = 'block';
								//--
								//showKeyboard();
								ui.boxMsgText.focus();
								setTimeout(function() {
									ui.boxMsgText.focus();
								}, 150);
							}
						}, false);

						ui.footerLeft.addEventListener('tap', function(event) {
							imageUpload(function(res) {
								chatData.message_type = 'image';
								chatData.content = res.url;
								ws.send(JSON.stringify(chatData));
							})
							// var btnArray = [{
							// 	title: "拍照"
							// }, {
							// 	title: "从相册选择"
							// }];
							// plus.nativeUI.actionSheet({
							// 	title: "选择照片",
							// 	cancel: "取消",
							// 	buttons: btnArray
							// }, function(e) {
							// 	var index = e.index;
							// 	switch (index) {
							// 		case 0:
							// 			break;
							// 		case 1:
							// 			var cmr = plus.camera.getCamera();
							// 			cmr.captureImage(function(path) {
							// 				send({
							// 					sender: 'self',
							// 					type: 'image',
							// 					content: "file://" + plus.io.convertLocalFileSystemURL(path)
							// 				});
							// 			}, function(err) {});
							// 			break;
							// 		case 2:
							// 			plus.gallery.pick(function(path) {
							// 				send({
							// 					sender: 'self',
							// 					type: 'image',
							// 					content: path
							// 				});
							// 			}, function(err) {}, null);
							// 			break;
							// 	}
							// });
						}, false);

						var setSoundAlertVisable = function(show) {
							if (show) {
								ui.boxSoundAlert.style.display = 'block';
								ui.boxSoundAlert.style.opacity = 1;
							} else {
								ui.boxSoundAlert.style.opacity = 0;
								//fadeOut 完成再真正隐藏
								setTimeout(function() {
									ui.boxSoundAlert.style.display = 'none';
								}, 200);
							}
						};

						var recordCancel = false;
						var recorder = null;
						var audio_tips = document.getElementById("audio_tips");
						var startTimestamp = null;
						var stopTimestamp = null;
						var stopTimer = null;

						ui.boxMsgSound.addEventListener('hold', function(event) {
							recordCancel = false;
							if (stopTimer) clearTimeout(stopTimer);
							audio_tips.innerHTML = "手指上划，取消发送";
							ui.boxSoundAlert.classList.remove('rprogress-sigh');
							setSoundAlertVisable(true);
							recorder = plus.audio.getRecorder();
							if (recorder == null) {
								plus.nativeUI.toast("不能获取录音对象");
								return;
							}
							startTimestamp = (new Date()).getTime();
							recorder.record({
								filename: "_doc/audio/",
								format: "mp3"
							}, function(path) {
								if (recordCancel) return;
								// send({
								// 	sender: 'self',
								// 	type: 'sound',
								// 	content: path
								// });
								voiceUpload(path);
							}, function(e) {
								plus.nativeUI.toast("录音时出现异常: " + e.message);
							});
						}, false);

						ui.body.addEventListener('drag', function(event) {
							//console.log('drag');
							if (Math.abs(event.detail.deltaY) > 50) {
								if (!recordCancel) {
									recordCancel = true;
									if (!audio_tips.classList.contains("cancel")) {
										audio_tips.classList.add("cancel");
									}
									audio_tips.innerHTML = "松开手指，取消发送";
								}
							} else {
								if (recordCancel) {
									recordCancel = false;
									if (audio_tips.classList.contains("cancel")) {
										audio_tips.classList.remove("cancel");
									}
									audio_tips.innerHTML = "手指上划，取消发送";
								}
							}
						}, false);

						ui.boxMsgSound.addEventListener('release', function(event) {
							//console.log('release');
							if (audio_tips.classList.contains("cancel")) {
								audio_tips.classList.remove("cancel");
								audio_tips.innerHTML = "手指上划，取消发送";
							}
							//
							stopTimestamp = (new Date()).getTime();
							if (stopTimestamp - startTimestamp < MIN_SOUND_TIME) {
								audio_tips.innerHTML = "录音时间太短";
								ui.boxSoundAlert.classList.add('rprogress-sigh');
								recordCancel = true;
								stopTimer = setTimeout(function() {
									setSoundAlertVisable(false);
								}, 800);
							} else {
								setSoundAlertVisable(false);
							}
							recorder.stop();
						}, false);

						ui.boxMsgSound.addEventListener("touchstart", function(e) {
							//console.log("start....");
							e.preventDefault();
						});

						ui.boxMsgText.addEventListener('input', function(event) {
							ui.btnMsgType.classList[ui.boxMsgText.value == '' ? 'remove' : 'add']('mui-icon-paperplane');
							ui.btnMsgType.setAttribute("for", ui.boxMsgText.value == '' ? '' : 'msg-text');
							ui.h.innerText = ui.boxMsgText.value.replace(new RegExp('\n', 'gm'), '\n-') || '-';
							ui.footer.style.height = (ui.h.offsetHeight + footerPadding) + 'px';
							ui.content.style.paddingBottom = ui.footer.style.height;
						});

						// var focus = false;
						// ui.boxMsgText.addEventListener('tap', function(event) {
						// 	ui.boxMsgText.focus();
						// 	setTimeout(function() {
						// 		ui.boxMsgText.focus();
						// 	}, 0);
						// 	focus = true;
						// 	setTimeout(function() {
						// 		focus = false;
						// 	}, 1000);
						// 	event.detail.gesture.preventDefault();
						// }, false);

						//点击消息列表，关闭键盘
						// ui.areaMsgList.addEventListener('click', function(event) {
						// 	if (!focus) {
						// 		ui.boxMsgText.blur();
						// 	}
						// })

						var timer = 0
						//websocket 心跳检测
						var heartCheck = {
							timeout: 3e3,
							timeoutObj: null,
							serverTimeoutObj: null,
							reset: function() {
								clearTimeout(timer);
								clearTimeout(this.serverTimeoutObj);
								clearTimeout(this.timeoutObj);
								// console.log("heartCheck.reset.timer");
								return;
							},
							start: function() {
								this.timeoutObj = setTimeout(function() {
									var t = {
										ping: !0,
										user_id: userInfo.id,
										uniacid: userInfo.uniacid,
										type: 2
									};
									ws.send(JSON.stringify(t));
								}, this.timeout);
							},

						};

						//socket初始化
						function WebSocketInit() {
							if ("WebSocket" in window) {
								// 打开一个 web socket
								ws = new WebSocket("wss://app.wangkeapp.cn/wss");
								ws.onopen = function() {
									if (ws.readyState == WebSocket.OPEN) {
										// console.log("连接已打开...");
										heartCheck.reset();
										heartCheck.start();
									}
								};
								ws.onmessage = function(event) {
									var data = event.data;
									if (data == 'pong') {
										// console.log('websocket连接正常...');
										heartCheck.reset();
										heartCheck.start();
									} else {
										data = JSON.parse(data);
										logs(data);
										if (data.error == 0) {
											vm.say = false;
											msgData = data.data;
											// msgData['read_status'] = 1;
											send(msgData);
										} else if (data.error == -2) {
											message(data.message);
											vm.say = true;
										}
										// data['read_status'] = 1;
										// logs(data);
										// if (data.data2) {
										// 	if (data.data2.user_id == chatId) {
										// 		var message = {
										// 			sender: chatId,
										// 			type: data.data2.message_type,
										// 			content: data.data2.content,
										// 			message_id: data.message_id
										// 		}
										// 		send(message);
										// 	} else {
										// 		mui.post($ajaxUrl + 'chat&action=unread_message', {
										// 			token: userInfo.token,
										// 			message_id: data.data2.id
										// 		}, function(res) {
										// 			if (res.errno == 0) {
										// 				// mui.fire(plus.webview.getWebviewById('chat'), 'refreshNotice');
										// 				// mui.fire(plus.webview.getWebviewById('home'), 'refreshNotice');
										// 				// mui.fire(plus.webview.getWebviewById('user'), 'refreshNotice');
										// 				// mui.fire(plus.webview.getWebviewById('message'), 'refreshNotice');
										// 			}
										// 		}, 'json')
										// 	}
										// }
									}
								};
								ws.onclose = function(e) {
									// 关闭 websocket
									console.log("连接已关闭...");
								};
								ws.onerror = function(e) {
									logs(e);
								}
							} else {
								message("您的手机不支持 WebSocket!");
							}
						}

						//获取聊天列表
						function getChatList() {
							intervalTime = 0;
							mui.get($ajaxUrl + 'team', {
								action: 'message_list',
								token: userInfo.token,
								team_id: vm.tid,
								course_id: vm.courseId,
								check_type: vm.checkType,
								type: 2,
								skip: skip,
								limit: limit
							}, function(res) {
								// logs(res);
								if (res.errno == 0) {
									if (skip == 1) {
										vm.chatList = res.data;
										setTimeout(function() {
											bindMsgList();
										}, 500);
									} else {
										vm.chatList = Object.assign(res.data, vm.chatList);
									}
								} else if (res.errno == 1) {
									plus.nativeUI.alert(res.message, function() {
										mui.back();
									})
								}
								setInterval(function() {
									intervalTime++;
								}, 1000)
							}, 'json');
						}

						//阅读消息
						function readMessage() {
							mui.post($ajaxUrl + 'team', {
								action: 'read_message',
								token: userInfo.token,
								team_id: vm.tid,
								course_id: vm.courseId,
								type: 2,
							}, function(res) {
								logs(res);
							}, 'json');
						}

						// 只看讲师
						mui(".mui-content").on("tap", ".alone-teacher", function() {
							if (vm.checkType == 1) {
								vm.checkType = 2;
								message("只看讲师");
							} else {
								vm.checkType = 1;
								message("查看全部");
							}
							skip = 1;
							getChatList();
						})
						// 长按保存图片咯
						mui(".mui-imageviewer").on("longtap", "img", function() {
							var urls = this.src;
							plus.nativeUI.confirm("保存图片到系统相册", function(e) {
								if (e.index == 0) {
									showload('', '', '保存中···', 'rgba(0,0,0,0.5)');
									plus.gallery.save(urls, function() {
										showload(1);
										plus.nativeUI.toast("保存成功!");
									}, function() {
										showload(1);
										plus.nativeUI.toast("保存失败!");
									});
								} else {
									//plus.nativeUI.toast("取消");
								}
							});
						})
					})
				}
			})

			//文件上传
			function voiceUpload(file) {
				var task = plus.uploader.createUpload($voiceUrl, {
						method: "POST",
						blocksize: 614400,
						priority: 100
					},
					function(t, status) { //上传完成
						if (status == 200) {
							var res = JSON.parse(t.responseText);
							if (res.errno == 1) {
								message(res.message);
							} else {
								chatData['message_type'] = 'audio';
								chatData['content'] = res.data.path;
								ws.send(JSON.stringify(chatData));
								// message("上传成功");
							}
						} else {
							message('发送失败!');
							// console.log("上传失败：" + status);
						}
					}
				);
				// 页面中要上传的 图片路径
				task.addFile(file, {
					key: 'upfile'
				});
				task.start();
			}
			// 禁言
			mui(".option-menu").on("tap", ".banned-say", function() {
				if (vm.teacher_id == userInfo.id) {
					// if (12 == userInfo.id) {
					mui.post($ajaxUrl + 'team&action=set_course_silent', {
						token: userInfo.token,
						course_id: vm.courseId
					}, function(res) {
						// logs(res);
						if (res.errno == 0) {
							vm.say = !vm.say;
							if (vm.say) {
								message("已禁言");
							} else {
								message("取消禁言");
							}
						} else {
							message("禁言失败");
						}
					}, 'json');
				} else {
					message("学员无法禁言");
				}
			})
			// 标记语音已读 
			var priorId = null;

			function readAudio(aid, idx, sign, status, msgType, msgContent) {
				if (msgType == 'audio') {
					var audios = document.querySelectorAll(".play-state");
					var playState = document.querySelector(".play-state" + aid);
					for (var i = audios.length - 1; i > -1; i--) {
						if (audios[i].innerText == '正在播放...') {
							audios[i].innerText = '点击播放';
							break;
						}
					}
					if (aid == priorId && player) {
						if (player) {
							player.stop();
							player.close();
							player = null;
							// logs(player);
						}
					} else {
						if (player) {
							player.stop();
							player.close();
							player = null;
							// logs(player);
						}
						player = plus.audio.createPlayer(msgContent);
						playState.innerText = '正在播放...';
						priorId = aid;
						player.play(function() {
							player.stop();
							player.close();
							player = null;
							playState.innerText = '点击播放';
						}, function(e) {
							player.stop();
							player.close();
							player = null;
							playState.innerText = '点击播放';
						});
					}
				}
				if (status == 0) {
					mui.get($ajaxUrl + 'team&action=play_audio', {
						token: userInfo.token,
						team_id: vm.tid,
						type: 2,
						course_id: vm.courseId,
						audio_id: aid
					}, function(res) {
						if (res.errno == 0) {
							vm.$set(vm.chatList[idx][sign], "read_status", 1);
						}
					}, 'json');
				}
			}
			// 打开团队统计
			mui(".mui-bar").on("tap", ".nav-right-btn", function() {
				openPage('course_statistics.html', 'course_statistics', '#f7f7f7', {
					course_id: vm.courseId,
					tid: vm.tid
				});
			})
		</script>
	</body>
</html>
