<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的动态</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link href="../css/vip-page.css" rel="stylesheet" />
	</head>

	<body class="mui-hidden">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的动态</h1>
		</header>
		<div id="mui-content" class="mui-content my-dynamics-container">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" v-for="(items,index) in dataList" :key="index">
					<h2 class="dynamics-title mui-ellipsis" @tap="opDetail(items.id)">{{items.title}}</h2>
					<div class="dynamics-img-cont" @tap="opDetail(items.id)">
						<ul v-if="items.cover" class="dynamics-img">
							<li class="img-items" v-if="items.cover.length>0&&items.cover[0]!=''&&idx<3" v-for="(img,idx) in items.cover"
							 :key="idx"><img :src="img"></li>
							<li v-if="items.cover.length>3" class="img-items ellipsis-sign">···</li>
						</ul>
					</div>
					<div class="dynamics-footer">
						<div class="release-time">{{items.create_time.substring(0,10)}}</div>
						<div class="thumbs">
							<img src="../image/icon/give-the-thumbs-up.png">
							<span>{{items.like}}</span>
						</div>
						<div>
							<button type="button" class="mui-btn mui-button-row del-btn" @tap="delBtn(items.id,index)">删除</button>
							<button type="button" class="mui-btn mui-button-row share-btn" @tap="shareBtn(items.id)">转发</button>
						</div>
					</div>
				</li>
			</ul>
			<div v-if="voidDy" class="dynamics-void">
				<span>暂无动态</span>
			</div>
			<div class="create-dynamics">新建动态</div>
		</div>
		<script type="text/javascript" src="../js/vue.min.js"></script>
		<script src="../js/mui.js"></script>
		<script src="../js/util.js"></script>
		<script type="text/javascript">
			mui.init({
				pullRefresh: {
					container: '#mui-content',
					up: {
						style: 'circle',
						color: '#2289FF',
						height: 10,
						auto: false,
						contentrefresh: "正在加载...",
						contentnomore: '没有更多数据了',
						callback: function() {
							skipNum += 1;
							behaviorStatistics();
						}
					},
					down: {
						style: 'circle',
						color: '#2289FF',
						height: 10,
						auto: false,
						callback: function() {
							skipNum = 1;
							mui('#mui-content').pullRefresh().refresh(true);
							behaviorStatistics();
						}
					}
				}
			});
			// 初始化字体大小
			var userInfo = getUserInfo();
			var skipNum = 1;
			userInfo = getUserInfo();
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
			// 初始化字体大小结束
			// 实例化vue对象
			var muiCont = new Vue({
				el: '#mui-content',
				data: {
					dataList: [],
					voidDy: false
				},
				mounted: function() {
					mui.plusReady(function() {
						behaviorStatistics();
						plus.navigator.setStatusBarStyle('dark');
					});
				}
			});
			// 获取动态列表
			function behaviorStatistics() {
				mui.post($ajaxUrl + 'timeline&action=list', {
					token: userInfo.token,
					skip: skipNum,
					limit: 5
				}, function(res) {
					logs(res);
					var data = res.data;
					if (res.errno == 0 && skipNum == 1) {
						muiCont.dataList = data;
						mui('#mui-content').pullRefresh().endPulldown();
						if (data.length < 1) {
							muiCont.voidDy = true;
						}
					} else if (res.errno == 0 && skipNum > 1) {
						muiCont.dataList = muiCont.dataList.concat(data);
						if (data.length < 1) {
							muiCont.voidDy = true;
						}
						mui('#mui-content').pullRefresh().endPullupToRefresh();
					} else {
						mui('#mui-content').pullRefresh().endPullupToRefresh(true);
					}
				}, 'json')
			}
			// 删除按钮
			function delBtn(tid, index) {
				mui.post($ajaxUrl + 'timeline&action=delete', {
					token: userInfo.token,
					tid: tid
				}, function(res) {
					if (res.errno == 0) {
						behaviorStatistics();
						muiCont.dataList.splice(index, 1)
						message("已删除")
					} else {
						message(res.message)
					}
				}, 'json')
			}
			// 转发按钮
			function shareBtn(e) {
				message(e);
			}
			// 打开详情
			function opDetail(detailId) {
				openPage('dynamics_detail.html', 'dynamics_detail', '#f7f7f7', {
					aid: detailId
				})
			}
			// 发布完新动态刷新列表页面
			window.addEventListener('refresh', function(e) {
				behaviorStatistics();
			});
			mui(".mui-content").on("tap", ".create-dynamics", function() {
				openPage('issue_dynamics.html', 'issue_dynamics', '#f7f7f7', '');
			})
			document.querySelector(".mui-hidden").classList.remove("mui-hidden");
		</script>
	</body>

</html>
