<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的动态</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link href="../css/vip-page.css" rel="stylesheet" />
	</head>

	<body class="mui-hidden">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的动态</h1>
		</header>
		<div id="mui-content" class="mui-content my-dynamics-container">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" v-for="(items,index) in dataList" :key="index">
					<h2 class="dynamics-title mui-ellipsis" @tap="opDetail(items.id)">{{items.title}}</h2>
					<div class="dynamics-img-cont" @tap="opDetail(items.id)">
						<ul v-if="items.cover" class="dynamics-img">
							<li class="img-items" v-for="(img,idx) in items.cover" v-if="idx<3" :key="idx"><img :src="img"></li>
							<li v-if="items.cover.length>3" class="img-items ellipsis-sign">···</li>
						</ul>
					</div>
					<div class="dynamics-footer">
						<div class="release-time">{{items.create_time.substring(0,10)}}</div>
						<div>
							<button type="button" class="mui-btn mui-button-row del-btn" @tap="delBtn(items.id)">删除</button>
							<button type="button" class="mui-btn mui-button-row share-btn" @tap="shareBtn(items.id)">转发</button>
						</div>
					</div>
				</li>
			</ul>
			<div class="create-dynamics">新建动态</div>
		</div>
		<script type="text/javascript" src="../js/vue.min.js"></script>
		<script src="../js/mui.js"></script>
		<script src="../js/util.js"></script>
		<script type="text/javascript">
			mui.init();
			// 初始化字体大小
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
			// 实例化vue对象
			var muiCont = new Vue({
				el: '#mui-content',
				data: {
					dataList: []
				}
			});
			// 初始化字体大小结束
			var userInfo = getUserInfo();
			var skipNum = 1;
			userInfo = getUserInfo();
			mui.plusReady(function() {
				behaviorStatistics();
			});
			// 获取动态列表
			function behaviorStatistics() {
				mui.post($ajaxUrl + 'timeline&action=list', {
					token: userInfo.token,
					skip: skipNum,
					limit: 10
				}, function(res) {
					let data = res.data;
					if (res.errno == 0 && skipNum == 1) {
						muiCont.dataList = data;
					} else {
						for (item in data) {
							muiCont.dataList.push(item);
						}
					}
				}, 'json')
			}
			// 删除按钮
			function delBtn(e) {
				message(e);
			}
			// 转发按钮
			function shareBtn(e) {
				message(e);
			}
			// 打开详情
			function opDetail(detailId) {
				fnOpenWin("dynamics_detail.html", "dynamics_detail", {
					statusbar: {
						background: '#f7f7f7'
					}
				}, {
					aid: detailId
				}, 'slide-in-right');
			}
			mui(".mui-content").on("tap",".create-dynamics",function(){
				fnOpenWin("issue_dynamics.html", "issue_dynamics", {
					statusbar: {
						background: '#f7f7f7'
					}
				}, '', 'slide-in-right');
			})
			document.querySelector(".mui-hidden").classList.remove("mui-hidden");
		</script>
	</body>

</html>
