<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的粉丝</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/vip-page.css" rel="stylesheet" />
		<link href="../css/mui.picker.min.css" rel="stylesheet" />
		<style type="text/css">
			.service-award-container .mui-table-view .mui-table-view-cell {
				height: 1.5rem;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<div class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></div>
			<h1 class="mui-title">我的粉丝</h1>
		</header>

		<div id="mui-content" class="mui-content service-award-container">
			<ul id="fans-list" class="mui-table-view" v-if="fansList.length>0">
				<li class="mui-table-view-cell" v-for="(list,index) in fansList" :key='index'>
					<img :src="list.avatarUrl" alt="">
					<div class="right-cont">
						<div class="top mui-clearfix">
							<span>{{list.nickName}}</span>
							<!-- .vip,.vip1,.vip2,.vip3四种class -->
							<span :class="'vip'+list.group_id">{{list.group_name}}</span>
							<span class="mui-pull-right">+{{list.recommend_award}}</span>
						</div>
						<div class="bottom mui-clearfix">
							<span>加入时间：{{list.activation_time}}</span>
							<span class="mui-pull-right" v-if="list.direct==0">推荐人：{{list.recommend_user}}</span>
						</div>
					</div>
				</li>
			</ul>
			<div v-else style="font-size: 0.28rem;color: #999999;">
				<img style="width: 45%;display: block;margin: 10% auto 0;" class="no-friends" src="../image/icon/void-data.png">
				<p style="text-align: center;">暂无粉丝</p>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript">
			mui.init();
			// 初始化字体大小
			var userInfo = getUserInfo(),
				skip = 1,
				limit = 15;
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";

			// 初始化字体大小结束
			var app = new Vue({
				el: "#mui-content",
				data: {
					fansList: []
				},
				created: function() {
					getFansList();
				},
				mounted: function() {
					mui.init({
						swipeBack: false,
						pullRefresh: {
							container: "#fans-list",
							up: {
								height: 50,
								auto: false,
								contentrefresh: "正在加载...",
								contentnomore: '没有更多数据了',
								callback: function() {
									skip += 1;
									getFansList();
								}
							},
							down: {
								style: 'circle',
								color: '#2289FF',
								callback: function() {
									skip = 1;
									getFansList();
								}
							}
						}
					});
					mui.plusReady(function() {})
				}
			})

			function getFansList() {
				mui.post($ajaxUrl + 'member&action=fans', {
					token: userInfo.token,
					skip: skip,
					limit: limit
				}, function(res) {
					logs(res);
					if (res.errno == 0 && skip == 1) {
						app.fansList = res.data;
						mui('#mui-content').pullRefresh().endPulldownToRefresh();
					} else if (res.errno == 0 && skip > 1) {
						app.fansList = app.fansList.concat(res.data);
						mui('#mui-content').pullRefresh().endPullupToRefresh();
					} else {
						mui('#mui-content').pullRefresh().endPulldownToRefresh();
						mui('#mui-content').pullRefresh().endPullupToRefresh(true);
						message('没有更多了~');
					}
				}, 'json');
			}
		</script>
	</body>
</html>
