<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/mui.indexedlist.css" rel="stylesheet" />
		<link href="../iconfont/iconfont.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/chat.css" />
		<style type="text/css">
			[v-cloak] {
				display: none;
			}

			.mui-content {
				padding-top: 0;
				min-height: 100vh;
			}

			.mui-pull {
				font-weight: normal;
				color: #999999;
			}

			.mui-segmented-control.fixed-cont {
				position: fixed !important;
				top: 0;
				width: 100%;
				z-index: 16;
				transition: all 0.2s ease-in-out;
			}

			.mui-segmented-control {
				z-index: 16;
			}
		</style>
	</head>

	<body>
		<div id="mui-content" class="mui-content chat-container" v-cloak>
			<ul class="tips-cont">
				<li><i class="totalNum"></i>用户总数:{{customercount.new}}</li>
				<li><i class="followNum"></i>跟进数量:{{customercount.follow}}</li>
				<li><i class="bargainNum"></i>成交数量:{{customercount.deal}}</li>
			</ul>
			<div class="trapezium-container">
				<div class="trapezium"></div>
				<div class="trapezium-tips">用户总数:<span class="customer_total">{{customercount.new}}</span></div>
				<div class="trapezium1"></div>
				<div class="trapezium-tips">跟进数量:<span class="customer_total">{{customercount.follow}}</span></div>
				<div class="trapezium2"></div>
				<div class="trapezium-tips">成交数量:<span class="customer_total">{{customercount.deal}}</span></div>
			</div>
			<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
				<a class="mui-control-item mui-active" href="#item1" data-type="new_customer">新增客户</a>
				<a class="mui-control-item" href="#item2" data-type="recommend">推荐锁定</a>
				<a class="mui-control-item" href="#item3" data-type="follow">跟进中</a>
				<a class="mui-control-item" href="#item4" data-type="is_intention">高意向</a>
				<a class="mui-control-item" href="#item5" data-type="deal">成交</a>
			</div>
			<!-- 占位防止菜单固定定位之后的闪烁 -->
			<div id="perch-cont" style="position: relative;width: 100%;height: 38px;display: none;"></div>
			<div id="list-container" class="list-container">
				<div id="item1" class="mui-control-content mui-active">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell customer-list" v-for="(items,index) in newcustomerData" :key="index">
							<div class="user-head-img customer-head-img" :data-id="items.id" :data-type="items.type">
								<img :src="items.avatar||items.avatarUrl">
							</div>
							<div class="customer-left customer-chat" :data-id="items.id" :data-type="items.type" :data-name="items.name||items.nickName"
							 :data-avatar="items.avatar||items.avatarUrl">
								<div class="left-top">
									<div class="mui-ellipsis user-name">
										{{items.name||items.nickName}}
									</div>
									<div class="timer-tips">
										{{items.last_time_text}}
									</div>
								</div>
								<div class="left-bottom">
									<div>
										{{items.count}}次互动
									</div>
									<div class="bottom-last">
										进行中
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div v-if="newcustomerData== undefined || newcustomerData.length <= 0" class="void-data-tips">
						<img src="../image/icon/void-data.png">
						<!-- <p>没有数据</p> -->
					</div>
				</div>
				<div id="item2" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell customer-list" v-for="(items,index) in newcustomerData" :key="index">
							<div class="user-head-img customer-head-img" :data-id="items.id">
								<img :src="items.avatar||items.avatarUrl">
							</div>
							<div class="customer-left customer-chat" :data-id="items.id" :data-type="items.type" :data-name="items.name||items.nickName"
							 :data-avatar="items.avatar||items.avatarUrl">
								<div class="left-top">
									<div class="mui-ellipsis user-name">
										{{items.name||items.nickName}}
									</div>
									<div class="timer-tips mui-hidden">
										{{items.end_time}}
									</div>
								</div>
								<div class="left-bottom">
									<div>
										{{items.create_time}}
									</div>
									<div class="bottom-last">
										{{items.end_time}}
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div v-if="newcustomerData== undefined || newcustomerData.length <= 0" class="void-data-tips">
						<img src="../image/icon/void-data.png">
						<!-- <p>没有数据</p> -->
					</div>
				</div>
				<div id="item3" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell customer-list" v-for="(items,index) in newcustomerData" :key="index">
							<div class="user-head-img customer-head-img" :data-id="items.id">
								<img :src="items.avatar||items.avatarUrl">
							</div>
							<div class="customer-left customer-chat" :data-id="items.id" :data-type="items.type" :data-name="items.name||items.nickName"
							 :data-avatar="items.avatar||items.avatarUrl">
								<div class="left-top">
									<div class="mui-ellipsis user-name">
										{{items.name||items.nickName}}
									</div>
									<div class="timer-tips">
										{{items.last_time_text}}
									</div>
								</div>
								<div class="left-bottom">
									<div>
										{{items.count}}次互动
									</div>
									<div class="bottom-last">
										跟进中
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div v-if="newcustomerData== undefined || newcustomerData.length <= 0" class="void-data-tips">
						<img src="../image/icon/void-data.png">
						<!-- <p>没有数据</p> -->
					</div>
				</div>
				<div id="item4" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell customer-list" v-for="(items,index) in newcustomerData" :key="index">
							<div class="user-head-img customer-head-img" :data-id="items.id">
								<img :src="items.avatar||items.avatarUrl">
							</div>
							<div class="customer-left customer-chat" :data-id="items.id" :data-type="items.type" :data-name="items.name||items.nickName"
							 :data-avatar="items.avatar||items.avatarUrl">
								<div class="left-top">
									<div class="mui-ellipsis user-name">
										{{items.name||items.nickName}}
									</div>
									<div class="timer-tips">
										{{items.last_time_text}}
									</div>
								</div>
								<div class="left-bottom">
									<div>
										{{items.count}}次互动
									</div>
									<div class="bottom-last">
										高意向
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div v-if="newcustomerData== undefined || newcustomerData.length <= 0" class="void-data-tips">
						<img src="../image/icon/void-data.png">
						<!-- <p>没有数据</p> -->
					</div>
				</div>
				<div id="item5" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell customer-list" v-for="(items,index) in newcustomerData" :key="index">
							<div class="user-head-img customer-head-img" :data-id="items.id">
								<img :src="items.avatar||items.avatarUrl">
							</div>
							<div class="customer-left customer-chat" :data-id="items.id" :data-type="items.type" :data-name="items.name||items.nickName"
							 :data-avatar="items.avatar||items.avatarUrl">
								<div class="left-top">
									<div class="mui-ellipsis user-name">
										{{items.name||items.nickName}}
									</div>
									<div class="timer-tips">
										{{items.last_time_text}}
									</div>
								</div>
								<div class="left-bottom">
									<div>
										{{items.count}}次互动
									</div>
									<div class="bottom-last">
										完成
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div v-if="newcustomerData== undefined || newcustomerData.length <= 0" class="void-data-tips">
						<img src="../image/icon/void-data.png">
						<!-- <p>没有数据</p> -->
					</div>
				</div>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/mui.indexedlist.js"></script>
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript">
			var userInfo = getUserInfo();
			var typer = 'new_customer',
				refresh = '',
				skip = 1,
				limit = 10;
			var app = new Vue({
				el: "#mui-content",
				data: {
					customercount: {},
					// 当前项
					nowaday: 'crm',
					viewHeight: '',
					newcustomerData: [],
					rendererList: []
				},
				mounted: function() {
					mui.init({
						keyEventBind: {
							backbutton: false,
							menubutton: true
						},
						pullRefresh: {
							container: "#mui-content",
							up: {
								height: 50,
								auto: false,
								contentrefresh: "正在加载...",
								contentnomore: '没有更多数据了',
								callback: function() {
									skip++;
									refresh = 'up';
									getCustomerList(typer);
								}
							},
							down: {
								style: 'circle',
								color: '#2289FF',
								callback: function() {
									mui('#mui-content').pullRefresh().refresh(true);
									if (typer == 'is_intention') {
										mui('#mui-content').pullRefresh().endPullupToRefresh(true);
										mui('.mui-pull-bottom-pocket')[0].classList.add('mui-hidden');
									} else {
										mui('.mui-pull-bottom-pocket')[0].classList.remove('mui-hidden');
									}
									refresh = 'down';
									skip = 1;
									getnum();
									getCustomerList(typer);
									// alert(typer);
								}
							}
						}
					});
					mui.plusReady(function() {
						getCustomerList(typer);
						getnum();
					})
					var tab = document.getElementById("segmentedControl"),
						list = document.getElementById("list-container");
					window.addEventListener('scroll', function(e) {
						if (list.getBoundingClientRect().top <= 38) {
							document.getElementById('perch-cont').style.display = "block";
							tab.classList.add('fixed-cont');
						} else {
							document.getElementById('perch-cont').style.display = "none";
							tab.classList.remove('fixed-cont');
						}
					});
				}
			})
			// 打开新增客户详情页
			mui('.mui-table-view').on('tap', '.customer-head-img', function() {
				var cid = this.dataset.id;
				openPage('customer_detail.html', 'customer_detail', '#2289FF', {
					cid: cid
				}, 'slide-in-right');
			})
			// 切换类型
			mui('.mui-segmented-control').on('tap', 'a', function() {
				if (typer == this.dataset.type) {
					return;
				}
				typer = this.dataset.type;
				skip = 1;
				refresh = '';
				// plus.nativeUI.showWaiting("等待中...");
				getCustomerList(typer);
				// 切换选项卡重启上拉刷新
				mui('#mui-content').pullRefresh().refresh(true);
				if (this.dataset.type == 'is_intention') {
					mui('#mui-content').pullRefresh().endPullupToRefresh(true);
					mui('.mui-pull-bottom-pocket')[0].classList.add('mui-hidden');
				} else {
					mui('.mui-pull-bottom-pocket')[0].classList.remove('mui-hidden');
				}
			})
			// 打开新增客户聊天
			mui('.mui-table-view').on('tap', '.customer-chat', function() {
				var cid = this.dataset.id,
					type = this.dataset.type,
					chatName = this.dataset.name,
					avatar = this.dataset.avatar;
				openPage('dialog.html', 'dialog', '#F7F7F7', {
					cid: cid,
					chatName: chatName,
					avatar: avatar,
					barStyle: 'light'
				}, 'slide-in-right');
				plus.navigator.setStatusBarStyle('dark');
			})
			//获取数量统计
			function getnum() {
				mui.post($ajaxUrl + 'customer', {
					action: 'customer_count',
					token: userInfo.token
				}, function(res) {
					if (res.errno == 0) {
						app.customercount = res.data;
					}
				}, 'json')
			}
			// 获取客户列表
			function getCustomerList(typer) {
				if (!userInfo) return;
				mui.post($ajaxUrl + 'customer', {
					action: 'customer_list',
					token: userInfo.token,
					type: typer,
					limit: limit,
					skip: skip
				}, function(res) {
					// logs(res);
					if (res.errno == 0) {
						if (refresh == 'up') {
							app.newcustomerData = app.newcustomerData.concat(res.data);
							mui('#mui-content').pullRefresh().endPullupToRefresh();
						} else if (refresh == 'down') {
							app.newcustomerData = res.data;
							mui('#mui-content').pullRefresh().endPulldownToRefresh();
						} else {
							app.newcustomerData = res.data;
						}
						refresh == '';
					} else {
						if (refresh == 'down') {
							app.newcustomerData = [];
							mui('#mui-content').pullRefresh().endPulldownToRefresh();
						} else if (refresh == 'up') {
							mui('#mui-content').pullRefresh().endPullupToRefresh(true);
						} else if (skip == 1) {
							app.newcustomerData = [];
							mui('#mui-content').pullRefresh().endPullupToRefresh(true);
						}
						refresh == '';
					}
					// plus.nativeUI.closeWaiting();
				}, 'json')
			}
			//好友新增客户 添加客户页面广播
			window.addEventListener('refreshCustomer', function(e) {
				// logs(22222222);
				if (typer == 'new_customer') {
					getCustomerList(typer);
				} else {
					mui.trigger(document.querySelector('#segmentedControl a[data-type=new_customer]'), 'tap')
				}
			})
		</script>
	</body>

</html>
