<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.css">
		<link rel="stylesheet" href="../css/animate.min.css">
		<link rel="stylesheet" href="../css/swiper.min.css">
		<link rel="stylesheet" href="../css/discover.css">
		<style type="text/css">
			[v-cloak] {
				display: none;
			}

			.swiper-container {
				min-height: 281.5px;
			}

			.swiper-slide {
				color: #FFFFFF;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 281.5px;
				width: 100%;
				background-color: #FFFFFF;
			}

			.swiper-slide img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.swiper-pagination-bullet.swiper-pagination-bullet-active {
				background-color: #FFFFFF;
				opacity: 0.8;
				transform: scale(1.3);
				-webkit-transform: scale(1.3);
				transition: all 0.25s ease-in-out;
				-webkit-transition: all 0.25s ease-in-out;
			}

			.swiper-pagination-bullet {
				background-color: rgba(255, 255, 255, 1);
				opacity: 0.3;
				transition: all 0.25s ease-in-out;
				-webkit-transition: all 0.25s ease-in-out;
			}

			.user-info .user-info-top {
				margin-bottom: 0;
				padding: 10px 0 5px;
			}

			.user-info p {
				font-size: 12px;
				line-height: 1.2;
			}

			.user-info {
				padding-top: 0;
				padding-left: 5px;
			}

			/* test */
			@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

			canvas {
				position: absolute;
				top: 0px;
				left: 0px;
				z-index: 0;
			}

			#welcome {
				position: relative;
				z-index: 1;
				margin: auto 0;
				margin-left: 0;
				background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
				/* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
				/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			}

			.swiper-pagination.activer {
				opacity: 0;
			}

			.operation-btn {
				width: 45px;
				height: 45px;
				position: fixed;
				left: 50%;
				margin-left: -22.5px;
				bottom: 50px;
				opacity: 0.96;
				z-index: 9999;
			}

			.vip0 {
				padding: 0 0.16rem;
				height: 0.3rem;
				overflow: hidden;
				display: inline-flex;
				line-height: 0.3rem;
				font-size: 0.2rem;
				color: #FFFFFF;
				margin-left: 0.2rem;
				border-bottom-left-radius: 0.2rem;
				border-top-right-radius: 0.2rem;
				background: linear-gradient(to right, #c4c4c4, #6f6f6f);
			}

			.void-team-course {
				width: 100%;
				height: auto;
				padding: 20px;
				text-align: center;
				color: #999999;
			}

			.dy-container {
				padding-left: 40px;
				position: relative;
			}


			/* 第二个菜单 */
			.subMenu {
				position: relative;
				overflow: hidden;
				width: 100%;
				touch-action: pan-y;
				/* background-color: #0062CC; */
				height: 48px;
			}

			.subMenu:after {
				content: '';
				position: absolute;
				display: block;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #dddddd;
				transform: scaleY(0.5);
				-webkit-transform: scaleY(0.5);
			}

			.mui-segmented-control.mui-scroll-wrapper {
				height: 44px;
				background-color: #FFFFFF;
			}

			.mui-segmented-control.mui-scroll-wrapper .mui-scroll {
				height: 44px;
			}

			.subMenu .mui-scroll .mui-control-item {
				margin-top: 11.5px;
				font-size: 15px;
				color: #333333;
				line-height: 1;
				display: inline-flex;
				align-items: center;
				padding: 0 10px;
				overflow: visible;
			}
			.subMenu .mui-scroll .mui-control-item-three {
				width: 33.333%;
			}
			.subMenu .mui-scroll {
				position: absolute;
				touch-action: pan-y;
			}

			.mui-segmented-control .mui-control-item {
				background-color: #FFFFFF;
				position: relative;
			}

			.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
				background-color: #FFFFFF;
			}

			.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active:after {
				height: 1px;
				display: block;
				width: 50%;
				position: absolute;
				bottom: -5px;
				left: 25%;
				content: '';
				background-color: #2289FF;
			}

			.void-tips-cont {
				width: 100%;
				padding-top: 10%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
			}

			.void-tips-cont img {
				width: 60%;
				height: auto;
				margin-bottom: 10px;
			}

			.void-tips-cont p {
				font-size: 16px;
				color: #999999;
			}

			.comment-bar-footer {
				position: fixed;
				z-index: 1045;
				width: 100%;
				bottom: 0;
				display: none;
			}

			.mui-table-view:before,
			.mui-table-view:after {
				height: 0;
			}

			div::-webkit-scrollbar {
				display: none;
			}

			.screen-menu:first-of-type::after {
				display: none;
			}

			.video-cover {
				width: 60%;
				height: 3rem;
				overflow: hidden;
				position: relative;
			}

			.video-cover .player-btn {
				width: 60px;
				height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}

			.video-cover img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		</style>
		<script type="text/javascript">
			// 初始化字体大小
			var viewport = document.documentElement.clientWidth;
			if (viewport > 750) {
				viewport = 750
			}
			document.documentElement.style.fontSize = viewport / 7.5 + "px";
			// 初始化字体大小结束
		</script>
	</head>

	<body>
		<div id="mui-content" class="mui-content discover-container" v-cloak>
			<img v-show="!menuStatus" class="operation-btn" src="../image/icon/plus-sign.svg" alt="">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" v-for="(banner,index) in slider" :key="index">
						<img :src="banner">
					</div>
				</div>
				<!-- <div class="swiper-pagination" :class="slider.length==1?'activer':''"></div> -->
			</div>
			<div class="discover-body">
				<div class="user-part1">
					<div class="user-head-cont" @tap="openDynamically(discover_info.id)">
						<div class="user-head-img">
							<img class="head-img" :src="discover_info.avatar">
						</div>
						<!-- <img v-if="discover_info.group_id!=0" class="rank" :src="'../image/discover/rank_icon_'+group_id+'.png'"> -->
						<img class="rank" :src="'../image/discover/rank_icon_'+group_id+'.png'">
					</div>
					<div class="user-info">
						<div class="user-info-top">
							<div class="user-name mui-ellipsis">{{discover_info.name}}</div>
							<!-- <span :class="'vip'+group_id">{{discover_info.group_name}}</span> -->
						</div>
						<p class="signature mui-ellipsis-2">{{discover_info.personalized_signature||'暂无签名'}}</p>
					</div>
				</div>
				<div id="zhanwei" style="width: 100%;height:58px;position: relative;display: none;">
					<!-- 占位 -->
				</div>
				<!-- <div class="first-menu">
					<div class="mui-scroll-wrapper mui-slider-indicator ">
						<ul id="screen-menu" class="mui-scroll screen-menu mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
							<li v-for="(menu,idx) in screen" :class="menu.selected?'active':''" @tap="selectedTj(menu.id,idx)">{{menu.title}}</li>
						</ul>
					</div>
				</div> -->
				<!-- 第一组菜单 -->
				<div id="screen-menu" class="subMenu screen-menu">
					<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<div class="mui-scroll" v-if="group_id>0">
							<span class="mui-control-item"  v-for="(menu,idx) in screen" :class="menu.selected?'active':''"
							 @tap="selectedTj(menu.id,idx)">{{menu.title}}</span>
						</div>
						<div class="mui-scroll" v-else>
							<span class="mui-control-item mui-control-item-three" v-if="menu.id!=4&&menu.id!=5" v-for="(menu,idx) in screen" :class="menu.selected?'active':''"
							 @tap="selectedTj(menu.id,idx)">{{menu.title}}</span>
						</div>
					</div>
				</div>
				<!-- 第二组菜单 -->
				<div v-show="isArticleClassify" id="subMenu" class="subMenu">
					<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<div class="mui-scroll" id="classification">
							<span class="mui-control-item mui-active" @tap="changeArticleClassify('-1')">推荐</span>
							<span class="mui-control-item" @tap="changeArticleClassify('-2')">热点</span>
							<span class="mui-control-item" data-id="-1" v-for="(cls,i) in ArticleClassify" @tap="changeArticleClassify(cls.id)">推荐{{cls.name}}</span>
						</div>
					</div>
				</div>
				<div id="discover-container" class="discover-list-container">
					<div class="void-tips-cont" v-if="void_timeline">
						<img src="../image/self_media_tips02.png">
						<p>空空如也~</p>
					</div>
					<!-- <span v-for="p in typeler">{{p}}</span> -->
					<ul class="mui-table-view">
						<template v-for="(i,m) in dynamic" :key="m">
							<!-- 自己发布的动态 -->
							<li class="my-dynamic-list" v-if="i.type==1">
								<div class="dynamic-list-head">
									<div class="dynamic-list-left">
										<img class="user-head-image" :src="i.info.owner.avatar" @tap="openDynamically(i.info.user_id)">
										<span class="user-names mui-ellipsis" @tap="openDynamically(i.info.user_id)">{{i.info.owner.name}}</span>
										<span class="cretae-timer" @tap="openDynamically(i.info.user_id)">{{i.info.create_time}}</span>
									</div>
									<div class="mui-pull-right click-heart" @tap="likeThis(i.info.id,i.info.user_id,m)">
										<i class="heart-icon animated" :class="i.info.is_thumbs==1?'heart-icon'+i.info.id+' active':'heart-icon'+i.info.id"></i>
										<span>{{i.info.thumbs_number}}</span>
									</div>
								</div>
								<div class="dy-container">
									<p class="dynamic-desc" :class="i.info.cover.length>0?'mui-ellipsis-2':'mui-ellipsis-3'" @tap="dynamicDetail(i.info.id)">
										{{i.info.content}}
									</p>
									<template v-if="i.info.cover!=''">
										<div class="video-cover" v-if="i.info.is_video==1" @tap="videoPlayer(i.info.cover[0])">
											<img :src="i.info.cover[0]+'?spm=a2c4g.11186623.2.1.yjOb8V&x-oss-process=video/snapshot,t_100,f_jpg,m_fast'">
											<img class="player-btn" src="../image/icon/video-player.png">
										</div>
										<ul v-else class="illustrating-picture">
											<li v-for="(img,pridx) in i.info.cover">
												<img @tap="previewImage(m,pridx)" class="illustrating" :src="img">
											</li>
										</ul>
									</template>
									<div class="operation-menu">
										<div class="menu-list" :class="'menu-list'+i.info.id">
											<span class="check-detail" @tap="dynamicDetail(i.info.id)">查看详情</span>
											<div class="menu-body" :class="'menu-body'+i.info.id">
												<div class="menu-arrow"></div>
												<div v-if="i.info.is_mine==1" class="item" @tap="deleteDynamics(i.info.id,m)">
													<span class="iconfont icon-delete">&#xe603;</span>
													<span>删除</span>
												</div>
												<div class="item" @tap="shareBtn(i.info.id,i.info.content,i.info.cover[0],i.info.user_id)">
													<span class="iconfont icon-share">&#xe604;</span>
													<span>分享</span>
												</div>
												<div v-if="iSdiscuss" class="item" @tap="pinglun(i.info.id,m)"><span class="iconfont icon-comment">&#xe602;</span>
													<span>评论</span>
												</div>
											</div>
											<div class="comment-icon-cont" :class="'comment-icon-cont'+i.info.id" @tap="showMenu(i.info.id,m)">
												<span class="iconfont comment-icon">&#xe504;</span>
											</div>
										</div>
									</div>
									<div class="dynamic-lists-issue" v-if="i.info.comment.length>0||i.info.thumbs_user.length>0">
										<div class="lan-arrows"></div>
										<p v-show="i.info.thumbs_user.length>0">
											<span class="iconfont icon-like">&#xe601;</span>
											<template v-for="(c,idx) in i.info.thumbs_user" :key="idx">
												{{c}}<template v-if="idx<i.info.thumbs_user.length-1">、</template>
											</template>
										</p>
										<p class="comment-inside" v-for="(p,idx) in i.info.comment">
											<span class="user-name">{{p.nickName}}：</span>{{p.content}}
										</p>
									</div>
								</div>
							</li>
							<!-- 官方文章 -->
							<li class="mui-table-view-cell official-article" v-if="i.type==2" @tap="articleDetail(i.info.id)">
								<div class="article-img">
									<img :src="i.info.thumb">
								</div>
								<div class="article-right">
									<p class="mui-ellipsis-2">
										{{i.info.title}}
									</p>
									<div v-if="i.info.is_top==1" class="stick-sign">
										<img src="../image/discover/stick-sign.png">
									</div>
									<div class="official-article-status">
										<span>{{i.info.add_time}}</span>
										<span><img src="../image/eye.png">{{i.info.click}}</span>
										<img src="../image/discover/official-sign.png">
									</div>
								</div>
							</li>
							<!-- 课程列表列表 -->
							<li class="mui-table-view-cell curriculum-list" v-if="i.type==3">
								<!-- <img style="width: 0.38rem;" src="../image/discover/loading.gif" > -->
								<div class="curriculum-img" @tap="curriculumDetail(i.info)">
									<img :src="i.info.cover_url">
									<!-- 是否购买课程标记 -->
									<img v-if="i.info.is_buy==1" class="buy-sign" src="../image/icon/already-bought-icon.png">
								</div>
								<div class="curriculum-list-right">
									<!-- 官方加stick-sign -->
									<p class="mui-ellipsis-2" @tap="curriculumDetail(i.info)">
										{{i.info.title}}
									</p>
									<!-- 商品价格 -->
									<span class="course-price" v-if="i.info.price>0">&yen;{{i.info.price}}</span>
									<div class="status-cont mui-clearfix" @tap="curriculumDetail(i.info)">
										<div class="mui-pull-left">
											<span class="ting-ke">主讲人：{{i.info.teacher_name}}</span>
										</div>
									</div>
									<div>
										<div v-if="i.info.state==0" class="cretae-timer" @tap="curriculumDetail(i.info)">
											开播：{{i.info.start_time}}
										</div>
										<div v-else-if="i.info.state==1" class="train-ing" @tap="curriculumDetail(i.info)">
											<img style="width: 0.38rem;" src="../image/discover/loading.gif">培训中</div>
										<div v-else class="cretae-timer" @tap="curriculumDetail(i.info)">
											结束：{{i.info.end_time}}
										</div>
										<div class="team-name mui-pull-right" @tap="teamDetail(i.info.team_id)">
											<img class="team-icon" src="../image/discover/team-icon.png">
											<span class="mui-ellipsis">{{i.info.team_name}}</span>
										</div>
									</div>
								</div>
							</li>
							<!-- 产品列表 -->
							<li class="mui-table-view-cell goods-list" v-if="i.type==4">
								<div class="goods-img" @tap="goodsDetail(i.info.id)">
									<img :src="i.info.cover">
								</div>
								<div class="goods-list-right">
									<!-- 官方加stick-sign -->
									<p class="mui-ellipsis-2" @tap="goodsDetail(i.info.id)">{{i.info.name}}</p>
									<div class="goods-nature" @tap="goodsDetail(i.info.id)">
										<span>供货价：&yen;{{i.info.price}}</span>
										<span>销量： {{i.info.sale_count}}件</span>
									</div>
									<div class="goods-earnings">
										<span @tap="goodsDetail(i.info.id)">利润：&yen;{{i.info.commission}}</span>
										<!-- 团队 -->
										<div class="team-name" @tap="teamDetail(i.info.team_info[0].id)">
											<img class="team-icon" src="../image/discover/team-icon.png">
											<span class="mui-ellipsis">{{i.info.team_info[0].name}}</span>
										</div>
									</div>
								</div>
							</li>
							<!-- 产品列表 -->
							<li class=" mui-table-view-cell goods-list" v-if="i.type==5">
								<div class="goods-img" @tap="goodsDetail(i.info.id)">
									<img :src="i.info.cover">
								</div>
								<div class="goods-list-right">
									<!-- 官方加stick-sign stick-sign-->
									<p class="mui-ellipsis-2 stick-sign" @tap="goodsDetail(i.info.id)">{{i.info.name}}</p>
									<div class="goods-nature" @tap="goodsDetail(i.info.id)">
										<span>供货价：&yen;{{i.info.price}}</span>
										<span>销量： {{i.info.sale_count}}件</span>
									</div>
									<div class="goods-earnings">
										<span @tap="goodsDetail(i.info.id)">利润：&yen;{{i.info.commission}}</span>
										<!-- 官方 -->
										<img src="../image/discover/official-sign.png">
									</div>
								</div>
							</li>
						</template>
					</ul>
				</div>
			</div>
			<div class="comment-bar-footer">
				<!-- 评论 -->
				<div class="comment-container">
					<textarea id="comment_matter" rows="" cols="" maxlength="200"></textarea>
					<span class="send-comment">评论</span>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/swiper.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript">
			var userInfo = getUserInfo(),
				skip = 1,
				limit = 10,
				pullDirection = "",
				mask = mui.createMask(function() {
					app.menuStatus = false;
					document.querySelector(".menu-body" + timeline_id).classList.remove("active");
					document.querySelector(".menu-list" + timeline_id).classList.remove("active");
					document.querySelector(".comment-icon-cont" + timeline_id).classList.remove("active");
					mui('.comment-bar-footer')[0].style.display = "none";
					plus.key.hideSoftKeybord();
				}),
				// 点赞的是第几条
				_idx = 0,
				// 动态id
				timeline_id = '',
				// 发布动态人的id
				to_uid = '';
			var app = new Vue({
				el: "#mui-content",
				data: {
					// 个人消息
					is_self: false,
					discover_info: {},
					// 类型
					typeler: [],
					// 动态
					dynamic: [],
					team_course: [],
					slider: ["../image/discover-default-cover.png"],
					screen: [{
							title: '好友动态',
							id: '1',
							selected: false
						}, {
							title: '旺客头条',
							id: '2',
							selected: false
						}, {
							title: '团队课程',
							id: '3',
							selected: false
						},
						{
							title: '企业总仓',
							id: '4',
							selected: false
						},
						{
							title: '旺客总仓',
							id: '5',
							selected: false
						}
					],
					like: false,
					// 评论部分
					menuStatus: false,
					cid: "-1",
					ArticleClassify: [],
					isArticleClassify: false,
					void_timeline: false,
					void_course: false,
					group_id: userInfo.group_id,
					// 是否显示评论
					iSdiscuss: true
				},
				created: function() {
					// 初始化字体大小
					var viewport = document.documentElement.clientWidth;
					if (viewport > 750) {
						viewport = 750
					}
					document.documentElement.style.fontSize = viewport / 7.5 + "px";
					// 初始化字体大小结束	
				},
				methods: {
					// 选择标签
					selectedTj: function(id, idx) {
						skip = 1;
						limit = 10;
						var stype = this.screen[idx].id;
						var _index = app.typeler.indexOf(stype);
						if (_index == -1) {
							app.typeler.push(stype);
							this.screen[idx].selected = true;
						} else {
							app.typeler.splice(_index, 1);
							this.screen[idx].selected = false;
						}
						if (pullDirection == 'up') {
							mui('#mui-content').pullRefresh().refresh(true);
						}
						// 显示文章分类
						if (app.typeler.length == 1 && app.typeler[0] == '2') {
							app.isArticleClassify = true;
						} else {
							app.isArticleClassify = false;
						}
						getDiscoverData();
					},
					// 跳转好友动态
					openDynamically: function(id) {
						mui.openWindow({
							url: "dynamic_space.html",
							id: 'dynamic_space',
							extras: {
								user_id: id,
							},
							waiting: {
								autoShow: true, //自动显示等待框，默认为true
								options: {
									background: "rgba(0,0,0,0)",
									loading: {
										display: 'block',
										height: '70px',
										icon: "../image/jump.png",
										interval: 25
									}
								}
							}
						})
					},
					// 点赞
					likeThis: function(id, pid, idx) {
						timeline_id = id;
						// 发布动态人的id
						to_uid = pid;
						_idx = idx;
						adoreIt();
						document.querySelector('.heart-icon' + timeline_id).classList.add('heartBeat');
						setTimeout(function() {
							document.querySelector('.heart-icon' + timeline_id).classList.remove('heartBeat');
						}, 500);
					},
					// 打开动态详情
					dynamicDetail: function(id) {
						openPage('dynamics_detail.html', 'dynamics_detail', "#f7f7f7", {
							aid: id,
							user_id: user_id
						})
					},
					// 打开文章
					articleDetail: function(id) {
						// mui.toast("打开文章" + id);
						openPage('article.html', 'article', '#ffffff', {
							article_id: id
						});
					},
					// 打开产品详情
					goodsDetail: function(id) {
						openPage('distributor_goods_detail.html', 'distributor_goods_detail', '#f7f7f7', {
							gid: id
						})
					},
					// 打开团队详情
					teamDetail: function(id) {
						openPage('team_detail.html', 'team_detail', '#f7f7f7', {
							teamid: id
						});
					},
					//打开课程详情
					curriculumDetail: function(courseInfo) {
						// 判断是否购买
						// logs(courseInfo);
						if (courseInfo.is_buy == 1 || courseInfo.price == 0 || courseInfo.captain_uid == userInfo.id) {
							if (courseInfo.state == 1 || courseInfo.state == 2) {
								// 直播页面
								openPage("live_streaming.html", "live_streaming", "#f7f7f7", {
									tid: courseInfo.team_id,
									courseId: courseInfo.id,
									courseTitle: courseInfo.title,
									teacherId: courseInfo.teacher_id,
									isSilent: courseInfo.is_silent,
									course: courseInfo
								});
							} else {
								// 未开播提示
								openPage("premiere_prompt.html", "premiere_prompt", "#f7f7f7", {
									course: courseInfo,
									kaola: true
								});
							}
						} else {
							openPage("buy_team_course.html", "buy_team_course", "#f7f7f7", {
								course: courseInfo,
							});
						}
					},

					// 评论
					pinglun: function(t_id, i_idx) {
						document.querySelector(".menu-list" + timeline_id).classList.remove("active");
						document.querySelector(".menu-body" + timeline_id).classList.remove("active");
						document.querySelector(".comment-bar-footer").style.display = "block";
						// mui('.comment-bar-footer')[0].style.display = "block";
						var _self = this;
						setTimeout(function() {
							_self.initNativeObjects();
							_self.showSoftInput();
						}, 100);
					},
					// 弹出键盘
					initNativeObjects: function() {
						if (mui.os.android) {
							var main = plus.android.runtimeMainActivity();
							var Context = plus.android.importClass("android.content.Context");
							InputMethodManager = plus.android.importClass("android.view.inputmethod.InputMethodManager");
							imm = main.getSystemService(Context.INPUT_METHOD_SERVICE);
						} else {
							nativeWebview = plus.webview.currentWebview().nativeInstanceObject();
						}
					},
					showSoftInput: function() {
						var inputElem = document.getElementById("comment_matter");
						if (mui.os.android) {
							imm.toggleSoftInput(0, InputMethodManager.SHOW_FORCED);
							setTimeout(function() {
								inputElem.focus();
							}, 200);
						} else {
							nativeWebview.plusCallMethod({
								"setKeyboardDisplayRequiresUserAction": false
							});
							setTimeout(function() {
								inputElem.focus();
							}, 200);
						}
					},
					// 显示菜单
					showMenu: function(_idd, idx) {
						_idx = idx;
						timeline_id = _idd;
						document.querySelector(".menu-body" + _idd).classList.add("active");
						document.querySelector(".menu-list" + _idd).classList.add("active");
						document.querySelector(".comment-icon-cont" + _idd).classList.add("active");
						// 判断ios不支持评论
						if (mui.os.ios) {
							app.iSdiscuss = false;
						}
						if (this.menuStatus) {
							this.menuStatus = false;
							mask.close();
						} else {
							this.menuStatus = true;
							mask.show();
						}
					},
				},
				mounted: function() {
					mui.init({
						keyEventBind: {
							backbutton: false,
							menubutton: false,
						},
						pullRefresh: {
							container: "#mui-content",
							up: {
								height: 50,
								auto: false,
								contentrefresh: "正在加载...",
								contentnomore: '没有更多数据了',
								callback: function() {
									pullDirection = "up";
									skip += 1;
									getDiscoverData();
								}
							},
							down: {
								style: 'circle',
								color: '#2289FF',
								callback: function() {
									pullDirection = "down";
									mui('#mui-content').pullRefresh().refresh(true);
									skip = 1;
									discoverInfo();
									getDiscoverData();
									getArticleClassify();
								}
							}
						}
					});
					mui.plusReady(function() {
						plus.webview.currentWebview().setStyle({
							scrollIndicator: 'none'
						});
						var ws = plus.webview.currentWebview();
						// 滚动的时候动态修改状态栏颜色
						var statusbarHeight = plus.navigator.getStatusbarHeight();
						var menuBar = document.getElementById('screen-menu');
						var conts = document.getElementById("discover-container");
						var distance = statusbarHeight + 100;
						window.addEventListener('scroll', function() {
							var isInvisible = plus.webview.currentWebview().isVisible();
							if (!isInvisible) return;
							if (conts.getBoundingClientRect().top < distance) {
								document.getElementById("zhanwei").style.display = "block";
								menuBar.classList.add("fixed");
								menuBar.style.top = 44 + statusbarHeight + 'px';
							} else {
								menuBar.style.top = '0';
								document.getElementById("zhanwei").style.display = "none";
								menuBar.classList.remove("fixed");
							}
							if (conts.getBoundingClientRect().top < 240) {
								plus.navigator.setStatusBarStyle("dark");
							} else {
								plus.navigator.setStatusBarStyle("light");
							}
						});
						getDiscoverData();
						discoverInfo();
						getArticleClassify();
						// 初始化滚动
						mui('.mui-scroll-wrapper').scroll({
							scrollY: false,
							scrollX: true,
							startX: 0,
							startY: 0,
							indicators: false,
							deceleration: 0.0006,
							bounce: true
						});
						// 滚动到最左边
						// mui('.mui-scroll-wrapper').scroll().scrollTo(0, 0, 100);
					})
					// 初始化两次防止页面乱
					// 初始化字体大小
					var viewport = document.documentElement.clientWidth;
					if (viewport > 750) {
						viewport = 750
					}
					document.documentElement.style.fontSize = viewport / 7.5 + "px";
					// 初始化字体大小结束
				}
			})

			function initSlider() {
				// 初始化轮播
				var mySwiper = new Swiper('.swiper-container', {
					//可选选项，自动滑动
					// autoplay:true,
					autoplay: {
						delay: 3000,
						// 用户操作之后不会停止轮播
						disableOnInteraction: false,
					},
					loop: true,
					// 分页器
					// pagination: {
					// 	el: '.swiper-pagination',
					// },
				})
			}
			// 点击自定义图标
			function shareHref() {
				openPage('issue_dynamics.html', 'issue_dynamics', '#f7f7f7');
				plus.navigator.setStatusBarStyle("dark");
				// mui.openWindow({
				// 	url: 'activation.html',
				// 	id: 'activation'
				// });
			}
			// 数据请求
			function getDiscoverData() {
				logs("//..................................................")
				logs(userInfo.token)
				logs(app.typeler.join(","))
				logs(skip)
				logs(limit)
				logs(app.cid)
				logs("//..................................................")
				mui.post($ajaxUrl + 'discover&action=discover_list', {
					token: userInfo.token,
					type: app.typeler.join(","),
					skip: skip,
					limit: limit,
					article_cid: app.cid,
				}, function(res) {
					logs(res); 
					if (res.errno == 0) {
						if (skip == 1) {
							app.dynamic = [];
							app.dynamic = res.data;
						} else {
							app.dynamic = app.dynamic.concat(res.data);
						}
						if (pullDirection == "up") {
							mui('#mui-content').pullRefresh().endPullupToRefresh(false);
						} else if (pullDirection == "down") {
							mui('#mui-content').pullRefresh().endPulldownToRefresh();
						}
						app.void_timeline = false;
					} else {
						if (skip == 1) {
							app.dynamic = [];
							app.void_timeline = true;
						}
						if (pullDirection == "up") {
							mui('#mui-content').pullRefresh().endPullupToRefresh(true);
						} else if (pullDirection == "down") {
							mui('#mui-content').pullRefresh().endPulldownToRefresh();
						}

						// // 显示没有动态提示
						// if (app.typeler.length == 1 && app.typeler[0] == '1') {
						// 	app.void_timeline = true;
						// } else {
						// 	app.void_timeline = false;
						// }
						// // 显示没有团队课程提示
						// if (app.typeler.length == 1 && app.typeler[0] == '3') {
						// 	app.void_timeline = true;
						// } else {
						// 	app.void_timeline = false;
						// }
						// if(skip==1){
						// 	
						// }
					}
				}, 'json');
				// setTimeout(function() {
				// 	mui('#mui-content').pullRefresh().endPullupToRefresh(false);
				// 	mui('#mui-content').pullRefresh().endPulldownToRefresh();
				// }, 10000)
			}
			// 获取用户信息
			function discoverInfo() {
				mui.post($ajaxUrl + 'discover&action=user_info', {
					token: userInfo.token,
					user_id: ''
				}, function(res) {
					if (res.errno == 0) {
						app.discover_info = res.data;
						user_id = res.data.id;
						if (user_id == userInfo.id) {
							app.is_self = true;
						} else {
							app.is_self = false;
						}
						// 初始化轮播
						if (res.data.timeline_cover.length > 0) {
							app.slider = [];
							app.slider = res.data.timeline_cover;
							setTimeout(function() {
								if (res.data.timeline_cover.length > 1) {
									initSlider();
								}
							}, 500);
						} else {
							app.slider = ["../image/discover-default-cover.png"];
						}
					} else {
						app.slider = ["../image/discover-default-cover.png"];
					}
				}, 'json');
			}
			// 点赞
			function adoreIt() {
				mui.post($ajaxUrl + 'timeline&action=thumbs', {
					token: userInfo.token,
					timeline_id: timeline_id,
					to_uid: to_uid
				}, function(res) {
					if (res.errno == 0) {
						// alert(userInfo.nickName);
						if (app.dynamic[_idx].info.is_thumbs == 1) {
							app.$set(app.dynamic[_idx].info, "is_thumbs", "0");
							app.$set(app.dynamic[_idx].info, "thumbs_number", parseInt(app.dynamic[_idx].info.thumbs_number) - 1);
							var idx = app.dynamic[_idx].info.thumbs_user.indexOf(userInfo.nickName);
							app.dynamic[_idx].info.thumbs_user.splice(idx, 1);
						} else {
							app.$set(app.dynamic[_idx].info, "is_thumbs", "1");
							app.$set(app.dynamic[_idx].info, "thumbs_number", parseInt(app.dynamic[_idx].info.thumbs_number) + 1);
							app.dynamic[_idx].info.thumbs_user.unshift(userInfo.nickName);
						}
					} else {
						// app.dynamic = [];
					}
				}, 'json');
			}
			// 删除动态
			function deleteDynamics(tid, ii) {
				mask.close();
				document.querySelector(".menu-body" + timeline_id).classList.remove("active");
				document.querySelector(".menu-list" + timeline_id).classList.remove("active");
				document.querySelector(".comment-icon-cont" + timeline_id).classList.remove("active");
				plus.nativeUI.confirm("确认删除该动态吗？", function(e) {
					if (e.index) {
						// 取消
					} else {
						mui.post($ajaxUrl + 'timeline&action=delete', {
							token: userInfo.token,
							tid: tid,
						}, function(res) {
							if (res.errno == 0) {
								app.dynamic.splice(ii, 1);
								message("删除成功");
							} else {
								message("删除失败，稍后重试");
							}
						}, 'json');
					}
				})
			}
			// 监听发布新动态
			window.addEventListener('doit', function() {
				app.typeler = [];
				skip = 1;
				getDiscoverData();
			}, false);
			// 监听课程购买
			window.addEventListener('buycourse', function() {
				getDiscoverData();
			}, false);
			// 更换封面
			mui(".mui-content").on("tap", ".swiper-slide", function() {
				if (app.is_self) {
					plus.nativeUI.actionSheet({
						// title: "更换封面照片",
						cancel: "取消",
						buttons: [{
							title: "更换封面照片"
						}]
					}, function(e) {
						var index = e.index;
						switch (index) {
							case 0:
								// text += "取消";
								break;
							case 1:
								openPage('change_cover.html', 'change_cover', '#f7f7f7', {
									cover: app.slider
								});
								break;
						}
					});
				}
			})
			// 监听封面修改
			window.addEventListener('reloadCover', function() {
				// location.reload();
				discoverInfo();
			}, false);
			// 打开写作页面
			mui(".mui-content").on("tap", ".operation-btn", function() {
				mui.openWindow({
					url: "article_operation.html",
					id: "article_operation",
					styles: {
						bounce: 'none',
						scrollsToTop: true,
						popGesture: 'close',
						background: '#ffffff',
						// background: 'transparent',
						statusbar: {
							background: "#ffffff"
						}
					},
					extras: '',
					createNew: false,
					show: {
						autoShow: true,
						aniShow: 'slide-in-bottom',
						duration: 150,
						event: 'titleUpdate',
						extras: {
							acceleration: 'auto',
							capture: '',
							otherCapture: ''
						}
					},
					waiting: {
						autoShow: false
					}
				})
			})
			// 分享
			function shareBtn(id, cont, img, toUid) {
				app.isComment = true;
				document.querySelector(".menu-body" + timeline_id).classList.remove("active");
				mask.close();
				if (typeof(img) == "undefined" || img.length < 6) {
					img = "https://bfwangke.oss-cn-shenzhen.aliyuncs.com/images/6/2019/05/miniprogram_share.jpg"
				}
				var imgs = img.substring(img.lastIndexOf("/"));
				var sd_path = "_downloads" + imgs;
				plus.io.resolveLocalFileSystemURL(sd_path, function(e) {
					shareToMiniprogram({
						title: cont,
						content: cont,
						thumbs: [sd_path],
						miniProgram: {
							id: 'gh_9fa5f42ab939',
							path: '/longbing_card/pages/news/detail/detail?id=' + id + '&isStaff=true&to_uid=' + toUid + '&from_id=' +
								userInfo.id,
							webUrl: 'https://app.wangkeapp.cn/'
						}
					}, 'miniProgram');
				}, function(e) {
					showload(0, 0, '图片处理中...', "rgba(0,0,0,0.5)");
					var imgpath = '';
					var imgDtask = plus.downloader.createDownload(img, {
						method: 'GET'
					}, function(d, status) {
						if (status == 200) {
							//图片压缩
							plus.zip.compressImage({
									src: d.filename,
									dst: d.filename,
									overwrite: true,
									width: '500px',
									format: 'jpg',
									quality: 90
								},
								function(e) {
									imgpath = e.target;
									if (imgpath) {
										showload(1);
										shareToMiniprogram({
											title: cont,
											content: cont,
											thumbs: [imgpath],
											miniProgram: {
												id: 'gh_9fa5f42ab939',
												// path: '/longbing_card/pages/news/detail/detail?id=' + id + '&isStaff=true',
												path: '/longbing_card/pages/news/detail/detail?id=' + id + '&isStaff=true&to_uid=' + toUid +
													'&from_id=' +
													userInfo.id,
												webUrl: 'https://app.wangkeapp.cn/'
											}
										}, 'miniProgram');
									}
								},
								function(error) {
									message("Compress error!");
								});
						} else {
							mui.toast('保存失败')
						}
					});
					imgDtask.start();
				});
			}
			// 评论
			mui(".comment-bar-footer").on("tap", ".send-comment", function() {
				var conts = document.getElementById("comment_matter").value;
				if (conts == " " || conts.length < 1) {
					message("评论内容不能为空!");
					return;
				}
				mui.post($ajaxUrl + 'timeline&action=comment', {
					token: userInfo.token,
					timeline_id: timeline_id,
					content: conts
				}, function(res) {
					if (res.errno == 0) {
						var self_comment = {
							user_id: userInfo.id,
							content: conts,
							nickName: userInfo.nickName
						}
						app.dynamic[_idx].info.comment.unshift(self_comment)
						document.getElementById("comment_matter").value = "";
						document.activeElement.blur();
						mask.close();
						mui('.comment-bar-footer')[0].style.display = "none";
					} else {}
				}, 'json');
			})
			// 获取文章分类
			function getArticleClassify() {
				mui.post($ajaxUrl + 'article', {
					action: "class_list"
				}, function(res) {
					if (res.errno == 0) {
						app.ArticleClassify = res.data;
					} else {

					}
				}, 'json');
			}

			function changeArticleClassify(cls_id) {
				app.cid = cls_id;
				skip = 1;
				if (pullDirection == 'up') {
					mui('#mui-content').pullRefresh().refresh(true);
				}
				getDiscoverData();
			}

			// 预览图片
			function previewImage(parentIdx, selfIdx) {
				var urls = app.dynamic[parentIdx].info.cover;
				// logs(urls);
				logs(selfIdx);
				plus.nativeUI.previewImage(urls, {
					current: selfIdx,
					loop: true,
					indicator: 'default',
					onLongPress: function(event) {
						plus.nativeUI.confirm("保存图片到系统相册", function(e) {
							if (e.index == 0) {
								showload('', '', '保存中···', 'rgba(0,0,0,0.5)');
								plus.gallery.save(event.url, function() {
									showload(1);
									plus.nativeUI.toast("保存成功!");
								}, function() {
									showload(1);
									plus.nativeUI.toast("保存失败!");
								});
							} else {
								// plus.nativeUI.toast("取消");
							}
						});
					}
				});
			}
		</script>
	</body>

</html>
