<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.create-tags {
				height: 44px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 10px;
				z-index: 16;
				font-size: 14px;
				color: #2289FF;
			}

			.mui-content>.mui-table-view:first-child {
				margin-top: 0;
			}

			h4 {
				font-size: 15px;
				color: #333333;
				font-weight: normal;
			}

			p {
				color: #999999;
				font-size: 13px;
			}

			.void-tags {
				padding-top: 60px;
				text-align: center;
				font-size: 14px;
				color: #999999;
			}

			.void-tags span {
				color: #2289FF;
			}

			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<div class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></div>
			<h1 class="mui-title">设置标签</h1>
			<div class="mui-pull-right create-tags">
				<span>新建标签</span>
			</div>
		</header>
		<div id="mui-content" class="mui-content setting-container" v-cloak>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" v-for="(list,idx) in tagsList" :key="idx" :data-tagid="list.id" :data-tagname="list.name">
					<div class="mui-slider-right mui-disabled">
						<a class="mui-btn mui-btn-red" :data-tagid="list.id">删除</a>
					</div>
					<div class="mui-slider-handle">
						<h4>{{list.name}}({{list.total}})</h4>
						<p class="mui-ellipsis"><template v-for="(i,index) in list.member" :key="index">{{i}}<template v-if="index<list.member.length-1">、</template></template></p>
					</div>
				</li>
			</ul>
			<div v-if="isVoid" class="void-tags">
				暂时没有标签，<span>去创建</span>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript">
			var userInfo = getUserInfo();
			var app = new Vue({
				el: "#mui-content",
				data: {
					tagsList: [],
					isVoid: false
				},
				mounted: function() {
					getTagsList();
					mui.init({
						beforeback: function() {
							plus.navigator.setStatusBarStyle("light");
						}
					})
					mui.plusReady(function() {
						var self = plus.webview.currentWebview();
						// logs(self.source);
					})
					// 新建标签
					mui(".mui-bar-nav").on('tap', '.create-tags', function() {
						openPage('create_tags.html', 'create_tags', '#f7f7f7');
					})
					// 去创建标签
					mui(".mui-content").on('tap', '.void-tags', function() {
						openPage('create_tags.html', 'create_tags', '#f7f7f7');
					})
					// 点击删除
					mui('.mui-content').on('tap', '.mui-btn-red', function(event) {
						var li = this.parentNode.parentNode;
						var tagid = this.dataset.tagid;
						mui.confirm('确认删除该条记录？', '', ['确认', '取消'], function(e) {
							if (e.index == 0) {
								mui.post($ajaxUrl + 'label&action=delete_label', {
									token: userInfo.token,
									label_id: tagid
								}, function(res) {
									if (res.errno == 0) {
										li.parentNode.removeChild(li);
										// 先删除节点在请求
										getTagsList();
										message('删除成功');
									} else {
										message('删除失败，请稍后重试');
									}
								}, 'json');
							} else {
								mui.swipeoutClose(li);
							}
						});
					});
					// 点击跳转到标签编辑
					mui('.mui-content').on('tap', '.mui-table-view-cell', function(event) {
						var li = document.querySelector('.mui-selected');
						var tagid = this.dataset.tagid;
						var tagname = this.dataset.tagname;
						if (li) {
							mui.swipeoutClose(li);
						} else {
							openPage('tags_edit.html', 'tags_edit', '#f7f7f7', {
								tgid: tagid,
								tgnm: tagname
							})
						}
					});
					window.addEventListener('refreshList', function(event) {
						getTagsList();
					})
				}
			})
			// 获取标签列表
			function getTagsList() {
				mui.post($ajaxUrl + 'label&action=label_list', {
					token: userInfo.token
				}, function(res) {
					if (res.errno == 0) {
						app.isVoid = false;
						app.tagsList = res.data;
					} else {
						app.isVoid = true;
					}
				}, 'json');
			}
		</script>
	</body>

</html>
